@charset "utf-8";
/* CSS Document */
/*
/* 1 Changes start here */
body {
	background-color: #fff;
	background-image:url(images/bg-header.png);
	background-repeat:repeat-x;
	background-position:left top;
	margin-left:auto;
	margin-right:auto;
	color:#000000;
	font-family:Arial;
	font-size:0.72em;
	line-height:15px;
}
body.homepage {background-image:none;}
a {
	color:#003399;
	text-decoration:none;
}
a:hover {
	color:#333333;
}
#h1 {
	font-size: 160%;
	text-transform:uppercase;
	font-family:Nobel-Regular;
}
h2 {
	font-size: 130%;
	text-transform:uppercase; 
	font-family:Arial;
	color:#000;
}
h3 {
	font-size:130%;
	color:#000;
	font-family:Nobel-Light;
}
a img  {
	border: 0px solid;
}
table, td 
{
   font-size:12px;
   font-family:Arial;
   color:#000000;

}
/* CLASSED */
.left {
	clear:left;
	height:14px;
   /* width: 950px;*/
    /*background-color:#E7E7E7;*/
    /*background-color:#E2E2E2;*/
}

.leftLoginPage {
	clear:left;
    height: 14px;
    width: 950px;
    background-color:#E7E7E7;
}

.leftLoginPageFooter {
	clear:left;
    height: 14px;
    width: 950px;
    /*background-color:#E7E7E7;*/
}

.rightBorder {
border-right:1px solid #ccc;
}
table.tblHighlight td{
	background-color:#EAEAEA;
	padding:5px;
}
table.tblHighlight {
	margin-bottom:10px;

}
table.tblHighlight td.bgNone {
	background-color:#EAEAEA;
	margin-bottom:10px;
}
p.errorMsg {
	background-color:#EAEAEA;
	border:2px solid #d90000;
	color:#d90000;
	padding:20px;
}

/*.testqq
{
    style="padding-left:20px;"    
}*/
a.more
{
    background:url("images/link-arrow-grey.png") no-repeat scroll 5px 5px transparent;
    /* background-image:url(/App_Themes/Lexus/images/link-arrow-grey.png); */
	background-repeat:no-repeat;
	padding-left:12px;
	vertical-align:middle;
}
a.faqR {
	background-image:url(images/link-arrow-grey.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:10px;
	text-align:center;
	float:right;font-size: 12px;
}



.helpIcon {
	float:right;
	margin-right:3px;    
}
.LFSlogo {
	margin: 30px 0px 5px 30px;
}
td.Ldescription {
	background-color:#eaeaea;
	border-bottom:1px solid #CCCCCC;
	border-right: none;
	color:#000;
	font-weight: bold;
	width: 25%;
}
td.LData {
	background-color:#fff;
	color:#000;
	border-right: #CCC 1px solid;
	border-bottom: #E9E9E9 1px solid;
	width: 25%;
}

td.LData_nrb {
	background-color:#fff;
	color:#000;
	border-right: none;
	border-bottom: #E9E9E9 1px solid;
}

table.dataG th{
	background-color:#D0D0D0;
	text-align:center;
	vertical-align:top;
	border-bottom:2px solid #CCCCCC;
	border-right:medium none;
	color:#000;

}
table.dataG td 
{
    background-color:#fff;
	color:#000;
	border-color:#CCCCCC;
	border-style:dotted solid;
	border-width:1px;
	border-bottom: 1px solid #383637; 

}
/* 1 Changes Done till here */


.Grid { border-style: none; }

.GridHeader{
    border-style: none;
    background-color:#D0D0D0;
	text-align:left;
	vertical-align:top;
	color:Black;
}
.GridHeaderPayoutQuoteLetter{
    border-style: none;
    background-color:#D0D0D0;
	text-align:center;
	vertical-align:top;
	color:Black;
}
.GridItem{    
    border-bottom: 1px solid #383637;
    color:#000;
}

.GridHeaderCurrency{
    border-style: none;
    background-color:#D0D0D0;
	text-align:right;
	vertical-align:top;
	color:Black;
}

.GridItemCurrency{    
    border-bottom: 1px solid #383637;
    color:#000000;
    text-align: right;   
}



#copy input {
	width:50px

}
#copy input.button:hover, input.button:hover { background: url(images/butBG_sprite.gif) repeat-x 0 -28px;}
#copy input.faqButton:hover, input.faqButton:hover { background: url(images/butBG_sprite.gif) repeat-x 0 -28px;}

#copy input.textbox {
	width:400px;
}

#copy input.butlink, input.butlink {
	background-color:#00638a;
	background: url(images/butBG_sprite.gif) top left;
	background-repeat:repeat-x;
	padding-left: 10px;
	padding-right: 10px;
	width:auto;
	color:#FFF;
	border:none;
	font-weight:bold;
	height:28px;
	text-transform:uppercase;
	font-size:90%;
	margin-right:2px;
	cursor:pointer;
}

#copyhome input.button, input.button {
	background-color:#303030;
	background-image:url(images/butBG_sprite.gif);
	background-repeat:repeat-x;
	width:auto;
	color:#FFF;
	border:none;
	font-weight:bold;
	font-family:Arial;
	height:28px;
	text-transform:uppercase;
	font-size:11px;
	float:right;
	margin-right:2px;
}

#copy input.butlink:hover, input.butlink:hover { background: url(images/butBG_sprite.gif) repeat-x 0 -28px;}


#copy input.radioB {
	width:auto;
}
#copy input.dateWidth {
	width:auto;
}
#copy ul li { list-style: url(images/ul_icon.gif);}

#agreeButtons {
	float:right;
	width:220px;

}
#refButtons {
	float:right;
	width:220px;

}
#medium {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}


#wrapperLogin {
	border:1px solid #cccccc;
	width:960px;
	margin-left:auto;
	margin-right:auto;    
}
#content {
	padding: 30px 0px 30px 30px;
	background-repeat:repeat-y;
	background-position:right;

}
#content h1 {
	padding:0px;
	margin:0px 0px 20px 5px;
	font-size: 160%;
	color:#000;
}
#content h2 {
	margin-left: 5px;
}
#rightToolBar {
	float:left;
	width:250px;
}
#copy {
	float:left;
	width:630px;
	margin-right:30px;
	color:#000;
}
#header {
	/*clear:both;*/
	clear:both;
	background-color:#FFF;

}

#nav {
	padding: 0px;
	margin-top:20px;
	margin-bottom:5px;
	color:#000;
	background-color:#fff;
	float:left;
	width:960px;
}
#nav ul {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	list-style:none;
	display:inline;
	background-color:#fff;
	color:#000;
	float:left;
}
#nav li {
	list-style:none;
	display:inline;
	font-weight:bold;
	font-size:100%;
	color:#000;
	_padding: 20px 0 25px 0;
    _margin: -10px 0 -20px 0;
padding: 10px 0 25px 0;
        margin: -10px 0 -25px 0;
	border-right: 1px solid #d9d9d9;
	float:left;
}
#nav li a {
	text-transform:uppercase;	
	display:inline;
	padding: 10px 10px 10px 10px;
	color:#000;
}
#nav li a:hover {	
	color:#fff;
	padding: 10px 10px 10px 10px;
    background :url(images/bg-nav-over.png) repeat-x left top transparent;
	background-color:#000000; 
	display:inline;
}
#nav li a.navOn {
	 background-color:#383637; 
	background-image:url(images/bg-nav-over.png);
	background-repeat:repeat-x;
	color:#fff;
}
/* TOOLBOX Nav */


#toolNav {
	padding: 20px;
	/* padding-top:5px;*/
	_padding: 20px 0;
padding: 20px 0;
	width:230px;
	float:right;
	text-align:right; 
}
#toolNav ul {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 30px;
	list-style:none;
	display:inline;
	color:#003399;

	
}
#toolNav li {
	list-style:none;
	display:inline;
	margin-right:10px;

	font-size:100%;
	color:#003399;
}
#toolNav li a {
	text-transform:uppercase;	
	display:inline;	
	color:#00C;
}
#toolNav li a:hover {	
	color:#333333;
	display:inline;
	
}

/* END toobox Nav */

/*#loginBox li a{
	list-style:none;
	padding:0px 0px 0px 20px;
	display:block;	
	margin:0px 0px 15px 0px;
	background-image:url(../../App_Themes/Lexus/images/link-arrow-grey.png);
	background-repeat:no-repeat;
}*/


/*
at:left;
	cursor:hand
}*/

#companyImage 
{
    background-image: url

(../../App_Themes/Lexus/images/LexusFinancialServicesLogo.gif);
    background-repeat: no-repeat;
    width: 330px;
    height: 124px;     
	float:left;
}
#companyImage2 
{
    background-image: url(../../App_Themes/Lexus/images/LFSLogo.png);
    background-repeat: no-repeat;
    width: 344px;
    height: 59px;	
}
/*#curveline
{
    background-image: url(/App_Themes/Common/images/curve2.gif);
    background-repeat: no-repeat;
    width: 948px;
    height: 46px;
}*/



.MarketingImg
{
    margin-left:26px;
}
.MyCalendar .ajax__calendar_container
{
   /* border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: Black;
    z-index:15000; */
    
    border: 1px solid #FFFFFF;
    background-color: #999999;
    color: #FFFFFF;
    z-index:15000;
    font-weight:bold;
    
    }
    

.MyCalendar .ajax__calendar_active
{ 
    background-color: Black; 
    color: White;
} 
    
    .MyCalendar .ajax__calendar_days
    {
        color:#FFFFFF;
        background-color:#666666;
        height:130px;
        
        }
    .MyCalendar .ajax__calendar_day
    {
        color:#FFFFFF;
    }
    
    
    
   
      

.MyCalendar .ajax__calendar_container .ajax__calendar_header .ajax__calendar_prev 
{
	background-image:url(../../App_Themes/Lexus/images/CalendarBackArrow.png);
}

.MyCalendar .ajax__calendar_container .ajax__calendar_header .ajax__calendar_next
{
	background-image:url(../../App_Themes/Lexus/images/CalendarArrow.png);
}

.MyCalendar .ajax__calendar_header 
{
    background-color:#999999;
    
    }
    
    .MyCalendar .ajax__calendar_dayname 
    {
       color:#FFFFFF;
       background-color:#666666;
       border-color:#666666;
       border-style: solid;
       border-width:1px;
       
    }

.MyCalendar .ajax__calendar_days 
{
    background-color:#999999;
}

.MyCalendar .ajax__calendar_body 
{
   /* background-color:#999999;*/
    }


.MyCalendar .ajax__calendar_disabled .ajax__calendar_day 
{
    /*background-color:#D0D0D0;*/
   /* background-color:#ffffff; */
    border-color:#ffffff;
    color:#FFFFFF;
    
}
#marketingAds p{
	margin:0px 36px 10px 26px;
	background-color:#E7E7E7;
}
#marketOne 
{
    float:left;
	width:302px;
	_width:290px;
	background-color:#E7E7E7;
	margin:0px 5px 10px 7px;
	clear:right;
	}

.imgTest
{
    margin-left:0px;
}
#marketTwo {
	float:left;
	width:315px;
}
#marketThree {
	float:left;
	width:315px;
}
#footer {
	width:946px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	color:#000;
	border-style:none;
	border-bottom:none;
	/*background-color:#FFFFFF;
	border-style:none;
	border-color:White;*/
	

}
#mainImage {
	cursor:pointer;
}

/* This is so Banner sits flush with Nav in IE6 */
 
#mainBanner { _margin-top: -5px;}


#mainImage2 {
background-image:url("../../App_Themes/Lexus/images/lexusBanner.jpg");
background-repeat:no-repeat;
cursor:pointer;
float:left;
height:161px;
margin-top:-10px;
width:960px;
}

#marketingAds {
	background-color:#E7E7E7;
	/* background-image:url(../../App_Themes/Lexus/images/Marketingbg.gif); */
	background-repeat:repeat-x;
	background-position: top;
	width:950px;
	/*margin-top: -4px;*/
		clear:left;
	min-height:100px;
	line-height:normal;
	padding-top:10px;
		
}

	/*background-repeat:repeat-x;
	background-position:top;
	width:950px;
	margin-top: -4px;
		clear:left;
	min-height:140px;
}*/

#marketingAds p{
	margin:0px 36px 10px 26px;
}
/*#marketOne {
	float:left;
	width:315px;*/
	/*margin-left:10px;
}*/

#marketTwo {
	float:left;
	width:315px;
}
#marketThree {
	float:left;
	width:315px;
}
/*#footer {
	width:950px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	color:#000;

}

#footerPOP {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	color: #000;
}
#marketThree {
	float:left;
	width:315px;
}
#footer {
	width:950px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	color:#000;

}*/

#footerPOP {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	color: #000;
	border-style:none;
}
#termsC {
	float:right;
}
#termsConditionsPopup {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #CCCCCC;
	background-color:#fff;
}
#termsConditionsPopup h1 {
	padding:20px;
	margin:0px;
	font-size: 14px;
	text-transform:uppercase;
	background-color:#d0d0d0;
	color:#000;
}
#termsConditionsPopup h2 {
	font-size:150%;
}
#termsConditionsPopup h3 {
	font-size:130%;
}
#termCondContain {
	padding:20px;
	color:#000;
	background-color:#FFFFFF;
}

#termCondContain p {
	font-size:12px;
	color:#000;
}
.myerrMsg
{
	background-color:#FFCCCC;
	border:2px solid #d90000;
	color:#000000;
	padding:8px;
	margin: 0;
	position:relative;
	z-index:1000;    
}
.notificationMsg
{
    background-color:#D0D0D0;
	border:none;
	color:#000000;
	padding:8px;
	margin: 0;
	position:relative;
	z-index:1000;
}

#agree {
	border-top:1px solid #EAEAEA;
	background-color:#D0D0D0;
	padding:10px;
	/*color:#000000;*/
}
#Refagree {
	border-top:1px solid #EAEAEA;
	background-color:#D0D0D0;
	padding:2px 1px 11px 10px;
	height:20px;
	font-family:Arial;
	font-size:11px;
	vertical-align:middle;

/* ### FAQs Right Bar */
}
#faqsRB {
   color:#000;
}
#faqsRB dl {
	padding:10px;
	margin:10px;
}
#faqsRB dt {
	font-size:130%;
	padding:5px;
	font-weight:bold;
}
#faqsRB dd input 
{
    float:right;
    width:64px;
}
#faqsRB dd {
	padding:5px;
	margin:0px;
}

#faqsRB dd a:hover {
	color:#333333;
}

/* ### HELP Right Bar */

#helpRB {
color:#000;
}
#helpRB dl {
	padding:0px;
	margin:10px;
}
#helpRB dt {
	color:#000;
	font-size:130%;
	padding:10px;
	font-weight:bold;
}
#helpRB dd {
	padding:10px;
	margin:0px;
}

#helpRB dd a:hover {
	color:#333333;
}

/* ### FAQs Right Bar */

#likeTwo {
   color:#000;
}
#likeTwo dl {
	padding:0px;
	margin:10px 10px 30px 10px;
}
#likeTwo dt 
{
    color:#000;
	/*background-color:#231f20;*/
	font-size:130%;
	padding:10px;
	font-weight:bold;
}
#likeTwo dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px;
	font-size:11px;
  	text-transform:uppercase;
	color:#000;
	border-top: 1px solid #ebebeb;

	
}
#likeTwo dd a {
	background-image: url(images/link-arrow-grey.png) ;
	background-repeat:no-repeat;
	padding-left:25px;
	color:#003399;
	}
	
	#likeTwo dd a:hover {
	color:#333333;
}


/* ### FAQs Right Bar */

#FAQL 
{
    color:#000;
}
#FAQL p{
	background-image:url(images/link-arrow-grey.png);
	background-repeat:no-repeat;
	padding-left:25px;	margin:0px;
	line-height:10px;
	font-size:11px;
	color:#003399;
	
}
#FAQL dl {
	padding:0px;
	margin:10px 10px 30px 10px;
}
#FAQL dt {
	/* background-color:#231f20; */
	font-size:130%;
	padding:10px;
	font-weight:bold;
}
#FAQL dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px;
	font-size:11px;
  	text-transform:uppercase;
	color:#000;
	border-top: 1px solid #ebebeb;

	
}

#FAQL dd a p:hover {
	color:#333333;
}
#FAQL dd a {
	
/* ------ TIME ----- */

}

#time {

}
#time p{
	background-image:url(../../App_Themes/Lexus/images/dd.gif);
	background-repeat:no-repeat;
	padding-left:25px;	margin:0px;
	line-height:15px;

}
#time dl {
	padding:0px;
	margin:10px 10px 10px 10px;
}
#time dt {
	background-color:#000000;
	color:#FFFFFF;
	font-size:130%;
	text-transform:uppercase;
	padding:10px;
	font-size:90%;
	text-align:center;

}
#time dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px;
	
}
/* ### HELP Right Bar */







.results-pagination {
	font-size: 11px;
	/*background:transparent url("images/pagination_bg.gif") no-repeat 0 100%;*/
	padding: 8px;
	text-align:right;
	margin: 0 0 10px;
	/* color: #FFF; */
}
.results-pagination p {
	margin:0;
}
.results-pagination a:link, .results-pagination a:visited {
	background:#fff;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#000;
}
.results-pagination a:hover, .results-pagination a:active {
	background:#3f3f3f;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#fff;
	text-decoration:none;
}
.pagination-previous, .pagination-current, .pagination-next {
	font-weight:bold;
}
span.pagination-previous, span.pagination-next {
	background:#fff;
	padding: 3px 5px;
	border: 1px solid #e7e7e7;
	color:#afafaf;
}
.pagination-current {
	background:#3f3f3f;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#fff;
}





#payoutResult {
	border:1px solid #EAEAEA;
	background-color:#d0d0d0;
	padding:15px;
	margin:15px 0px 15px 0px;
}
a.printTransactions {
	background-image:url(/App_Themes/Common/images/pdf.gif);
	background-repeat:no-repeat;
	float:left;
	display:block;
	width:150px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
a.printPDF {
	background-image:url(/App_Themes/Common/images/pdf.gif);
	background-repeat:no-repeat;
	float:right;
	display:block;
	width:150px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
a.getAdobe {
	float:right;
	display:block;
	width:100px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
a.unreadNotification {
	color:#003399;
	text-decoration:underline;
	font-weight:bold
}
#downloadPDF {
	background-color:#D0D0D0;
	padding:15px;
	margin-top:15px;
}
td.lightrow {
	background-color:#D0D0D0;
	border-bottom:2px solid #CCCCCC;
	border-right:medium none;
	color:#000;

}

/* Start - Added Newly */

/*<!--LOGIN STYLES-->*/
.box-main {
    background-color:#f2f2f2;
	background-image: url(images/Login_Main_Image.jpg);
	background-position:left;
	background-repeat: no-repeat;
	width:958px;
	float:left;
	height:440px;
	border:1px solid #cccccc;
}
.box-pass{	
	width:430px;
	float: right;
	margin-top: 18px;
	line-height:normal;
	font-size:12px;
	color:#000;
}

.box-pass input {
	width: 200px;
	border:1px solid #CCC;
	font-size: 1em;
	padding: 5px 5px 5px 4px;
}

.box-pass p{
	margin-top: 20px;
	line-height:normal;
	color:#000;
	text-transform:none;
}

.box-pass table {
	padding-right:50px;
}

.box-pass table td {
	padding-top:10px;
}
.box-login {
	width:465px;
	height:320px;
	float:left;
	line-height:1em;
}
.box-login h1{
	text-transform:uppercase;
	font-size:150%;
	margin:0;
}

.box-login input {
	width:200px;
	border:1px solid #CCC;
	font-size: 0.9em;
	padding: 5px 5px 4px;
}
.box-bottom {
	background-color:#e7e7e7;
	width:958px;
	height:150px;
	float:left;
	border:1px solid #cccccc;
}
.box-section{
	width:280px;
	padding-left:30px;
	float:left;
	margin-top:10px;
	line-height:normal;
	color:#000;
	overflow:hidden;
}

.box-section p a {
	text-transform:uppercase;
	font-size:11px;
	background: transparent url(images/link-arrow-grey.png) 0px 3px no-repeat;
	padding: 0px 0px 3px 7px;
	margin-top: 10px;
 	display: block;
 	font-weight: bold;
 	text-decoration: none;
 	color: #003399;
 	line-height: 14px;
}

.box-section p a:hover {
	color: #333333;
}
       
#loginBox ul {
	margin:0px;
	padding:20px 10px 10px 10px;
	list-style:none;
	border-top: 1px solid #EAEAEA;
}
#loginBox li {
	list-style:none;
	padding:0px;
	margin:0px;
}
#loginBox li a{
	list-style:none;
	padding:0px 0px 0px 20px;
	display:block;
	margin:0px 0px 15px 0px;
	background-image:url(images/arrow.gif);
	background-repeat:no-repeat;
}
#loginBox p {
	padding-left: 20px;
	margin-top:0px;
}
#loginBox table td {
	padding-top:10px;
}
#loginBox table {
	padding-left: 20px;
}
.loginLabel {
	width:130px;
}

.box-pass table td label {
	text-align:right;
	font-weight:bold;
	margin-right:10px;
}

.box-pass input.buttonLogin 
{
    background-color:#00638a;
	background: url(images/butBG_sprite.gif);	
	background-repeat:repeat-x;
	width:auto;
	color:#FFF;
	border:none;
	font-weight:bold;
	height:28px;
	padding-left: 10px;
	padding-right: 10px;
	font-size:11px;
	float:right;
	margin-right:2px;
	text-transform: uppercase;
	cursor:pointer;
}

.box-pass input.buttonLogin:hover, input.buttonLogin:hover { background: url(images/butBG_sprite.gif) repeat-x 0 -28px;}

.button {
	background-color:#00638a;
	background-image:url(images/butBG_sprite.gif);
	width:104px;
	color:#FFF;
	border:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
	font-family:Arial;
	height:28px;
	cursor:pointer;
}
.faqButton {
	background-color:#00638a;
	background-image:url(images/butBG_sprite.gif);
	width:60px;
	color:#FFF;
	border:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:11px;
	height:28px;
	cursor:pointer;
}

.toolNavPanel ul li a {
      
      color: #003399;
      }
.toolNavPanel ul li a:hover {
        color: #333333; }


.bluelinks ul {
  list-style: none;
  margin-left:0px; 
  margin-top:-25px; 
  padding-left:0px;
  font-size:11px;
  text-transform:uppercase;
 }
 
.bluelinks ul li {
    height: 1%;
	margin-top:0px;
	font-size:11px; 
}

.bluelinks ul li span { text-transform: none; font-size: 1.2em; margin-left: 12px;margin-top:0px; }

.bluelinks ul li a {
      background: transparent url(images/link-arrow-grey.png) 5px 13px no-repeat;
      padding: 10px 0 3px 12px;
	  margin-top: 10px;
      display: block;
      font-weight: bold;
      text-decoration: none;
      color: #003399;
      line-height: 14px;
	  font-size:11px; }
.bluelinks ul li a:hover {
        color: #333333; }
.bluelinks ul li.image {
      padding-bottom: 6px; }
      
.form label{
	color:#000;
}
.form label{
	float:left;
	margin-right:10px;
	width:115px;
	text-align:right;
} 
.form ul{
	border:0; margin:0; padding:0; list-style:none;
	margin-left:35px;
}
.form ul.nomargin-left{
	margin-left:0;
}
.form ul.nomargin-left label{
	margin-left:0;
	width:180px;
	text-align:left;
}
.form li{
	clear:both;
	list-style:none;
	padding-bottom:5px;
}
.buttons{
	text-align:right;
	margin:5px 10px 5px 0;
}
.buttons-left{
	text-align:left;
	margin:5px 10px 5px 0;
}
.ml330{
	margin-left:330px;
}

      
/*.bluelinks ul {
  list-style: none;
  margin-left:0px;
  padding-left:0px;
  font-size:11px;
  text-transform:uppercase;
 }
.bluelinks ul li {
    height: 1%;
	font-size:11px; 

}
.bluelinks ul li a {
      background: transparent url(images/link-arrow-grey.png) 5px 10px no-repeat;
      padding: 6px 0 6px 12px;
      display: block;
      font-weight: bold;
      text-decoration: none;
      color: #003399;
      line-height: 14px;
	  font-size:11px; }
	  
.bluelinks ul li a:hover {
        color: #333333; }
        
.bluelinks ul li.image {
      padding-bottom: 6px; }*/



/* End - Added Newly */







.accordionHeader {
	background-color:#D0D0D0;
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
}
	
#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid black;
background-color:White;
padding: 2px;
/*overflow:inherit;*/
/* This is the available line - replaced the colorName with Hex*//*background-color: lightyellow;*/
/*background-color: lightyellow;*/
visibility: hidden;
color: Black;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within 

this CSS
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); */
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}

/* Variables */
#primary-navigation {
  width: 984px;
  height: 30px;
  /* background: url(nav-primary.png) top left no-repeat; */
  list-style: none;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9000; }
  #primary-navigation li {
    float: left;
    text-align: center;
    margin-right: 1px;
    position: relative;
    display: inline;
    z-index: 1000; }
  #primary-navigation li a {
    color: #000;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: block; }
 #primary-navigation li a:hover, #primary-navigation li.hovering a {
    background: url(images/bg-nav-over.png) top left repeat-x;
    color: #fff; }
   #primary-navigation li.summary a {
    width: 101px; }
  #primary-navigation li.summary .drop-shadow {
    width: 4px;
    left: 3px; }
  #primary-navigation li.summary .top-arrow {
    left: 39.5px; }
  #primary-navigation li.transactions a {
    width: 100px; }
  #primary-navigation li.transactions .drop-shadow {
    width: 136px; }
  #primary-navigation li.transactions .top-arrow {
    left: 57px; }
  #primary-navigation li.contract a {
    width: 120px; }
   #primary-navigation li.contract .drop-shadow {
    width: 928px; }
  #primary-navigation li.contract .top-arrow {
    left: 191px; }
  #primary-navigation li.quote a {
    width: 120px; }
   #primary-navigation li.quote .drop-shadow {
    width: 136px; }
  #primary-navigation li.quote .top-arrow {
    left: 57px; }
  #primary-navigation li.PayDetails a {
    width: 120px; }
   #primary-navigation li.PayDetails .drop-shadow {
    width: 400px; }
  #primary-navigation li.PayDetails .top-arrow {
    left: 189px; }
  #primary-navigation li.PersDetails a {
    width: 117px; }
   #primary-navigation li.PersDetails .drop-shadow {
    width: 136px; }
  #primary-navigation li.PersDetails .top-arrow {
    left: 57px; }
  
  #primary-navigation li ul {
    background: #fff;
    border: 1px solid #d9d9d9;
    float: left;
    padding: 2px 0px 2px 2px;
    list-style: none;
    bottom: 3px;
    right: 3px;
    position: relative;
    margin: 0; }
  #primary-navigation li ul li {
    float: left;
    width: 120px;
    background: #f5f5f5;
    padding: 0 5px;
    margin: 0;
    border-right: 1px solid #fff;
    text-align: left;
    display: inline; }
  #primary-navigation li ul ul {
    position: relative;
    list-style: none;
    width: 120px;
    padding: 0;
    top: 0; }
  #primary-navigation li ul ul li {
    float: left;
    width: 120px;
    display: inline;
    background: #f5f5f5;
    padding: 0; }
 
  #primary-navigation li ul li strong {
    font-size: 20px;
    display: block;
    margin: 7px 0 4px 5px;
    -behavior: url(/static/js/iepngfix/iepngfix.htc); }

.shadow {
  -box-shadow: 3px 3px 0px #f2f2f2;
  -moz-box-shadow: 3px 3px 0px #f2f2f2;
  -webkit-box-shadow: 3px 3px 0px #f2f2f2;
    -behavior: url(/static/js/PIE_uncompressed.htc);  }

/* End Variables


/* Mahendra Temporarily UnCommented */

/* Roylan Additional */
.footerPOP {
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	color: Black;
	background-color:White;
}

 .mystyle
{
	-moz-opacity: 0.90;
	-filter: alpha(opacity=90);
	background: #666666;
}
#termsConditionsPopup2 {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #383637;
	background-color:#FFFFFF;
}
#termsConditionsPopup2 h1 {
	padding:20px;
	margin:0px;
	font-size: 160%;
	background-color:#D0D0D0;
}
#termsConditionsPopup2 h2 {
	font-size:150%;
	color:#000000;
}
#termsConditionsPopup2 h3 {
	font-size:130%;	
}
.mycurve
{
  src:url('/App_Themes/Common/images/curve2.gif');	
}

#copy .radiobtnPersonal input 
{ 
    float           : none; 
    padding         : 0 0px; 
    width           : 18px; 
    margin-left     : -10px;/*for all major browsres*/ 
    *margin-left     : 0px;/*for IE7*/ 
    _margin-left     : 0px;/*for IE6*/ 
    padding-left	: 5px; 	
}   

#copy .radiobtnPersonal label 
{ 
    float           : none; 
    padding-right   : 5px; 
    font-family     : Arial, Helvetica, sans-serif; 
    padding-left    : 5px; 
    display         : block; 
    margin-left     : 20px; 
    margin-top      : -15px;
}

.accordionContainer
{
    cursor: pointer;
}
.accordionContainer h4 {
	margin-bottom:1em; 
	padding:3px; 
	background-color:#eee
}

.notificationLink
{
    color:#318BCC;
    text-decoration:underline;
}

/****************/             
         
        
  /*.bluelinks ul {
  list-style: none;
  margin-left:0px;
  padding-left:0px;
  font-size:11px;
  text-transform:uppercase;
 }
.bluelinks ul li {
    height: 1%;
	font-size:11px; 

}
.bluelinks ul li a {
      background: transparent url(images/link-arrow-grey.png) 5px 10px no-repeat;
      padding: 6px 0 6px 12px;
      display: block;
      font-weight: bold;
      text-decoration: none;
      color: #003399;
      line-height: 14px;
	  font-size:11px; }
	  
.bluelinks ul li a:hover {
        color: #333333; }
        
.bluelinks ul li.image {
      padding-bottom: 6px; }*/                   
