@media screen and (max-width: 420px) {
    .box-main {
        background-image: url("images/Login_Main_Image_320x767.jpg") !important;
        float: none;
    }
    table.resTable {
        /*margin-top: 20px;*/
        width: 100%;
    }
    table.resTable td {
        display: block;
    }

    table.resTable_1 {
       /* margin-top: 20px;*/
        width: 100%;
    }
    table.resTable_1 td {
        display: block;
    }

    .box-login h1 {
        padding: 16px 0 0 10px;
    }
    div.box-login table td {
        display: inline-table !important;
    }
    .loginButtonColumn {
        width: 100px;
    }
    .box-login {
        margin: 0 !important;
    }
    .box-login p {
        margin: 0 0 0 10px;
    }
    .box-login table {
        background: #fff none repeat scroll 0 0;
        margin: 10px 0 0 3px;
        padding: 0 0 10px 2px;
        width: 304px;
    }
    .box-login table tr {
        line-height: 4px;
    }
    .loginTextBoxColumn {
        background-image: none;
        background-position: center center;
        background-repeat: no-repeat;
        height: 37px;
        width: auto;
    }
    .loginTextBox {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 1px solid #c8c6c9;
        border-radius: 5px;
        height: 34px;
        margin: auto 4px auto 8px;
        padding: 0 5px;
        width: 140px;
    }
     .loginLabelColumn {
        text-align: left;
        width: 40% !important;
    }
    tr:first-child td.loginButtonColumn {
        display: flex;
    }
    .buttonLogin {
        margin-top: 6px;
    }
    .loginButtonColumn {
        margin: 0 0 0 132px;
        width: 100px;
    }
    .box-login .LoginLinks table tr {
        line-height: 16px;
    }
    .LoginLinks {
        background: #eceeef none repeat scroll 0 0;
        margin: 0 0 0 3px;
        width: 304px;
        height: auto;
    }
    .LoginLinks table {
        height: auto;
        background: #eceeef !important;
        width: 302px;
    }
    .LoginLinks table td {
        display: block !important;
        width: 94%;
        padding-bottom: 0;
    }
    .LoginLinks td {
        padding-left: 0px;
    }
    .LoginLinkText {
        display: none;
    }
    .box-login {
        width: 310px;
        background-size: 100% auto;
        margin: 0 auto !important;
    }
	#nav li {
		width: 40% !important;
	}	

    .wid104{
        width:70px !important;
    }

    table.transactionTable input.button{
        float: left;
    }

    .bsbValue .wid48P {
        max-width: 188px;
    } 
    
    .tblHighlight select{
        width:93.5% !important;
    }

    .tblHighlight input[type="password"]{
        width:84% !important;
    }

    .fLeft{
        float: left !important;
    }

    td.btnRight{
        float: none !important;
    }
    
    #termsConditionsPopup2{
    	width:100%!important;
    	min-width:290px !important;
    } 
    
    #termsConditionsPopup{
    	width:100%!important;
    	min-width:290px !important;
    } 
    
    .loginError {
        width: 95%;
    }

    
}
@media screen and (min-width: 420px) and (max-width: 605px) {
    .box-main {
        background-image: url("images/Login_Main_Image_320x767.jpg") !important;
        float: none;
    }

    table.transactionTable input.button{
        float: left;
    }
}
@media screen and (min-width: 545px) and (max-width: 767px) {
    .box-main {
        background-image: url("images/Login_Main_Image_605x767.jpg") !important;
        float: none;
    }
    table.resTable {
        margin-top: 0px !important;
        width: 100%;
    }
}
@media screen and (max-width: 604px){
    .selectBox{
        /*max-width: 306px;*/
         width: 98.8%;
    }
    .changePaymentDetail td{
        padding: 5px 0;
    }

    .changePaymentDetail td input[type="text"]{
        width: 96% !important;
    }

    .accordionHeader + div div .changePaymentDetail td input[type="text"]{
        width: 97.8% !important;
    }

    /*.Ldescription span,*/ 
    
    /*.accordionHeader + div > div */
    .changePaymentDetail td.bsbValue input[type="text"].wid48P {
        max-width: 180px;
        width: 44.5% !important;
    } 

    .ChangePersonalDetails td{
        padding: 5px 0;
        width: 100% !important;
    }

    .ChangePersonalDetails td input[type="text"]{
        width: 94% !important;
    }

    .ChangePersonalDetails td select{
        width: 97% !important;
    }

    .ChangePersonalDetails td.radiobtnPersonal{
        width: 97% !important;
    }
}
@media screen and (min-width: 605px){
    table.transactionTable td{
        display: table-cell !important;
    }

    table.changePaymentDetail td{
        display: table-cell !important;
    }

    table.ChangePersonalDetails td{
        display: table-cell !important;
    }
}
@media screen and (max-width: 650px) {
    .box-section {
        width: 100%;
        max-width: 650px;
    }
	table.Grid {
		/*border: 0;*/
        border: 1px dotted #ccc;
	}
	table.Grid thead {
		display: none;
	}
	table.Grid tr {
		/*margin-bottom: 10px;*/
		display: block;
		border-bottom: 2px solid #ddd;
	}

    table.Grid tr:last-child{
        border-bottom: 0px solid #ddd; 
        margin-bottom: 0px;
    }

	table.Grid td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
		width: 96% !important;
        padding-right: 1%;
	}
	table.Grid td span {
		display: inline-block;
		text-align: left;
		width: 60%;
	}
	
	#termCondContain table.Grid td span {
		display: inline-block;
		text-align: left;
		width: 50%;
	}
	
	table.Grid td:last-child {
		border-bottom: 0;
	}
	table.Grid td:before {
		content: attr(data-label);
		float: left;
		/*text-transform: uppercase;*/
		font-weight: bold;
		font-size: 12px;
	}

    a.printPDF {
        background-image: url("images/pdf.gif");
        background-repeat: no-repeat;
        display: block;
        float: none;
        font-weight: normal;
        margin-left: 0px;
        padding-bottom: 0px;
        width: auto;
    }

    .marT30{margin-top:30px;}

    tr.results-pagination table td{
        display: table-cell;
    }

    tr.results-pagination td
    {
        padding: 0px;
    }

    .results-pagination td{
        border-bottom: 0px !important;
    }

    .dobTable td:first-child {
        padding: 5px 0;
        width: 35% !important;
    } 
    
    #termsConditionsPopup2{
    	width:100%!important;
    	min-width:450px;
    }
    
    #termsConditionsPopup{
    	width:100%!important;
    	min-width:450px;
    }

    .marketingText {
        min-height: 50px;
    }

    
}
@media screen and (max-width: 767px) {
	
    table.resTable {
        /*margin-top: 20px;*/
        width: 100%;
    }
    .accordionHeader + table.resTable {
        /*margin-top: 20px;*/
        width: 98%;
    }
    table.resTable td {
        display: block;
    }

    table.resTable_1 {
        margin-top: 20px;
        width: 100%;
    }
    table.resTable_1 td {
        display: table-cell;
    }
    
    .resTable .MyCalendar .ajax__calendar_days table td
    {
        display:table-cell !important;
    }

    .box-login {
        margin: 0px auto 0;
    }
    div.box-login table td {
        display: table-cell;
	}

    /* inner Page */
	
	#copy {
		float: none;
		width: 100%;
		max-width:767px;
	}
	
	#rightToolBar {
		margin-top: 30px;
		float: none;
		width: 100%;
		max-width: 767px;
	}
	#likeTwo, #helpRB{
		float: left;
		width: 48%;
	}
	#likeTwo dl {
		width: 100%;
		max-width: 395px;
	}
	#FAQL{
		float: right;
		width: 48%;
	}
	#helpRB {
		max-width:767px;
		clear:both;
        margin-top: 0px;
	}

    .misplaced{
        float: right !important;
        margin-top: 10px !important;
        clear: none !important;
        margin-right: 0;
    }

	#likeTwo dl,
	#FAQL dl,
	.paymentOptions,
    #faqsRB dl{
		max-width: 480px;
		width: 100% !important;
	}

    .helpContent{
        max-width: 480px;
        width: 100%;
    }

    #time dl {
        width: 100% !important;
        max-width: 767px;
        margin-left:0;
        margin-right:0; 
    }

    #time span span{
        display: none;
    }

   .helpContent{
        float: right !important;
        width: 48%;
        margin-right: 0px;
        clear:none !important;
        margin-top:10px !important;
        min-height: 140px !important;
    }

    #faqsRB{
        float: left;
        width: 48%;
    }
    
    #faqsRB dl
    {
        min-height: 140px !important;
    }

    .annualBillingTable{
        margin-top: 20px;
    }

    .annualBillingTable td{
        padding: 2%;
        width: 46%;
    }

    .marTminus{
        margin-top: -14px;
    }

    .marTminus td{
        width: 50%;
        padding: 2%;
    }

    .helpIcon{
        display: none;
    }

    .dobTable td:first-child {
        padding: 5px 0;
        width: auto;
    } 

    td.btnRight{
        float: right;
    }
       
    
    #termsConditionsPopup h1, #termsConditionsPopup2 h1{
    	line-height: 20px;
		padding: 10px;
		font-size: 120%;
		font-weight:bold;
    }
    
    #termsConditionsPopup h2, #termsConditionsPopup2 h2 {
		font-size: 110%;
	}

    input.textbox{
        width:86%;
    }

  .ConditionUse+div.helpContent
     {
         float:none !important; 
         width:100% !important;
     }
    /*.Ldescription strong span{
        float: right;
        display: block;
    }*/
}
@media screen and (max-width: 768px) {
    #content {
        padding: 2% !important;
        width:96% !important;
    }
    #medium {
        overflow: hidden !important;
    }
    .divNotificationMsg {
        width: 265px !important;
    }
    .box-bottom {
        padding: 15px 10px 0;
    }
    .box-section {
        margin-bottom:10px;
    }
    .marketingIconColumn {
        width: auto;
    }
    .marketingLabelColumn {
        width: auto;
    }
    #footer {
        width: 96%;
    }
	
	#mainImage2{
		padding-top:9% !important;
		padding-bottom:9% !important;
	}
	
	h1 {
		padding: 5px 10px 5px 8px;
	}
	
	#likeTwo dl,
    #FAQL dl,
    .paymentOptions,
    .helpContent,
    #faqsRB  dl{
        width: 96%;
        margin-left: 0px;
        min-height: 200px;
         margin-bottom: 10px;
    }

    .misplaced{
        margin-left: 0;
        width: 96%;
    }
    
    #time dl {
        width: 96%;
        margin-left: 0;
    }

    .paymentOptions {
        height: auto;
    } 

    .topText{
        padding-left: 10px;
        line-height: 20px;
        display: inline-block;
    } 

    .dobTable td:first-child {
        /*padding: 5px 0;*/
        width: 33%;
    } 
}
@media screen and (min-width: 768px) and (max-width:886px){
    #time span span{
        display: block;
        line-height: 0px;
    }
}
@media screen and (min-width: 769px) {
    .box-main {
        width: 100%;
    }
    .box-main .resTable {
        float: right;
        margin-right: 12px;
    }
    .resTable td {
        width: 50%;
    }
    .mailResiAddress td {
        /*width: 100% !important;*/
    }
    .resTable table td {
        width: 38%;
    }

    .monthlyDueDate td:first-child {
        width: 40% !important;
    }

    .resTable_1 td{
        width:25%;
    }
}
@media screen and (min-width: 887px){
    #time span span{
        display: none;
    }
}
@media screen and (max-width: 959px) {
    #medium {
        margin: 0px;
    }
    .box-main {
        background-image: url("images/Login_Main_Image_768.gif");
        float: none;
    }
	
	/* inner Page */
	
	#toolNav {
        background: #f1f1f1 none repeat scroll 0 0;
        float: right;
        height: 26px;
        line-height: 24px;
        margin-top: -110px;
        top: 7px;
        width: 100%;
	}
	
	.navIcon {
        display: block;
        margin: 20px 10px 0px;
    }
    .navWeb {
        display: none;
    }
	#nav {
		border: 1px solid #e3e3e3;
		border-bottom: 0px solid #e3e3e3;
		margin-top: 0 !important;
		margin-bottom: 15px;
	}
	#nav ul {
		margin-left: 0;
		padding: 10px 0;
		width: 100%;
	}
	#nav li {
		border-bottom: 1px solid #e3e3e3;
		float: left;
		margin: 0 2%;
		padding: 6px 8px;
		text-align: left;
		width: 42%;
	}
	#nav li:hover {
		background-image: none;
		background-color: #eceded;
	}
}
@media screen and (max-width: 480px) {
	#likeTwo {
		float: none;
		width: 100%;
	}
	#FAQL dl{
        min-height: 100px !important;
    }
    
	#FAQL {
		float: none;
		width: 100%;
	}

    .helpContent{
        float: none;
        width: 100% !important;

    }

     #faqsRB{
        float: none;
        width: 100%;
    }

    .misplaced{
        float: none !important;
        margin-top: 10px;
        width: 100% !important;
        margin-left: 0;
    }

    .bgNone table input[type="text"]{
    width: 90% !important;
    }

    .bgNone div {
        padding-top: 10px;
    }
    
    .bgNone input[type="submit"]{
        float:left;
    }

    .monthlyDueDate input[type="text"]{
        width: 90% !important;

    }

    .monthlyDueDate input[type="submit"]{
        float:left;
    }

    #termsC {
        float: none;
    }

    td.Ldescription, td.LData{
        width:97%;
        /*border-right: 1px solid #bbbbbb;
        border-left: 1px solid #bbbbbb;*/
        min-height: 15px;
    }

    table.resTable_1 td {
        display: block;
        float: left;
        min-height: 30px;
        width: 46%;
        border-right:0px;
    }

    #copy .radiobtnPersonal input{
        margin-left:0;
    }

    .padBL{
        padding-left: 0;
    }
    
    .tblHighlight select{
        width:96.8%;
    }

    .tblHighlight input[type="password"]{
        width:94%;
    }

    .progressIcon{margin-left:0px;}
    
    .fRight{float:left;}

    #FAQL dl{
        min-height: 100px !important;
    }

    .fLeft{
        float:none;
    }

    .dispNone{
        display: none !important;
    }
    
    /*.bgNone div{
        margin-top: 10px;
    }*/
}
@media screen and (min-width: 481px) and (max-width: 960px){

    .resTable td.bgNone {
        display: table-cell;
    }

    .bgNone input.calendarWidth{
        width:79% !important;
    }

    .bgNone div {
        padding-top: 10px;
    }

    .monthlyDueDate td {
        display: table-cell !important;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
     html {
        -webkit-text-size-adjust: none;
     }

     input[type="submit"]{
        -webkit-appearance: none;
     }

     input[type="image"]{
        -webkit-appearance: none;
        opacity: 1;
     }
}

