<?php
App::import('Vendor','xtcpdf'); 
$tcpdf = new XTCPDF();
$tcpdf->AddPage('P','A2');
$tcpdf->SetTextColor(0, 0, 0);


  //$logo=$projectfiles['ProjectFile']['thumbnail'];
  
 $logo=$thumbnail['Thumbnail']['filename'];
 $str = str_replace('\\', '/', WWW_ROOT);
 $logo_path=$str.'files/groupthumb';
 $date = date("jFY");
 $filename=$projectfiles['ProjectFile']['title'].'-'.$projectfiles['Category']['title'].'-'.$date.'.pdf';
 //$dir_logo="C:/wamp/www/webroot/files/groupthumb/".$logo;

$html = '
	<div style="color:#7e7e7e;font-size:32px;text-align:center;font-family:Arial;">
		<br/>
		<br/>
		<br/><br/><br/>
		<strong>'.$projectfiles['ProjectFile']['title'].'</strong>
		&nbsp;<br/> <br/><br/>
	</div> ';
	

$tcpdf->writeHTML($html, true, false, true, false, '');
if($logo){
$tcpdf->Image($logo_path.'/'.$logo, 170, 130, 70, 'auto', '', '', '', true, 150, '', false, false, 0, false, false, false); 
}
$tcpdf->AddPage('P','A2');

$x = 'center';
$y = 'center';
$w = 'auto' ;
$h = 'auto';
    $count=1;
	foreach($files[1] as $image):
		if(substr(strrchr($image,'.'),1) == 'jpg' || substr(strrchr($image,'.'),1) == 'png') { 
		$data=".$count.";
		//$tcpdf->Cell(30, 0, $data, 0, $ln=0, 'C', 0, '', 0, false, 'C', 'T');
			$dir = new Folder(WWW_ROOT.'/'.$path);
			$files = $dir->read();
			//$data= $this->Html->image('/'.$path.'/'.$image, array( 'alt' => '', 'data-description' => '', 'style'=>'width:3000'));
			$img_size=getimagesize($path.'/'.$image);
			if($img_size[0]>1280)
			{
				$w=420;
			}	
			 $tcpdf->Image($path.'/'.$image, $x, $y, $w, $h, '', '', 'T', false, 300, 'C', false, false, 0, false, false, false);
     $tcpdf->AddPage('P','A2');
			// $y += 52; 
			
		}  
		$count++; 
	endforeach; 
	 



$html = '
	<div style="color:#7e7e7e;font-size:48px;text-align:center;font-family:Arial;">
		<br/>
		<br/>
		<br/>
		<strong>'.$projectfiles['ProjectFile']['title'].'</strong>
		<br/> <br/><br/><br/><br/><br/><br/>
		<br/> <br/><br/><br/><br/><br/><br/>
	</div> ';
$tcpdf->writeHTML($html, true, false, true, false, '');



//$tcpdf->Image('groupthumb/'.$logo, 70, 120, 70, 25, '', '', '', true, 150, '', false, false, 0, false, false, false);
if($logo){
$tcpdf->Image($logo_path.'/'.$logo, 170, 130, 70, 'auto', '', '', '', true, 150, '', false, false, 0, false, false, false); }

$html1 = '

<div style="font-size:32px;color:#fb1c31;text-align: center;">
		<p>End of Document</h1></p><div>';
$tcpdf->writeHTML($html1, true, false, true, false, '');

//$tcpdf->lastPage();
$tcpdf->Output($filename, 'I');

    

?>