
<?php 
$uri = $_SERVER['REQUEST_URI'];
//echo $uri; // Outputs: URI
 
$protocol = ((!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] != 'off') || $_SERVER['SERVER_PORT'] == 443) ? "https://" : "http://";
 
$url = $protocol . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
$param = explode('/',$url);
		$project = $param[4];
		$cat = $param[5];
		$date = $param[6];
//echo $url; // Outputs: Full URL
?>

<div id="main_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="add-new-project">
                <div class="col-lg-12">
                    <h2>Enter Password</h2>
                
                </div>
            </div>
        </div>
        <div class="row">
            <div class="add-new">
                <div class="col-lg-12">
<form action="/projectfileslogin/<?php echo $project; ?>/<?php echo $cat; ?>/<?php echo $date; ?>" method="POST">

<!--       <label><b>Password</b></label> -->
    <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>

    <button class="btn btn-primary btn-group-lg pull-right" type="submit">Login</button>
	<input type = "hidden" name="host" value = "<?php echo $url ?>">
	
  

 
</form>
</div>
</div>
</div>
</div>
</div>