@charset "utf-8";
/* CSS Document */

body {
	background-color: #fff;
	margin-left:auto;
	margin-right:auto;
	color:#000;
	font-family:Arial,Helvetica,sans-serif,Verdana;
	font-size:0.72em;
	line-height:15px;
}
a {
	color:#FFF;
	text-decoration:none;
}
a:hover {
	color:#166a82;
}
#h1 {
	font-size: 160%;
	text-transform:uppercase;
}
h2 {
	font-size: 130%;
	text-transform:uppercase;
}

a img  {
	border: 0px solid;
}
table, td {
font-size:100%;

}
/* CLASSED */
.left {
	clear:left;
}
.rightBorder {
border-right:1px solid #302c2d;
}
table.tblHighlight td{
	background-color:#302c2d;
	padding:5px;
}
table.tblHighlight {
	margin-bottom:10px;

}
table.tblHighlight td.bgNone {
	background-color:#231f20;
	margin-bottom:10px;
}
p.errorMsg {
	background-color:#EAEAEA;
	border:2px solid #d90000;
	color:#d90000;
	padding:20px;
}
a.more {
	background-image:url(/App_Themes/Common/images/smalrow.gif);
	background-repeat:no-repeat;
	padding-left:10px;
}
a.faqR {
	background-image:url(/App_Themes/Common/images/smalrow.gif);
	background-repeat:no-repeat;
	padding-left:10px;
	float:right;font-size: 12px
}
.helpIcon {
	float:right;
	margin-right:3px;

}
.LFSlogo {
	margin: 30px 0px 5px 0px;
}
td.Ldescription {
	border-bottom:2px solid #383637
}
td.LData {
	background-color:#383637;


}
table.dataG th{
	background-color:#383637;
	text-align:left;
	vertical-align:top;
}
table.dataG td {
	border-bottom: 1px solid #383637;

}
#copy input {
	width:400px

}
#copy input.button, input.button {
	background-color:#00638a;
	background-image:url(../images/butBG.gif);
	background-repeat:repeat-x;
	width:auto;
	color:#FFF;
	border:none;
	font-weight:bold;
	height:28px;
	text-transform:uppercase;
	font-size:90%;
	float:right;
	margin-right:2px;
}
#copy input.butlink, input.butlink {
	background-color:#00638a;
	background-image:url(../images/butBG.gif);
	background-repeat:repeat-x;
	width:auto;
	color:#FFF;
	border:none;
	font-weight:bold;
	height:28px;
	text-transform:uppercase;
	font-size:90%;
	margin-right:2px;
}
#copy input.radioB {
	width:auto;
}
#copy input.dateWidth {
	width:auto;
}
#agreeButtons {
	float:right;
	width:220px;

}
#refButtons {
	float:right;
	width:220px;

}

#wrapperLogin {
	border:1px solid #e5e1e2;
	width:950px;
	margin-left:auto;
	margin-right:auto;
}
#content {
	padding: 30px 0px 30px 30px;
	background-image:url(/App_Themes/Common/images/contentBG.gif);
	background-repeat:repeat-y;
	background-position:right;

}
#content h1 {
	padding:0px;
	margin:0px 0px 20px 5px;
	font-size: 160%;
	text-transform:uppercase;
}
#rightToolBar {
	display:none;
}
#copy {
	float:left;
	width:830px;
	margin-right:30px;
}
#header {
	clear:both;
}
#nav {
	display:none;
}

#mainBanner {
display:none;
}
#nav ul {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 30px;
	list-style:none;
	display:inline;
}
#nav li {
	list-style:none;
	display:inline;
	font-weight:bold;
	font-size:110%;
}
#nav li a {
	text-transform:uppercase;	
	display:inline;
	padding: 10px 10px 10px 10px;
}
#nav li a:hover {	
	color:#FFF;
	background-color:#383637;
	display:inline;
}
#nav li a.navOn {
	background-color:#383637;

}
/* TOOLBOX Nav */

.curve {
display:none;

}
#toolNav {
display:none;
}
#toolNav ul {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 30px;
	list-style:none;
	display:inline;
	
}
#toolNav li {
	list-style:none;
	display:inline;
	margin-right:10px;

	font-size:100%;
}
#toolNav li a {
	text-transform:uppercase;	
	display:inline;	
}
#toolNav li a:hover {	
	color:#166a82;
	display:inline;
}

/* END toobox Nav */

#loginBox {
	background-image:url(../images/loginBG.jpg);
	background-repeat:no-repeat;
	float:right;
	width:447px;
	height:416px;
	margin-top:-88px;
}
#loginBox h1{
	text-transform:uppercase;
	font-size:150%;
	padding:10px 10px 10px 20px;
	margin:20px 0px 0px 0px;
}
#loginBox p {
	padding-left: 20px;
	*margin-top:0px;
}
#loginBox table td {
	padding-top:10px;
}
#loginBox table {
	padding-left: 20px;
}
#loginBox input {
	width:240px;
	border:1px solid #b4aeae;
}
#loginBox input.buttonLogin {
	width:60px;
	float:right;
	background-image:url(/App_Themes/Common/images/buttonlogin.jpg);
	background-repeat:no-repeat;
	border:none;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	width:61px;
	height:28px;
}
#loginBox ul {
	margin:0px;
	padding:20px 10px 10px 10px;
	list-style:none;
	border-top: 1px solid #EAEAEA;
}
#loginBox li {
	list-style:none;
	padding:0px;
	margin:0px;
}
#loginBox li a{
	list-style:none;
	padding:0px 0px 0px 20px;
	display:block;
	margin:0px 0px 15px 0px;
	background-image:url(../images/arrow.gif);
	background-repeat:no-repeat;
}
#mainImage {
	display:none;
}
#marketingAds {
	display:none;
}
#marketingAds p{
	margin:0px 26px 10px 26px;
}
#marketOne {
	float:left;
	width:315px;
}
#marketTwo {
	float:left;
	width:315px;
}
#marketThree {
	float:left;
	width:315px;
}
#footer {
	width:950px;
	margin-left:auto;
	margin-right:auto;
	text-transform:upercase;
	padding:5px;
	font-size:90%;
}

#footerPOP {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	text-transform:upercase;
	padding:5px;
	font-size:90%;
}
#termsC {
	float:right;
}
#termsConditionsPopup {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #383637;
}
#termsConditionsPopup h1 {
	padding:20px;
	margin:0px;
	font-size: 160%;
	text-transform:uppercase;
	background-color:#383637;
}
#termsConditionsPopup h2 {
	font-size:150%;
}
#termsConditionsPopup h3 {
	font-size:130%;
}
#termCondContain {
	padding:20px;
}
#agree {
	border-top:1px solid #EAEAEA;
	background-color:#2a2627;
	padding:10px;
}
#Refagree {
	border-top:1px solid #EAEAEA;
	background-color:#2a2627;
	padding:10px;
	height:40px;

/* ### FAQs Right Bar */
}
#faqsRB {

}
#faqsRB dl {
	padding:0px;
	margin:10px;
}
#faqsRB dt {
	background-color:#231f20;
	font-size:130%;
	text-transform:uppercase;
	padding:10px;
	font-weight:bold;
}
#faqsRB dd {
	padding:10px;
	margin:0px;
}
/* ### HELP Right Bar */

#helpRB {

}
#helpRB dl {
	padding:0px;
	margin:10px;
}
#helpRB dt {
	background-color:#231f20;
	font-size:130%;
	text-transform:uppercase;
	padding:10px;
	font-weight:bold;
}
#helpRB dd {
	padding:10px;
	margin:0px;
}
/* ### FAQs Right Bar */

#likeTwo {

}
#likeTwo dl {
	padding:0px;
	margin:10px 10px 30px 10px;
}
#likeTwo dt {
	background-color:#231f20;
	font-size:130%;
	text-transform:uppercase;
	padding:10px;
	font-weight:bold;
}
#likeTwo dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px
	
}
#likeTwo dd a {
	background-image:url(../images/dd.gif);
	background-repeat:no-repeat;
	padding-left:25px;
	

}

/* ### FAQs Right Bar */

#FAQL {

}
#FAQL p{
	background-image:url(../images/dd.gif);
	background-repeat:no-repeat;
	padding-left:25px;	margin:0px;
	line-height:15px;

}
#FAQL dl {
	padding:0px;
	margin:10px 10px 30px 10px;
}
#FAQL dt {
	background-color:#231f20;
	font-size:130%;
	text-transform:uppercase;
	padding:10px;
	font-weight:bold;
}
#FAQL dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px
	
}
#FAQL dd a {

	
/* ------ TIME ----- */

}

#time {

}
#time p{
	background-image:url(../images/dd.gif);
	background-repeat:no-repeat;
	padding-left:25px;	margin:0px;
	line-height:15px;

}
#time dl {
	padding:0px;
	margin:10px 10px 10px 10px;
}
#time dt {
	background-color:#231f20;
	font-size:130%;
	text-transform:uppercase;
	padding:10px;
	font-size:90%;
	text-align:center;

}
#time dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px;
	
}
/* ### HELP Right Bar */

.results-pagination {
	font-size:11px;
	background: transparent no-repeat 0 100%;
	padding:8px;
	text-align:right;
	margin: 0 0 10px
}
.results-pagination p {
	margin:0
}
.results-pagination a:link, .results-pagination a:visited {
	background:#fff;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#000
}
.results-pagination a:hover, .results-pagination a:active {
	background:#3f3f3f;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#fff;
	text-decoration:none
}
.pagination-previous, .pagination-current, .pagination-next {
	font-weight:bold
}
span.pagination-previous, span.pagination-next {
	background:#fff;
	padding: 3px 5px;
	border: 1px solid #e7e7e7;
	color:#afafaf
}
.pagination-current {
	background:#3f3f3f;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#fff
}
#payoutResult {
	border:1px solid #EAEAEA;
	background-color:#383637;
	padding:15px;
	margin:15px 0px 15px 0px;
}
a.printTransactions {
	background-image:url(/App_Themes/Common/images/pdf.gif);
	background-repeat:no-repeat;
	float:left;
	display:block;
	width:150px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
a.printPDF {
	background-image:url(/App_Themes/Common/images/pdf.gif);
	background-repeat:no-repeat;
	float:right;
	display:block;
	width:150px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
a.getAdobe {
	float:right;
	display:block;
	width:100px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
#downloadPDF {
	background-color:#383637;
	padding:15px;
	margin-top:15px;
}
td.lightrow {
		background-color:#383637;

	}