<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>Designlab Notification</title>
</head>
<body style="font-family: Calibri, Arial, Helvetica, sans-serif;">
	<?php echo $this->fetch('content'); ?>
</body>
</html>