@media screen and (max-width: 420px) {
    .box-main {
        background-image: url("images/Login_Main_Image_320x767.jpg") !important;
        float: none;
    }
    table.resTable {
        margin-top: 20px;
        width: 100%;
    }
    table.resTable td {
        display: block;
    }
    .box-login h1 {
        padding: 16px 0 0 10px;
    }
    div.box-login table td {
        display: inline-table !important;
    }
    .loginButtonColumn {
        width: 100px;
    }
    .box-login {
        margin: 0 !important;
    }
    .box-login p {
        margin: 0 0 0 10px;
    }
    .box-login table {
        background: #fff none repeat scroll 0 0;
        margin: 10px 0 0 3px;
        padding: 0 0 10px 2px;
        width: 304px;
    }
    .box-login table tr {
        line-height: 4px;
    }
    .loginTextBoxColumn {
        background-image: none;
        background-position: center center;
        background-repeat: no-repeat;
        height: 37px;
        width: auto;
    }
    .loginTextBox {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 1px solid #c8c6c9;
        border-radius: 5px;
        height: 34px;
        margin: auto 4px auto 8px;
        padding: 0 5px;
        width: 150px;
    }
    .loginLabelColumn {
        text-align: left;
        width: 112px;
    }
    tr:first-child td.loginButtonColumn {
        display: flex;
    }
    .buttonLogin {
        margin-top: 6px;
    }
    .loginButtonColumn {
        margin: 0 0 0 128px;
        width: 100px;
    }
    .box-login .LoginLinks table tr {
        line-height: 16px;
    }
    .LoginLinks {
        background: #eceeef none repeat scroll 0 0;
        margin: 0 0 0 3px;
        width: 304px;
        height: auto;
    }
    .LoginLinks table {
        height: auto;
        background: #eceeef !important;
        width: 302px;
    }
    .LoginLinks table td {
        display: block !important;
        width: 94%;
        padding-bottom: 0;
    }
    .LoginLinks td {
        padding-left: 0px;
    }
    .LoginLinkText {
        display: none;
    }
    .box-login {
        width: 310px;
        background-size: 100% auto;
        margin: 0 auto !important;
    }
	#nav li {
		width: 40% !important;
	}	
	
}
@media screen and (min-width: 420px) and (max-width: 605px) {
    .box-main {
        background-image: url("images/Login_Main_Image_320x767.jpg") !important;
        float: none;
    }
}
@media screen and (min-width: 545px) and (max-width: 767px) {
    .box-main {
        background-image: url("images/Login_Main_Image_605x767.jpg") !important;
        float: none;
    }
    table.resTable {
        margin-top: 0px !important;
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .box-section {
        width: 100%;
        max-width: 650px;
    }
	table.Grid {
		border: 0;
	}
	table.Grid thead {
		display: none;
	}
	table.Grid tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;
	}
	table.Grid td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
		width: 93% !important;
	}
	table.Grid td span {
		display: inline-block;
		text-align: left;
		width: 60%;
	}
	table.Grid td:last-child {
		border-bottom: 0;
	}
	table.Grid td:before {
		content: attr(data-label);
		float: left;
		/*text-transform: uppercase;*/
		
		font-weight: bold;
		font-size: 12px;
	}
}
@media screen and (max-width: 767px) {
	
    table.resTable {
        margin-top: 20px;
        width: 100%;
    }
    table.resTable td {
        display: block;
    }
    .box-login {
        margin: 0px auto 0;
    }
    div.box-login table td {
        display: table-cell;
	}
	
	/* inner Page */
	
	#copy {
		float: none;
		width: 100%;
		max-width:767px;
	}
	
	#rightToolBar {
		margin-top: 30px;
		float: none;
		width: 100%;
		max-width: 767px;
	}
	#likeTwo {
		float: left;
		width: 48%;
	}
	#likeTwo dl {
		width: 100%;
		max-width: 395px;
	}
	#FAQL {
		float: right;
		width: 48%;
	}
	#helpRB {
		max-width:767px;
		clear:both;
	}
	#likeTwo dl,
	#FAQL dl,
	.paymentOptions {
		max-width: 480px;
		width: 100% !important;
	}
}
@media screen and (max-width: 768px) {
    #medium {
        overflow: hidden !important;
    }
    .divNotificationMsg {
        width: 265px !important;
    }
    .box-bottom {
        padding: 20px 10px 0;
        /*height: auto;
    	overflow: hidden;*/
    }
    .box-section {
        /*height:auto;*/
    }
    .marketingIconColumn {
        width: auto;
    }
    .marketingLabelColumn {
        width: auto;
    }
    #footer {
        width: 96%;
    }
    #termsC {
        float: none;
    }
    
	/* inner Page */  
    
	#content {
        padding: 20px 10px;
    }
	
	#mainImage2{
		padding-top:9% !important;
		padding-bottom:9% !important;
	}
	
	h1 {
		padding: 15px 10px 0px 8px;
	}
	
	#likeTwo dl,
    #FAQL dl,
    .paymentOptions {
        background-image: none;
        background: #e7e7e7;
        background: -webkit-linear-gradient(#e7e7e7, #d0d0d0);
        background: -o-linear-gradient(#e7e7e7, #d0d0d0);
        background: -moz-linear-gradient(#e7e7e7, #d0d0d0);
        background: linear-gradient(#e7e7e7, #d0d0d0);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d0d0d0', GradientType=0);
        border-radius: 8px;
        width: 96%;
        margin-left: 0px;
        min-height: 200px;
    }
    .paymentOptions {
        height: auto;
    }
    
}
@media screen and (min-width: 769px) {
    .box-main {
        width: 100%;
    }
    .resTable {
        float: right;
        margin-right: 12px;
    }
    .resTable td {
        width: 50%;
    }
    .resTable table td {
        width: 38%;
    }
}
@media screen and (max-width: 959px) {
    #medium {
        margin: 0px;
    }
    .box-main {
        background-image: url("images/Login_Main_Image_768.gif");
        float: none;
    }
	
	/* inner Page */
	
	#toolNav {
        background: #f1f1f1 none repeat scroll 0 0;
        float: right;
        height: 26px;
        line-height: 24px;
        margin-top: -110px;
        top: 7px;
        width: 100%;
	}
	
	.navIcon {
        display: block;
        margin: 20px 10px 0px;
    }
    .navWeb {
        display: none;
    }
	#nav {
		border: 1px solid #e3e3e3;
		border-bottom: 0px solid #e3e3e3;
		margin-top: 0 !important;
		margin-bottom: 15px;
	}
	#nav ul {
		margin-left: 0;
		padding: 10px 0;
		width: 100%;
	}
	#nav li {
		border-bottom: 1px solid #e3e3e3;
		float: left;
		margin: 0 2%;
		padding: 6px 8px;
		text-align: left;
		width: 43.5%;
	}
	#nav li:hover {
		background-image: none;
		background-color: #eceded;
	}
	
	
}
@media screen and (max-width: 480px) {
	#likeTwo {
		float: none;
		width: 100%;
	}
	#FAQL {
		float: none;
		width: 100%;
	}
}
/*@media screen and (min-width: 769px) and (max-width:941px) {
	
	#copy{
		width:96%;
	}
	
	#rightToolBar{
		float:left;	
		width:100%;
		padding-top:10px;
	}
	
	#likeTwo dl, #FAQL dl, .paymentOptions {
		background-image:none;
		background: #e7e7e7;
	    background: -webkit-linear-gradient(#e7e7e7, #d0d0d0);
	    background: -o-linear-gradient(#e7e7e7, #d0d0d0);
	    background: -moz-linear-gradient(#e7e7e7, #d0d0d0);
	    background: linear-gradient(#e7e7e7, #d0d0d0);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d0d0d0',GradientType=0 );
		border-radius:8px;
		width:96%;
		margin-left:0px;
		min-height: 200px;
	}

	.paymentOptions{

		height:auto;
	}
	
}*/