@charset "utf-8";
/* CSS Document */

/**This section was added as part of TFS Rebranding 11/7/2012 **/
body.homepage 
{
    background-image:none;
}

body.MainContent
{
    padding-top:20px;
}

a {
	color:#003399;
	text-decoration:none;
}
#medium {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	/*border:1px solid #CCCCCC;*/
	border-left:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
}
/*<!--LOGIN STYLES-->*/

.box-main {
    background-color: #84d6ff;
    background-image: url("images/Login_Main_Image.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 544px;
    max-width: 960px;
}
.logo 
{
    margin-left:35px;
    height:63px;
    width:207px;
}
.box-login
{
    margin:25px 0px 0px 45px;
    background-image: url(images/Loginbox.gif);	
    background-repeat:no-repeat;
	max-width:412px;
	height:421px;
}
.box-login h1
{
	font-size:18px;
	font-weight:bold;
    text-transform:none;
    background-color:Transparent;
    color:#FFFFFF;
    padding:23px 0px 0px 20px;
}
.box-login p
{
    margin:0px 0px 0px 20px;
}
.box-login table
{
    margin:20px 0px 0px 20px;
}
.box-bottom 
{
	max-width:900px;
	/*height:114px;*/
	padding:10px 30px 30px 30px;
	float:left;
	overflow:hidden;
	border-left:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
}
.box-section
{
	max-width:300px;
	width:33%;
	height:154px;
	float:left;
	line-height:normal;
	color:#000000;
}

.loginLabelColumn
{
    text-align:left;
	width:115px;
}

.loginTextBoxColumn
{
    width:164px;
    height:37px;
    background-image:url(images/loginTextBoxBackground.jpg);
    background-repeat:no-repeat;
    background-position:center;
}
.loginTextBox
{	
	border:none;
    margin: auto 4px auto 8px;
    background:none;
    width:154px;
}
.loginButtonColumn
{
    width:100px;
}
.loginProgress
{
    margin:5px 0px 0px 10px;
}
.buttonLogin
{
    float:left;
    width:68px;
    height:32px;
}

.box-login table td label {
	font-weight:bold;
	color:#B8B8B8;
}

.loginError
{
    padding:0px 3px 0px 3px;
    margin:0px 0px 0px 0px;
    width:406px;
    position:absolute;
}
.loginError .myerrMsg
{
	background-color:#EAEAEA;
	border:2px solid #d90000;
	color:#d90000;
	padding:2px;
	z-index:1000;
	font-size :99%;    
}
/* End - Login Styles */

/* Login Links */

.LoginLinks
{
    margin-top:45px;
    width:412px;
    height:180px;
    line-height:13.5px;
}
.LoginLinks table
{
    margin:0px;
    width:100%;
    margin-top:10px;
    height:80%;
    padding:0px 2px 0px 2px;
}
/*
.LoginLinks td
{
    width:160px;
    padding:2px 2px 7px 22px;
}
.LoginLinks td:hover
{
	border:solid 2px #EB0A1E;
	padding:0px 0px 5px 20px;
}
*/
.LoginLinks td
{
	width:160px;
    padding:0px 15px 5px 15px;
}
.LoginLinks td:hover
{
	background-image:url(images/SelectedLink_light.jpg);
	background-repeat:no-repeat;
	background-position:5px 0px;
	
}
.LoginLinkHeading
{    
    font-weight:bold;
    font-size:11px;
    margin-bottom:5px;
    color:#4D4F53;
}
.LoginLinkText
{
    color:#828282;
}

/* End Login Links */

/*Marketing*/
#marketToyota 
{
	float:left;
	width:100%;
	height:100%;
	background-color:#FFFFFF;            
}
.marketingHeader
{
    width:302px;
    height:30px;
}
.marketingIconColumn
{
    width:20%;
    padding:0px 5px 0px 5px;
    margin-top:30px;
	vertical-align:top;
}
.marketingLabelColumn
{
    width:75%;
}
.marketingText
{
    color:#828282;
}
a.arrowLink
{
    width:270px;
    font-weight:bold;
    color:#EB0A1E;
}
/*End Marketing*/


/****************End Added for TFS Rebranding*******************/

body {
	background-color: #ffffff;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	color:#181a21;
	font-family:Arial,Helvetica,sans-serif,Verdana;
	font-size:0.72em;
	line-height:15px;
}
a {
	color:#181a21;
	text-decoration:none;
}
a:hover {
	color:#ed1c24;
}

h1 {
	font-size: 18pt;
	font-weight:500;
	color:#4D4F53;
	margin:0 0 0 0;
	padding:6px 10px 10px 30px;
}

h2 {
	font-size: 130%;
	text-transform:uppercase;
}

a img  {
	border: 0px solid;
}
table, td {
font-size:100%;

}
/* CLASSED */
.left {
	clear:left;
}
.rightBorder {
border-right:1px solid #302c2d;
}
table.tblHighlight td{
	background-color:#eaeaea;
	padding:5px;
}
table.tblHighlight {
	margin-bottom:10px;
	border-bottom:1px solid #CCC;

}
table.tblHighlight td.bgNone {

	margin-bottom:10px;
	background-color:#e5ecf2;
}
p.errorMsg {
	background-color:#EAEAEA;
	border:2px solid #d90000;
	color:#d90000;
	padding:20px;
}
a.more {
	background-image:url(/images/arrow.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}
a.faqR
{
    background-image: url(images/dd.gif);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top:3px;
    float: right;
    font-size: 12px;
}
.helpIcon {
	width: 23px;
    height:21px;    
	float:right;
	margin-right:3px;
}
.TFSlogo
{   
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
td.Ldescription
{
	background-color: #eeeeee;
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    width:25%;
    font-weight:bold;
}
td.LData 
{
	border-bottom: 1px solid #bbbbbb;
	width:25%;
}

table.dataG th{
	background-image:url(images/GridHeaderBackground.jpg);
    background-repeat:repeat-x;
	text-align:left;
	vertical-align:top;
	color:#181a21;
}
table.dataG td {
	border-bottom: 1px solid #999;
}

.Grid { border-style: none; }

.GridHeader{
    border-style: none;
    background-image:url(images/GridHeaderBackground.jpg);
    background-repeat:repeat-x;
	text-align:left;
	color:#181a21;
}
.GridHeaderPayoutQuoteLetter{
    border-style: none;
    background-image:url(images/GridHeaderBackground.jpg);
    background-repeat:repeat-x;
	text-align:center;
	color:#181a21;
}

.GridItem
{
    border-bottom: 1px solid #999;
    color: Black;    
}

.GridItemCurrency
{
    border-bottom: 1px solid #999;
    color: Black;
    text-align: right;    
}

.GridHeaderCurrency{
    border-style: none;
    background-image:url(images/GridHeaderBackground.jpg);
    background-repeat:repeat-x;
	text-align:right;
	vertical-align:top;
	color:#181a21;
}

#copyhome {
	background-color:#e5ecf2;
	height:150px;

}

#copyhome input {

	width:200px;

}

#copy input {
	width:400px

}
#tfsregister {
	float:right;
	width:400px;
	border-left: 1px solid #CCC;
}

#tfsregister ul {
	margin:0px;
	padding:0px 10px 10px 10px;
	list-style:none;
	border-top: 1px solid #EAEAEA;
}
#tfsregister li {
	/*list-style:none;
	padding:0px;
	margin:0px;	*/
	
    list-style:none;
	padding:0px 0px 0px 20px;
	display:block;
	margin:0px 0px 15px 0px;
	background-image:url(images/arrow.gif);
	background-repeat:no-repeat;
}
/*#tfsregister li a{
	list-style:none;
	padding:0px 0px 0px 20px;
	display:block;
	margin:0px 0px 15px 0px;
	background-image:url(images/arrow.gif);
	background-repeat:no-repeat;

}*/
#copyhome input.button, input.button {
	background-color:#de2830;
	border-radius: 2px;
	width:auto;
	color:#FFF;
	border:none;
	font-weight:bold;
	font-family:Arial;
	height:28px;
	font-size:100%;
	font-size:11px;
	float:right;
	margin-right:2px;
	text-transform:uppercase;
	cursor:pointer;
}
#copyhome input.button:hover, input.button:hover
{
	background-color:#df3a42;
}
#copy input.butlink:hover, input.butlink:hover 
{
	background-color:#df3a42;
}
#copy input.butlink, input.butlink 
{
	border-radius: 2px;
	background-color:#de2830;
	width:auto;
	color:#FFF;
	border:none;
	font-weight:bold;
	font-family:Arial;
	text-transform:uppercase;
	height:28px;
	font-size:11px;
	font-size:100%;
	margin-right:2px;	
	cursor:pointer;
}
#copy input.radioB {
	width:auto;
}

#copy span.radioB input {
    width:auto;
}
#copy input.dateWidth {
	width:auto;
}
#agreeButtons {
	float:right;
	width:220px;
}
#ConditionOfUse_UCheckAgree
{
	float: right;
	width:517px;
}
#refButtons {
	float:right;
	width:220px;

}

#wrapperLogin {
	border:1px solid #CCCCCC;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}
#content {
	padding: 30px 25px 60px 30px;	
}
#content h1 {
	padding:0px;
	margin:0px 0px 20px 5px;
	font-size: 160%;

}
#rightToolBar {
	float:right;
	max-width:250px;
	width: 27%;
}
#copy {
	float:left;
	max-width:630px;
	width: 68%;
	margin-right:3%;
}
#header {
	clear:both;
		
}
#mainBanner {

	height:177px;
	margin-top:-4px;
	cursor:pointer;
	cursor:hand
}
#nav {
	padding: 0px;
	margin-top:45px;
	margin-bottom:4px;
	float:left;
	max-width:960px;
	width: 100%;
}
#nav ul {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 5px;
	list-style:none;
	display:table;
	float:left;
}
#nav li 
{
	width:120px;
	height:30px;
	list-style:none;
	display:inline-block;
	float:left;
	text-align:center;
}
*+html #nav li{
	display:inline;
}
*html #nav li{
	display:inline;
}

#nav li a 
{
	padding-top:8px;
    text-transform:uppercase;    
	display:inline-block;
	font-size:11px;
	color:#181a21;
	font-weight:bold;
}
#nav li:hover
{
	background-image:url(images/HoverMainMenu.png);
}
#nav li a:hover 	
{
	color:#181a21;
	font-weight:bolder;
}
#nav li a.navOn {
	background-color:#383637;
}
/* TOOLBOX Nav */


#toolNav {
	padding: 0px;
	width:230px;
	position:relative;
	float:right;
	top:10px;
	font-size:80%;
	text-align:right;	
}
#toolNav ul 
{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 30px;
	list-style:none;
	display:inline;
	
}
#toolNav li 
{
	list-style:none;
	display:inline;
	margin-right:10px;

	font-size:100%;
}
#toolNav li a {
	text-transform:uppercase;
	font-weight:bold;	
	display:inline;	
	color:#4D4F53
}
#toolNav li a:hover {	
	color:#EB0A1E;
	display:inline;
}

/* END toobox Nav */

#loginBox {
	background-image:url(images/loginBG.jpg);
	background-repeat:no-repeat;
	float:right;
	width:447px;
	height:416px;
	margin-top:-88px;
}
#loginBox h1{
	text-transform:uppercase;
	font-size:150%;
	padding:10px 10px 10px 20px;
	margin:20px 0px 0px 0px;
}
#loginBox p {
	padding-left: 20px;
	*margin-top:0px;
}
#loginBox table td {
	padding-top:10px;
}
#loginBox table {
	padding-left: 20px;
}
#loginBox input {
	width:240px;
	border:1px solid #b4aeae;
}

#loginBox ul {
	margin:0px;
	padding:20px 10px 10px 10px;
	list-style:none;
	border-top: 1px solid #EAEAEA;
}
#loginBox li {
	list-style:none;
	padding:0px;
	margin:0px;
}
#loginBox li a{
	list-style:none;
	padding:0px 0px 0px 20px;
	display:block;
	margin:0px 0px 15px 0px;
	background-image:url(images/arrow.gif);
	background-repeat:no-repeat;
}
#mainImage {
	float:left;
}
 
#marketingAds img 
{
	float:right;
	margin: 10px 10px 10px 10px
}
#marketingAds p{
	margin:0px 26px 10px 20px;
}

#marketTwo {
	float:left;
	width:305px;
	background-color:#d0d7dd;
	margin:5px;                                              
}
#marketThree {
	float:left;
	width:305px;
	background-color:#d0d7dd;
	margin:5px;                        
}
#footer {
	max-width:950px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	color:#181a21;
}

#footer a {
	color:#181a21;

}

#footer a:hover {
color:#ed1c24;

}
#footerPOP {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
}
#termsC {
	float:right;
	color:#181a21;
}
#termsConditionsPopup {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #383637;
	background-color:#ffffff;
}
#termsConditionsPopup h1 {
	padding:20px;
	margin:0px;
	font-size: 160%;
	text-transform:uppercase;
	background-color:#eeeeee;
}
#termsConditionsPopup h2 {
	font-size:150%;
}
#termsConditionsPopup h3 {
	font-size:130%;
}
#termCondContain {
	padding:20px;
	color:Black;
}
#agree {
	border-top:1px solid #EAEAEA;
	background-color:#fff;
	padding:10px;
	margin-bottom:10px;
	color: Black;
}
#Refagree {
	border-top:1px solid #EAEAEA;
	padding:5px;
	height:20px;

/* ### FAQs Right Bar */
}
#faqsRB {

}
#faqsRB dl {
	padding:0px;
	margin:10px;
	width:230px;
	height:95px;
	background-image:url(images/FaqSmallBg.jpg);
	background-repeat:no-repeat;
}
#faqsRB dt {
	color:#181a21;
	padding:10px 10px 10px 20px;
	font-size:120%;

	font-weight:bold;
}
#faqsRB dd {
	padding:10px;
	margin:0px;
}
/* ### HELP Right Bar */

.paymentOptions
{
	background-image:none;
	background: #e7e7e7;
	background: -webkit-linear-gradient(#e7e7e7, #d0d0d0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#e7e7e7, #d0d0d0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e7e7e7, #d0d0d0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#e7e7e7, #d0d0d0); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d0d0d0',GradientType=0 );
	border-radius:8px;
	max-width:230px;
	padding:0px 0px 10px 0px;
	margin:10px;
}

.helpContent
{	
	background-image:url(images/FaqBackground.jpg);
	background-repeat:no-repeat;
	width:230px;
	height:188px;
	padding:0px 0px 10px 0px;
	margin:10px;
}

.misplaced
{
	background-image:url(images/HelpBG.jpg);
	background-repeat:no-repeat;
	width:230px;
	height:130px;
	padding:0px 0px 10px 0px;
	margin:10px;
}

#helpRB {

}
#helpRB dl 
{
}
#helpRB dt {
	color:#181A21;
	padding:10px 10px 10px 20px;
	font-size:120%;
	font-weight:bold;
}
#helpRB dd 
{
	padding:10px;
	margin:0px;
}
/* ### FAQs Right Bar */

#likeTwo {

}
#likeTwo dl 
{
	background-image:none;
	background: #e7e7e7;
	background: -webkit-linear-gradient(#e7e7e7, #d0d0d0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#e7e7e7, #d0d0d0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e7e7e7, #d0d0d0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#e7e7e7, #d0d0d0); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d0d0d0',GradientType=0 );
	border-radius:8px;
	padding:0px;
	margin:10px 10px 30px 10px;	
	padding:0px 0px 10px 0px;
	max-width: 230px;
}
#likeTwo dt {

	color:#181A21;
	padding:10px 10px 10px 20px;
	font-size:120%;

	font-weight:bold;
}
#likeTwo dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px
	
}
#likeTwo dd{
	background-image:url(images/dd.gif);
	background-repeat:no-repeat;
	padding-left:25px;
	padding-top:2px;
	line-height:16px;
}

/* ### FAQs Right Bar */

#FAQL {

}
#FAQL p{
	background-image: url("images/dd.gif");
    background-repeat: no-repeat;
    line-height: 16px;
    margin: 0;
    padding-left: 25px;
    padding-top: 2px;

}
#FAQL dl {
	padding:0px;
	margin:10px 10px 30px 10px;	
	padding:0px 0px 10px 0px;
	background-image:none;
	background: #e7e7e7;
	background: -webkit-linear-gradient(#e7e7e7, #d0d0d0);
	background: -o-linear-gradient(#e7e7e7, #d0d0d0); 
	background: -moz-linear-gradient(#e7e7e7, #d0d0d0); 
	background: linear-gradient(#e7e7e7, #d0d0d0); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#d0d0d0',GradientType=0 );
	border-radius:8px;
	max-width:230px;

}
#FAQL dt {
	color:#181a21;
	padding:10px 10px 10px 20px;
	font-size:120%;	
	font-weight:bold;
}

#FAQL dd {
	padding:10px;
	margin:0px;display:block;
	line-height:10px;
	padding: 5px
	
}
#FAQL dd a {

	
/* ------ TIME ----- */

}

#time {

}
#time p{
	background-image:url(images/dd.gif);
	background-repeat:no-repeat;
	margin:0px;
	line-height:15px;
	color:#181A21;
	

}
#time dl {
	padding:0px;
	margin:10px 10px 10px 10px;
	background-image:url(images/RightHeadingBackground.jpg);
	background-repeat:no-repeat;
	width:230px;
	height:35px;	
}
#time dt {
	font-size:100%;
	padding:10px;
	text-align:center;
	color:#181A21;
}
#time dd {
	margin:0px;
	display:block;
	line-height:10px;
	
}
/* ### HELP Right Bar */

.results-pagination
{    
    font-size: 11px;
    background: transparent no-repeat 0 100%;
    padding: 8px;
    text-align: right;
    margin: 0 0 10px;
}
.results-pagination p {
	margin:0
}
.results-pagination a:link, .results-pagination a:visited
{    
    background: #fff;
    padding: 3px 5px;
    border: 1px solid #000;
    color: #000;
}
.results-pagination a:hover, .results-pagination a:active {
	background:#3f3f3f;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#fff;
	text-decoration:none
}
.pagination-previous, .pagination-current, .pagination-next {
	font-weight:bold
}
span.pagination-previous, span.pagination-next {
	background:#fff;
	padding: 3px 5px;
	border: 1px solid #e7e7e7;
	color:#afafaf
}
.pagination-current {
	background:#3f3f3f;
	padding: 3px 5px;
	border: 1px solid #000;
	color:#fff
}
#payoutResult {
	border:1px solid #ee1b21;
	background-color:#FFF;
	padding:15px;
	margin:15px 0px 15px 0px;
}
a.printTransactions {
	background-image:url(/App_Themes/Common/images/pdf.gif);
	background-repeat:no-repeat;
	float:left;
	display:block;
	width:150px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
a.printPDF {
	background-image:url(/App_Themes/Common/images/pdf.gif);
	background-repeat:no-repeat;
	float:right;
	display:block;
	width:150px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}
a.getAdobe {
	float:right;
	display:block;
	width:100px;
	font-weight:bold;
	padding-left:25px;
	padding-bottom:5px;
	padding-top:3px;
	margin-left:20px;
}

a.unreadNotification {
	color:#003399;
	text-decoration:underline;
	font-weight:bold
}

#downloadPDF {
	background-color:#eaeaea;
	padding:15px;
	margin-top:15px;
}
td.lightrow {
		background-color:#FFF;

	}
	
.accordionHeader {
	background-color:#FFF;
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
}
/* Added by Chrisanty Mosqueda */

#companyImage3
{
    background-position: top;
    background-image: url(images/TFSLogo.jpg);
    background-repeat: no-repeat;
    width: 207px;
    height: 63px;
}
#mainImage2 
{
    background-image: url(images/toyotaBanner.GIF);
    background-repeat: no-repeat;
	background-position:left top;
	background-size:100% auto;
    max-width: 960px;
	width:100%;
	/*margin-top:-4px;*/
	margin-bottom:10px;
    cursor:pointer;
	padding: 9% 0%;
 }
.MyCalendar .ajax__calendar_container
{
    border: 1px solid #FFFFFF;
    background-color: #e5ecf2;
    color: black;
}

.MyCalendar .ajax__calendar_container .ajax__calendar_header .ajax__calendar_prev 
{
	background-image:url(images/ddReverse.gif);
}

.MyCalendar .ajax__calendar_container .ajax__calendar_header .ajax__calendar_next
{
	background-image:url(images/dd.gif);
}

.MyCalendar .ajax__calendar_disabled .ajax__calendar_day 
{
    background-color:#e5ecf2;
    border-color:#ffffff;
    color:#a6a6a6;
}

/* End addition by Chrisanty Mosqueda */

/* Roylan Additional */
.myerrMsg
{
	background-color:#EAEAEA;
	border:2px solid #d90000;
	color:#d90000;
	padding:8px;
	position:relative;
	z-index:1000;    
}
.footerPOP {
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	padding:5px;
	font-size:90%;
	background-color: #eeeeee;
}

.notificationMsg
{
    background-color:#EAEAEA;
	border:none;
	color:#000000;
	padding:8px;
	margin: 0;
	position:relative;
	z-index:1000;
}

 .mystyle
{
	-moz-opacity: 0.90;
	filter: alpha(opacity=90);
	background: #666666;
}
#termsConditionsPopup2 {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #383637;
	background-color:#ffffff;
}
#termsConditionsPopup2 h1 {
	padding:20px;
	margin:0px;
	font-size: 160%;
	text-transform:uppercase;
	background-color:#eaeaea;
}
#termsConditionsPopup2 h2 {
	font-size:150%;
	color: Black;
}
#termsConditionsPopup2 h3 {
	font-size:130%;	
}
.mycurve
{
  src:url('/App_Themes/Common/images/curve2.gif');	
}
/****************/

#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid black;
padding: 2px;
background-color: #FFFFFF;
visibility: hidden;
color: Black;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS 
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}

#copy .radiobtnPersonal input 
{ 
    float           : none; 
    padding         : 0 0px; 
    width           : 18px; 
    margin-left     : -10px;/*for all major browsres*/ 
    *margin-left     : 0px;/*for IE7*/ 
    _margin-left     : 0px;/*for IE6*/ 
    padding-left	: 5px; 	
}   

#copy .radiobtnPersonal label 
{ 
    float           : none; 
    padding-right   : 5px; 
    font-family     : Arial, Helvetica, sans-serif; 
    padding-left    : 5px; 
    display         : block; 
    margin-left     : 20px; 
    margin-top      : -15px;
}

.accordionContainer
{
    cursor: pointer;
}
.accordionContainer h4 {
	margin-bottom:1em; 
	padding:3px; 
	background-color:#eee
}
.notificationLink
{
    color:#318BCC;
    text-decoration:underline;
}



span#ctl00_ctl00_MainPageContent_ChildMainPageContent_lblDealerContactRequired {display:inline-block; margin-left:-15px;}