* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 14px/1.4 Georgia, Serif; 
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
	
	
	
	/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.resTable table, .resTable thead, .resTable tbody, .resTable th, .resTable td, .resTable tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		.resTable thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.resTable tr { border: 1px solid #ccc; }
		
		.resTable td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		.resTable td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.resTable td:nth-of-type(1):before { content: "First Name"; }
		.resTable td:nth-of-type(2):before { content: "Last Name"; }
		.resTable td:nth-of-type(3):before { content: "Job Title"; }
		.resTable td:nth-of-type(4):before { content: "Favorite Color"; }
		.resTable td:nth-of-type(5):before { content: "Wars of Trek?"; }
		.resTable td:nth-of-type(6):before { content: "Porn Name"; }
		.resTable td:nth-of-type(7):before { content: "Date of Birth"; }
		.resTable td:nth-of-type(8):before { content: "Dream Vacation City"; }
		.resTable td:nth-of-type(9):before { content: "GPA"; }
		.resTable td:nth-of-type(10):before { content: "Arbitrary Data"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0; 
			width: 320px; }
		}
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}