body {
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}

.wrapper {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #239027;
}
.logo {
	float: left;
}
.header-right {
	padding-top: 20px;
	width: 550px;
	float: right;
}
.header-right p {
	text-align: right;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #1A712E;
	margin: 0px;
	padding: 0px;
}
.header-right p a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #1A712E;
	text-decoration: none;
	font-weight: bold;
}
.header-right p a:hover {
	text-decoration: underline;
}
.search-box {
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	height: 50px;
	width: 472px;
	background-position: center top;
	float: right;
	margin-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
}
.search-box .dropdown {
	width: 130px;
	font-family: Verdana, Geneva, sans-serif;
	height: 22px;
	margin-top: 15px;
	font-size: 13px;
	border: 1px solid #E4EAEF;
}
.search-box .textfield {
	width: 250px;
	height: 30px;
	margin-left: 7px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	box-shadow: 0 1px 2px #969696 inset;
	padding-right: 2px;
	padding-left: 4px;
	border: 1px solid #CCC;
	margin-top: -2px;
}
.search-box .submit {
	background-image: url(../img/search.gif);
	background-repeat: no-repeat;
	height: 33px;
	width: 72px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
	margin-left: -6px;
	margin-top: -1px;
}
.menubar {
	margin-top: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #239027;
	padding-bottom: 8px;
}
.menubar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.menubar ul li {
	float: left;
}
.menubar ul li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #000;
	display: block;
	padding-right: 14px;
	padding-left: 14px;
	text-decoration: none;
}
.menubar ul li a:hover {
	color: #239027;

}
.content {
	margin-top: 10px;
}
.content-left {
	float: left;
	width: 180px;
}
.content-left h2 {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	padding: 0px;
	text-align: center;
	margin: 0px;
	border-radius:2px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 26px;
	background-image: url(../img/menu.jpg);
	background-repeat: repeat-x;
	height: 29px;
}
.content-left .sidelinks {
	margin-top: 5px;
}

.content-right {
	float: right;
	width: 785px;
}
.content-right .recent-articles {
	margin-top: 15px;
}
.recent-articles img {
	float: left;
}

.recent-articles h2 {
	color: #3F3F3F;
	font-size: 18px;
	font-weight: 700;
	padding: 0px;
	margin-left: 10px;
	float: left;
	margin-top: 5px;
}
.recent-articles h3 {
	color: #1A712E;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: normal;
	margin-top: 18px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.recent-articles h3 a {
	color: #1A712E;
	text-decoration: none;
}
.recent-articles h3 a:hover {
	text-decoration: underline;
}
.recent-articles p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
	color: #222222;
	line-height: 19px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.content-right .most-viewed {
	margin-top: 25px;
}
.most-viewed img {
	float: left;
}

.most-viewed h2 {
	color: #3F3F3F;
	font-size: 18px;
	font-weight: 700;
	padding: 0px;
	margin-left: 10px;
	float: left;
	margin-top: 5px;
}
.most-viewed h3 {
	color: #1A712E;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight: normal;
	margin-top: 18px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.most-viewed h3 a {
	color: #1A712E;
	text-decoration: none;
}
.most-viewed h3 a:hover {
	text-decoration: underline;
}
.most-viewed p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
	color: #222222;
	line-height: 19px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.most-viewed .line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
.footer {
	margin-top: 25px;
	padding-top: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #239027;
	margin-bottom: 25px;
	text-align: center;
}
.footer ul {
	padding: 0px;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 135px;
}
.footer ul li {
	float: left;
	background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-position: left 5px;
}
.footer ul li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #444B51;
	padding-left: 12px;
	padding-right: 12px;
}
.footer p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	padding: 0px;
	color: #000;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.cms-content {
	margin-top: 10px;
}.cms-content .box-left {
	float: left;
	width: 470px;
}
.box-left h2 {
	border-bottom: 1px solid #CDCDCD;
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.box-left p {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
	text-align: justify;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.box-left p a {
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
}
.box-left p a:hover {
	text-decoration: underline;
}
.box-left h3 {
	border-bottom: 1px solid #CDCDCD;
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-right: 0;
	margin-bottom: 7px;
	margin-left: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.cms-content .box-left ul {
	padding: 0px;
	list-style-type: decimal;
	list-style-position: inside;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 5px;
}
.cms-content .box-left ul li {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
}
.box-left ul li a {
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
}
.box-left ul li a:hover {
	text-decoration: underline;
}

.cms-content .box-right {
	float: right;
	width: 475px;
}
.box-right h2 {
	border-bottom: 1px solid #CDCDCD;
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.box-right p {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
	text-align: justify;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.box-right p a {
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
}
.box-right p a:hover {
	text-decoration: underline;
}
.box-right h3 {
	border-bottom: 1px solid #CDCDCD;
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-right: 0;
	margin-bottom: 7px;
	margin-left: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.cms-content .box-right ul {
	padding: 0px;
	list-style-type: decimal;
	list-style-position: inside;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 5px;
}
.cms-content .box-right ul li {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
}
.box-right ul li a {
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
}
.box-right ul li a:hover {
	text-decoration: underline;
}

.register-container {
	margin-top: 10px;
}
.register-form {
	margin-bottom: 15px;
}
.register-form p {
	float: right;
	width: 315px;
}

.register-form label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	float: left;
	width: 140px;
}
.register-form .textfield {
	float: left;
	border: 1px solid #CCC;
	width: 230px;
	height: 19px;
}
.register-form .dropdown {
	height: 22px;
	width: 231px;
}

.register-form .checkbox {
	float: left;
	margin-top: 2px;
}

.register-form .submit-label{
	float: left;
	display: block;
	width: 140px;
	height: 40px;
	 
 }
.register-form .submit {
	cursor:pointer;
	float:left;
	display:block;
	margin-top:5px;
	background-color: #5D7922;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border:1px solid #5D7922;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	background-image: none;
	margin-right: 10px;
}
.box-left .login-form-container {
	margin-left: 80px;
}
.login-form-container .login-form {
	margin-bottom: 10px;

}
.login-form label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	float: left;
	width: 140px;
}
.login-form .textfield {
	float: left;
	border: 1px solid #CCC;
	width: 170px;
	height: 19px;
}
.login-form .submit {
	cursor:pointer;
	float:left;
	display:block;
	margin-top:5px;
	background-color: #5D7922;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border:1px solid #5D7922;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	background-image: none;
	margin-right: 10px;
}
.forgot-password {
	margin-top: 10px;
}
.forgot-password label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	float: left;
	width: 170px;
}
.forgot-password .textfield {
	float: left;
	border: 1px solid #CCC;
	width: 170px;
	height: 19px;
	margin-bottom: 7px;
}


.forgot-password .submit {
	cursor:pointer;
	float:left;
	display:block;
	margin-top:5px;
	background-color: #5D7922;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border:1px solid #5D7922;
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	background-image: none;
	margin-right: 10px;
}
.profile-section {
}
.profile-section .profile-left {
	float: left;
	width: 150px;
}
.profile-left a img {
	margin-bottom: 10px;
}

.profile-section .profile-right {
	float: right;
	width: 380px;
}
.profile-right h2 {
	border-bottom: 1px solid #CDCDCD;
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.profile-right p {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
	text-align: justify;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.submit-new-article {
	background-color: #e8e8e8;
	padding-top: 7px;
	padding-right: 12px;
	padding-bottom: 7px;
	padding-left: 12px;
	margin-bottom: 20px;
}
.your-articles {
	margin-top: 15px;
}

.your-articles h3 {
	border-bottom: 1px solid #CDCDCD;
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-right: 0;
	margin-bottom: 7px;
	margin-left: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.your-articles .article-box {
	margin-bottom: 20px;
}
.article-box h4 {
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0px;
}
.article-box h4 a {
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-decoration: none;
}
.article-box h4 a:hover {
	text-decoration:underline;
}
.article-box label {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
	text-align: justify;
}
.article-box p {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
	text-align: justify;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.article-box p a{
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-decoration: none;
}
.article-box p a:hover {
	text-decoration:underline;
}
.profile-form-container {
	margin-top: 15px;
}
.profile-form {
	margin-bottom: 12px;
}
.profile-form label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	float: left;
	width: 130px;
	margin-right: 10px;
}
.profile-form .textfield {
	float: left;
	border: 1px solid #CCC;
	width: 225px;
	height: 19px;
}
.profile-form .textarea {
	float: left;
	border: 1px solid #CCC;
	width: 220px;
	height: 80px;
}
.profile-form .submit {
	cursor: pointer;
	float: left;
	display: block;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Firefox 3.6 and earlier */
	background-image: url(../img/change-profile.jpg);
	margin-right: 10px;
	height: 33px;
	width: 154px;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.profile-form .submit-pass {
	cursor: pointer;
	float: left;
	display: block;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Firefox 3.6 and earlier */
	background-image: url(../img/change-pass.jpg);
	margin-right: 10px;
	height: 33px;
	width: 154px;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.profile-form .submit-email {
	cursor: pointer;
	float: left;
	display: block;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Firefox 3.6 and earlier */
	background-image: url(../img/change-email.jpg);
	margin-right: 10px;
	height: 33px;
	width: 154px;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.submit-article-container {
}
.submit-article-container h2 {
	border-bottom: 1px solid #CDCDCD;
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.submit-article {
	margin-bottom: 15px;
	margin-left: 150px;
	margin-top: 5px;
}
.submit-article label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	float: left;
	width: 100px;
	margin-right: 15px;
}
.submit-article .dropdown {
	width: 250px;
	height: 23px;
	margin-right: 15px;
}
.submit-article .textfield {
	float: left;
	border: 1px solid #CCC;
	width: 300px;
	height: 20px;
}
.submit-article .textarea {
	float: left;
	border: 1px solid #CCC;
	width: 620px;
	height: 160px;
}
.submit-article .textarea-small {
	float: left;
	border: 1px solid #CCC;
	width: 620px;
	height: 110px;
}
.submit-article p {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
	text-align: justify;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.submit-article ul {
	padding: 0px;
	list-style-position: outside;
	list-style-type: decimal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 134px;
}
.submit-article ul li {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 19px;
}
.submit-article .submit-preview {
	cursor: pointer;
	float: left;
	display: block;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Firefox 3.6 and earlier */
	background-image: url(../img/preview.jpg);
	margin-right: 10px;
	height: 35px;
	width: 155px;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.submit-article .submit-add {
	cursor: pointer;
	float: left;
	display: block;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Firefox 3.6 and earlier */
	background-image: url(../img/add-article.jpg);
	margin-right: 10px;
	height: 35px;
	width: 160px;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.submit-article .submit-cancel {
	cursor: pointer;
	float: left;
	display: block;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Firefox 3.6 and earlier */
	background-image: url(../img/cancel.jpg);
	margin-right: 10px;
	height: 35px;
	width: 154px;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.detail-article-container {
}
.detail-article-container h2 {
	color: #1A712E;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-weight: 700;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.detail-article-container h3 {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	background-color: #efefef;
	line-height: 28px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.detail-article-container h3 a {
	color: #1A712E;
	text-decoration: none;
}
.detail-article-container h3 a:hover {
	text-decoration: underline;
}
.detail-article-container h2 .grey {
	font-size: 16px;
	color: #666;
	font-weight: normal;
}

.detail-article-container p {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}.detail-article-container ul {
	list-style-position: outside;
	list-style-type: decimal;
	margin-left: 20px;
}
.detail-article-container ul li {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
}
.about-author {	
margin-top: 20px;
}
.about-author h2 {
	color: #666;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 19px;
	font-weight: 700;
	padding: 0px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
}

.about-author p {
	color: #3F3F3F;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-top-color: #999;
	
	padding-top: 5px;
}
.about-author p a {
	color: #1A712E;
	text-decoration: none;
}
.about-author p a:hover {
	text-decoration: underline;
}
