/* Elastislide Style */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');
@import url('/css/animate.css');
@import url('/css/bootstrap.min.css');

body,html {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal;	
}
.es-carousel-wrapper{
    background: #101010;
    padding:3px 27px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position:relative;
    -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
    position:relative;
    margin-bottom:20px;
    opacity: 1;
}
.es-carousel{
    overflow:hidden;
}
.es-carousel ul{
    display:none;
}
.es-carousel ul li{
    float:left;
    display:inline-block;
    margin-right: 8px !important;
}
.es-carousel ul li a{
    display:block;
    opacity:0.8;
    -webkit-touch-callout:none;
    /* option */
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #ccc;
}

.es-carousel ul li a:hover,
.es-carousel ul li a:focus {
    text-decoration: none;
}

.es-carousel ul li.selected a{
    opacity:1.0;
}
.es-carousel ul li a img{
    display:block;
    max-height: 85px;
    max-width: 65px;
    border:solid 2px;
    border-color:#222;
    margin: 0px auto !important;
}

.es-carousel ul li.selected a img{
    border-color:#fff;
}

.es-nav span{
    position:absolute;
    top:50%;
    left:8px;
    background:transparent url(/img/nav_thumbs.png) no-repeat top left;
    width:14px;
    height:26px;
    margin-top:-13px;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.8;
}
.es-nav span.es-nav-next{
    right:8px;
    left:auto;
    background-position:top right;
}
.es-nav span:hover{
    opacity:1.0;
}
.gallery-container{
    margin: 0 30px;
    text-align: center;
}
.gallery-container h1{
    color: #AAA;
}
.rg-image-wrapper{
    position:relative;
    padding:20px 0px;
    /*background:transparent url(/img/black.png) repeat top left;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    min-height:20px;
}
.rg-image{
    position:relative;
    text-align:center;
    margin: 0 auto;
}
.rg-image img{
    max-width: 100%;
    box-shadow: 0px 14px 17px #F1F1F1;
}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background:#000 url(/img/nav.png) no-repeat -20% 50%;
    width:28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.3;
    outline:none;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    display: none;
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
    opacity:0.8;
}
.rg-caption {
    text-align:center;
    margin-top:15px;
    position:relative;
}
.rg-caption p{
    font-size:11px;
    letter-spacing:2px;
    font-family: 'Montserrat', sans-serif;
    line-height:16px;
    padding:0 15px;
    text-transform:uppercase;
}
.rg-view{
    height:30px;
}
.rg-view a{
    display:block;
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#464646 url(/img/views.png) no-repeat top left;
    border:3px solid #464646;
    opacity:0.8;
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    background-color:#6f6f6f;
    border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:80px;
    height:80px;
    position:fixed;
    top: 50vh;
    left: 50vw;
    background:url(/img/ajax-loader.gif) no-repeat center center;
    margin:-35px 0 0 -35px;
    z-index:100;    background-size: 120px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
     border-radius: 50%;
    /*background-color: rgba(255, 255, 255, .8);*/
}
.es-carousel-wrapper {
    background: rgba(0, 0, 0, 0.8);
    border-radius:0px;
    margin-bottom:0px;
    padding-bottom: 18px;
}

.gallery-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.rg-image-wrapper {
    padding:0px;
    margin-bottom: 180px;
    border-radius:0px;
}
.rg-view {
    height: 18px;
    position: fixed;
    right: 82px;
    bottom: 28px;
    z-index: 9;
    cursor: pointer;
    z-index: 99999;
}
.rg-view a {
    margin-top:3px;
}
.rg-view span {
    color:#ccc;
    font-size:12px;
    margin-right:4px;
}
.rg-thumbs {
    bottom: 0;
    left: 75px;
    position: fixed;
    right: 75px;
    z-index: 99;
    margin-bottom: 20px;
}

body.comments-active .comments {
    display: block;
}

.comments {
    background-color: #ccae22;
    opacity: .8;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 8px 5px 5px 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: none;
    box-shadow: rgba(110, 110, 110, .5) 2px 2px 5px;
}

.comments.unread {
    background-color: #D02222 !important;
}

.comments.commented {
    background-color: #7FC56A !important;
}

.comments.read:after {
    content: url("/img/comment-icon.png");
    display: block;
    margin-top: -1px;
}

.comments.unread:after {
    content: url("/img/comment-icon-red.png");
    display: block;
    margin-top: -2px;
}

.comments-container {
    position: absolute;
    min-height: 200px;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    display: none;
    z-index: 99999;
    box-shadow: rgb(110, 110, 110) 2px 3px 9px;
}

.comments-container .user-comments {
    /* background-color: #E4E4E4;
    border: solid 1px #ccc; */
    width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    padding: 10px 2px;
    overflow: auto;
    color: #939393;
}

.client-comments-container {
    margin-bottom: 15px;
}

.client-comments-container .client-comments-content {
    width: 100%;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.client-comments-container .date {
    text-align: center;
    color: #7B76E0;
    font-size: 12px;
}

.client-comments-container .time {
    color: #93D08F;
    font-size: 11px;
    float: right;
    padding-top: 2px;
}

.client-comments-container .removeComment {
    position: absolute;
    background-color: #FFF;
    font-size: 12px;
    right: 0px;
    top: 3px;
    visibility: hidden;
    opacity:0;
    color: #DA3131;
    cursor: pointer;
    padding: 0px 3px;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}

.client-comments-container .client-comments {
    position: relative;
}

.client-comments-container .client-comments:hover p.removeComment {
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
}

.client-comments-container strong {
    color: #5F5F5F;
}

.comments-container .comment-area input#addComment {
    width: 30%;
    margin: 10px auto 0;
    display: block;
    background-color: #5cb85c;
    border: 0px;
    color: #fff;
    padding: 5px 12px;
    font-size: 16px;
}

.comments-container .comment-area #closeCommentBox {
    position: absolute;
    right: -7px;
    top: -36px;
    cursor: pointer;
    font-size: 19px;
    max-width: 35px;
}

.comments-container .comment-area textarea {
    width: 100%;
    min-height: 130px;
    padding: 5px;
    border-color: #ECECEC;
}

/* Comments container stlying, updated on 08/03/2017 */
#commentusername{
    color: #C1C1C1;
    font-size: 14px;
    margin-bottom: 5px;
}

.btn-hiddencancel:hover {
    background-color: #3276b1 !important;
}
.btnCommentsCancel {
    background-color: transparent;
    color: #ccc;
    padding: 10px 18px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;      
    border: none !important; 
    margin: 0 !important;
    margin-top: 35px !important;
    margin-left: 7px !important;
    border-radius: 0;
    height: 52px;
    outline: none;
}





.name-container {
    position: absolute;
    min-height: 166px;
    width: 354px;
    background-color: #fff;
    padding: 10px;
    display: none;
    z-index: 9999999;
    box-shadow: rgb(110, 110, 110) 2px 3px 9px;
}

.name-container .form-group {
}

.name-container .form-group label,
.comments-container label {
    font-size: 13px;
    font-weight: normal;
    color: #8c8a8a;
}

.name-container input[type='text'],
.name-container input[type='email'] {
    width: 100%;
    padding: 5px;
    border: solid 1px #ECECEC;
}

.name-container input[type='submit'] {
    width: 50%;
    margin: 6px 16px 0px 32px;
    display: inline-block;
    background-color: #5cb85c;
    border: 0px;
    color: #fff;
    padding: 5px 12px;
    font-size: 16px;
}


.es-carousel li a {
    position: relative;
}

.es-carousel li a span.commentsCount {
    background-color: #ccae22;
    opacity: .8;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 25%;
    left: 26%;
    margin: 0px !important;
    padding: 5px 0 0 0px !important;
    text-align: center !important;
    color: #fff;
    box-shadow: rgb(110, 110, 110) 2px 3px 9px;
}

.es-carousel li a span.commentsCount.unread {
    background-color: #D02222 !important
}

.es-carousel li a span.commentsCount.read:after {
    content: url("/img/comment-icon.png");
    display: block;
    margin-top: -5px;
}

.es-carousel li a span.commentsCount.unread:after {
    content: url("/img/comment-icon-red.png");
    display: block;
    margin-top: -5px;
}

#downloadPDF {
    /*    height: 18px;
    position: fixed;
    right: 305px;
    bottom: 25px;
        z-index: 99999;*/
    cursor: pointer;
}

#downloadPDF .CommentText { 
    color: #ccc;
    font-size: 12px;
    margin-right: 0;  	
}
#downloadPDF .CommentText a {
    color:#ccc;
    font-size: 12px;
    /*background: url("/img/PDF_Icon.png") no-repeat right 1px;*/
    padding: 0 20px 0 0;
    /*background-size:14px 14px;*/
    float:right;
    text-decoration:none; 
}
#downloadPDF .CommentText a:hover,#downloadPDF .CommentText a:focus {
    text-decoration:none; 
}
.commentsView {
    height: 18px;
    position: fixed;
    right: 182px;
    bottom: 28px;
    cursor: pointer;
    z-index: 99999;
}

.commentsView .CommentText {
    color: #ccc;
    font-size: 12px;
    margin-right: 4px;
}

.commentsView #showComments {
    /*display: none;*/
}
.commentsView #hideComments {
    display: none;
}

.commentsView .glyphicon-comment {
    color: #ccc;
    top: 4px;
}

.circle-container {
}

.deleteComment {
    position: absolute;
    right: -39px;
    background-color: #DF1F1F;
    font-size: 11px;
    padding: 2px 10px;
    top: -9px;
    letter-spacing: .06em;
    display: none;
}

#notification {
    height: 18px;
    position: fixed;
    right: 405px !important;
    bottom: 28px;
    cursor: pointer;
    z-index: 99999;
    display:none;

}

#notification .CommentText {
    color: #ccc;
    font-size: 12px;
    margin-right: 2px;
}

#notification .glyphicon {
    color: #ccc;
    top: 2px;
}

.notification-container {
    position: fixed;
    bottom: 67px;
    right: 385px;
    width: 162px;
    z-index: 9999;
    box-shadow: rgba(110, 110, 110, .5) 0px 0px 8px;
    text-align: center;
    background-color: #fff;
    padding: 5px 3px;
    min-height: 150px;
    display: none !important;
}

.notification-container.active {
    -webkit-animation-name: notification;
    -webkit-animation-duration: .5s;
    animation-name: notification;
    animation-duration: .5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes notification {
    0%   {bottom: -160px;}
    100% {bottom: 67px;}
}

/* Standard syntax */
@keyframes notification {
    0%   {bottom: -160px;}
    100% {bottom: 67px;}
}

.notification-container .notify-arrow {
    position: absolute;
    bottom: -12px;
    left: 73px;
    color: #000;
}

.notification-container .notification-content {
    clear: both;
    padding: 3px 10px 10px;
}

.notification-container #closeNotificationBox {
    cursor: pointer;
    max-width: 22px;
    float: right;
}

.notification-container h4 {
    font-size: 14px;
    line-height: 23px;
    padding: 0 0 10px 0px;
    margin: 0px;
}

.notification-container h3 {
    font-size: 14px;
    line-height: 20px;
    padding: 28px 0 10px 0px;
    margin: 0px;
    display: none;
}

.notify-text label {
    font-weight: normal;
    font-size: 12px;
    color: #989898;
}

.notify-text input {
    position: relative;
    top: 2px;
}

.comments-container label {
    font-size: 16px;
}
.comments-container .comment-area input#addComment {
    float: left;
}
.comments-container .comment-area input#addComment:hover {
    background: #5ca85b;
}
#usrCommentCancel { 
    margin-top: 0!important;
    font-size: 15px;

}
#usrCommentCancel:hover {
    background: none!important;
    color: #bab7b7 !important;
}
.name-container input[type='submit'] { 
    float: left;
    margin-left: 0;
}
.name-container input[type='submit']:hover {
    background: #5ca85b;
}
.name-container h3 {
    color: #8c8a8a;
    font-size: 16px;
    margin-top: 10px;
}
.name-container p {
    color: #C1C1C1;
    font-size: 12px;
}
.cancelCommenting {
    background-color: transparent;
    color: #ccc;
    font-size: 15px;
    cursor: pointer;
    /*border-radius: 5px;
    margin-bottom: 15px;
    border: none !important;
    margin: 0 !important;
    margin-top: 16px !important;
    margin-left:22px !important;
    border-radius: 0;*/

    float: left;
    outline: none;
}
.cancelCommenting:hover {
    background: none!important;
    color: #bab7b7 !important;
    text-decoration: none;
}
#cancelCommenting {
    margin-top: 12px !important;
    margin-left:7px !important;
}    

.hover-tooltip-msg {
    /*position: relative;
top: -43px;
left: -227px;	*/
    display: none;
}

.username-tooltip + .tooltip > .tooltip-inner {background-color: #808080;}
.username-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#808080; }



/*_______Added for new design  _________*/


.description-container {
    position: absolute;
    min-height: 200px;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    display: none;
    z-index: 99999;
    box-shadow: rgb(110, 110, 110) 2px 3px 9px;
    margin-left:800px;	
    margin-top:-950px;
}

.description-container .user-description {
    /* background-color: #E4E4E4;
    border: solid 1px #ccc; */
    width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    padding: 10px 2px;
    overflow: auto;
    color: #939393;
}

.client-description-container {
    margin-bottom: 15px;
}

.client-description-container .client-description-content {
    width: 100%;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.client-description-container .date {
    text-align: center;
    color: #7B76E0;
    font-size: 12px;
}

.client-description-container .time {
    color: #93D08F;
    font-size: 11px;
    float: right;
    padding-top: 2px;
}

.client-description-container .removeDescription {
    position: absolute;
    background-color: #FFF;
    font-size: 12px;
    right: 0px;
    top: 3px;
    visibility: hidden;
    opacity:0;
    color: #DA3131;
    cursor: pointer;
    padding: 0px 3px;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}

.client-description-container .client-description {
    position: relative;
}

.client-description-container .client-description:hover p.removeDescription {
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
}

.client-description-container strong {
    color: #5F5F5F;
}

.description-container .description-area input#addDescription {
    width: 30%;
    margin: 10px auto 0;
    display: block;
    background-color: #5cb85c;
    border: 0px;
    color: #fff;
    padding: 5px 12px;
    font-size: 16px;
}

.description-container .description-area #closeDescriptionBox {
    position: absolute;
    right: -7px;
    top: -36px;
    cursor: pointer;
    font-size: 19px;
    max-width: 35px;
}

.description-container .description-area textarea {
    width: 100%;
    min-height: 130px;
    padding: 5px;
    border-color: #ECECEC;
}

/*_____Ending New design______*/


/* _______________________________

        Start Image linking || Hotspot

*/

body.image-linking-active .linked-image {
    display: block;
}

.linked-image {
    position: absolute;
    background-color: #ccae22;
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 0;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: none;
    box-shadow: rgba(110, 110, 110, .5) 2px 2px 5px;
}

.linked-image.unread {
    background-color: #D02222 !important;
}

.linked-image.commented {
    background-color: #7FC56A !important;
}

.linked-image.read:after {
    /*content: url("/img/comment-icon.png");
    display: block;
    margin-top: -1px;
    */
}

.linked-image.unread:after {
    /*content: url("/img/comment-icon-red.png");
    display: block;
    margin-top: -2px;
    */
}
.imageLinkingView {
    height: 18px;
    position: fixed;
    right: 630px;
    bottom: 25px;
    cursor: pointer;
    z-index: 99999;
    color: #FFFFFF;
}
.imageLinkingView #hideImageLinking {
    display: none;
}

body.image-linking-active.deleteImageLinking {
    position: absolute;
    right: -39px;
    background-color: #DF1F1F;
    font-size: 11px;
    padding: 2px 10px;
    top: -9px;
    letter-spacing: .06em;
    display: none;
}


.image-linking-container{
    position: absolute;
    min-height: 200px;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    display: none;
    z-index: 99999;
    box-shadow: rgb(110, 110, 110) 2px 3px 9px;
}

.image-linking-container .user-description {
    /* background-color: #E4E4E4;
    border: solid 1px #ccc; */
    width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    padding: 10px 2px;
    overflow: auto;
    color: #939393;
}

.client-image-linking-container {
    margin-bottom: 15px;
}

.client-image-linking-container .client-image-linking-content {
    width: 100%;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.client-image-linking-container .date {
    text-align: center;
    color: #7B76E0;
    font-size: 12px;
}

.client-image-linking-container .time {
    color: #93D08F;
    font-size: 11px;
    float: right;
    padding-top: 2px;
}

.client-image-linking-container .removeImageLinking {
    position: absolute;
    background-color: #FFF;
    font-size: 12px;
    right: 0px;
    top: 3px;
    visibility: hidden;
    opacity:0;
    color: #DA3131;
    cursor: pointer;
    padding: 0px 3px;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}

.client-image-linking-container .client-image-linking {
    position: relative;
}

.client-image-linking-container .client-image-linking:hover p.removeImageLinking {
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
}

.client-image-linking-container  strong {
    color: #5F5F5F;
}


.image-linking-container .image-linking-area #closeImageLinkingBox {
    position: absolute;
    right: -7px;
    top: -36px;
    cursor: pointer;
    font-size: 19px;
    max-width: 35px;
}

.image-linking-container .image-linking-area select {
    width: 50%;
    min-height: 25px;
    padding: 4px;
    border-color: #ECECEC;
}

#resizeDiv {
    opacity: .8;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    display: none;
    z-index: 99999;
    box-shadow: rgb(110, 110, 110) 2px 3px 9px;
}

/*_____Ending Image Linking______*/


/**** Custom CSS *****/

.tumbnails-gallery {
    /*border-bottom: 10px solid rgba(38, 43, 52, 0.86);*/
    /*border-bottom: 5px solid #252b35; */ /**** For theme Black ****/
    border-bottom: 5px solid #5284c9; /**** For theme Blue ****/
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    /*width: 1600px;*/
}
.rg-thumbs {
    width: 40%;
    left: 30%;
    right: 30%;
    margin-bottom: 5px;
}
.es-carousel-wrapper {
    /*background: rgba(38, 43, 52, 0.86);*/
    /*background: rgba(17, 66, 134, 0.86);*/
    /*background-color: #252b35;*/ /**** For theme Black ****/
    background-color: #5284c9; /**** For theme Blue ****/
    box-shadow: none;
    padding-bottom: 4px;
    padding-top: 2px;
    min-height: 79px;
}
.control-panel {
    /*background-color: rgba(38, 43, 52, 0.86);*/
    /*background-color: #252b35;*/ /**** For theme Black ****/
    background-color: #5284c9; /**** For theme Blue ****/
    /*width: 300px;*/
    height: 32px;
    position:fixed;
    right:0;
    bottom: 5px;
    cursor:pointer;
    z-index:9999;
    border-radius: 8px 0 0 0;
    padding-left: 10px;
}
.description-icon {
    background-image: url(/img/sprite-icon.png);
    background-position: -280px -300px;
    width: 21px;
    height: 23px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.description-icon:hover,
.active .description-icon {
    background-image: url(/img/sprite-icon.png);
    background-position: -280px -200px;
}
.active .description-icon:before,
.active .comments-icon:before,
/*.active .hide-show-frame-btn:before,*/
.active .hotspot-btn:before,
.active .video-btn:before {
    content: "";
    display: inline-block;   
    width: 28px;
    height: 2px;
    margin: 0;
    position: absolute;
    top: -7px;
    left: -4px;
    /*border-top: 3px solid #00a7e0;*/
    border-top: 3px solid #ffffff;
}
.active .comments-icon:before,
.active .hotspot-btn:before,
.active .video-btn:before {
    left: 0px; 
}
.comments-icon {
    background-image: url(/img/sprite-icon.png);
    background-position: -210px -200px;
    width: 27px;
    height: 25px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.comments-icon-active:hover {
    background-image: url(/img/sprite-icon.png);
    background-position: -210px -200px;
}
.comments-icon-active {
    background-image: url(/img/sprite-icon.png);
    background-position: -210px -300px;
    width: 27px;
    height: 25px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.comments-icon-active:before {
    border-top: 3px solid #00aeef;
}
.hide-thumbnail {
    /*background: rgba(38, 43, 52, 0.86);*/
    /*background: #252b35;*/ /**** For theme Black ****/
    background: #5284c9; /**** For theme Blue ****/
    width: 40px;
    right: -40px;
    position: absolute;
    bottom: 0;
    height: 94px;
    border-radius: 10px 10px 0 0;
}
.hide-thumbnail .rg-view-full {
    display: flex;    
    width: 100%;
    height: 20px;
}
.es-carousel li a span {
    position: absolute;
    /*background: #b4b4b4;
    bottom: 4px;
    width: 20px;
    height: 20px;
    right: 9px;
    color: #000000;*/
    padding: 0 6px;
    font-size: 10px;
    right: 36.5%;
    bottom: -12px;
    color: #ffffff;
    background: transparent;
}
.hide-thumbnail .rg-view-full span {
    width: 14px;
    height: 2px;
    background-color: #ffffff;
    display: inline-block;
    margin: auto;
}
.es-carousel ul li.selected a img {
    border: 4px solid #4f33aa;
}
.es-carousel ul li a img {
    max-height: 60px;
    max-width: 60px;
    border: 4px solid transparent;
}
.es-carousel ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 12px;
}
.switch-mode-main {
    border: 1px solid #e32;
    margin-right: 1000px;
    position: absolute;
    left: -250px;
    width: 250px;
    bottom: 0;
    height: 73px;
}
.pdf-downloder {
    background-color: transparent;
    width: 38px;
    height: 60px;
    border-radius: 25px 0 0 25px;
    display: inline-block;
    margin-top: 13px;
    margin-right: 2px;

}
.pdf-downloder .CommentText a {
    background-image: url(/img/sprite-icon.png) !important;
    background-position: -140px -400px;
    background-repeat: no-repeat;
    /*background-size: 100% !important;*/
    text-indent: -999999px;
    overflow: hidden;
    width: 24px;
    height: 34px;
    white-space: nowrap;
    display: inline-block;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 8px;
    float: none!important;
}
.description-container {
    position: fixed;
    min-height: 100%;     
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    right: 7px;
    top: 0;
    z-index: 1;
    padding: 10px 15px; 
}
.description-container .date,
.description-container .time,
#descriptionusername {
    display: none;    
}
.description-container .user-description {
    max-height: calc(100% - 400px);
    margin-top: 10px;
}
.btn-style {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: 0;
    padding: 0;
}
.save-btn {    
    background-color: #01a7e1 !important;
    border: 1px solid transparent !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 14px !important;
    padding: 10px 25px !important ;
    display: inline-block !important;
    margin: 0 10px 0 0 !important;
    width: auto !important;
    font-weight: 300;
}
.cancel-btn {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    color: #66707e;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 300;
}
.hide-btn {
    background-color: #242b35;
    border: 1px solid transparent;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 300;
}
.add-note {
    color: #00a7e0;
    text-transform: uppercase;
    background: transparent;
    border: none;
    outline: 0;
}
.add-note::before {
    content: "";
    display: inline-block;
    background: url("/img/hide-notes.png") no-repeat;   
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
.video-btn {
    background-image: url(/img/sprite-icon.png);
    background-position: -140px -300px;
    width: 24px;
    height: 25px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.video-btn:hover,
.active .video-btn {
    background-image: url(/img/sprite-icon.png);
    background-position: -140px -200px;
    width: 24px;
    height: 25px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.description-title {
    margin-top: 30px;
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px;
}
.description-heading {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;   
}
.description-container .description-area textarea {
    margin-bottom: 15px;
}
.client-description-container .client-description-content {
    color: #3b3a3f;
    padding-left: 30px;
	padding-right: 10px;
    position: relative;
}
.client-description-container .client-description-content:before {
    content: "";
    display: inline-block;
    background: url("/img/description.png") no-repeat;   
    width: 21px;
    height: 23px;    
    margin: 0;
    position: absolute;
    left: 0;
    top: 9px;
}
.client-description-container .client-description {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
}
.client-description-container .date {
    margin-bottom: 5px;
}
.video-view,
.page-view-mode,
.thumb-hide-show,
.description-view{
    display: inline-block;   
    margin-top: 7px;
    margin-right: 10px;
    float: left;
    position: relative;
}
.thumb-hide-show {
    /*margin-left: 10px;*/
    display: none;
}
.page-view-mode {
    display: inline-block;   
    margin-top: 7px;
    margin-right: 10px;
    float: left;
}
.commentsView {
    position: relative;
    margin-top: 7px;
    margin-right: 10px;
    float: left;
    height: auto;
    right: 0;
    bottom: 0;
}
.hide-show-frame-btn {
    background-image: url(/img/sprite-icon.png);
    background-position: 0 -300px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.hide-show-frame-btn:hover {
    background-image: url(/img/sprite-icon.png); 
    background-position: 0 -200px;
}
.hotspot-btn {
    background-image: url(/img/sprite-icon.png);
    background-position: -70px -300px;
    width: 30px;
    height: 24px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.hotspot-btn:hover,
.active .hotspot-btn {
    background-image: url(/img/sprite-icon.png); 
    background-position: -70px -200px;
}
#rg-gallery .rg-view {
    display: none;
}

.client-description-container .removeDescription {
    background-image: url(/img/delete-note.png);
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    width: 20px;
    height: 20px;
    display: inline-block;
    top: 9px;
    z-index: 1;
    white-space: nowrap;
}
.client-description-container .removeDescription:hover {
    cursor: pointer;
}
.user-description .client-description-container strong {
    display: none;
}
#resizeDiv {
    background-color: rgba(82, 200, 244, 0.9 );
    border: 1px solid #00aeef;
    cursor: move;
}
.image-linking-container {
    border: 1px solid #d7d7d7;
    padding: 30px 25px;
    border-radius: 5px;
}
.comments-container {
    border: 1px solid #d7d7d7;
    padding: 30px 25px;
    border-radius: 5px;
}
#imagelinkingusername {
    display: none;
}
.img-link-label {
    font-size: 17px !important;
    color: #555555 !important;
    display: flex;
    font-weight: 600 !important;
    margin-bottom: 8px;
}
.image-linking-container-inner {
    /*border: 1px solid #333;*/
    margin-top: 50px; 
    border: 1px solid #d7d7d7;
    padding: 30px 25px;
    border-radius: 5px;
    box-shadow: rgb(110, 110, 110) 2px 3px 9px;
    background-color: #fff;
    position: absolute;    
}
.image-linking-container {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
}
.image-linking-container .image-linking-area select {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 12px 10px;
    border-radius: 0;
    margin-bottom: 25px;
}
.image-linking-container .image-linking-area select option:hover, .image-linking-container .image-linking-area select option:active, .image-linking-container .image-linking-area select option:focus{ background: #01a7e1; color:#fff; cursor: pointer;}
.image-linking-container .image-linking-area select option {
    padding: 10px;
}.comments-container .comment-area textarea {
    margin-bottom: 25px;
}
.client-comments-container .date,
.client-comments-container .time {
    display: none;
}
.comments-container .comment-area #closeCommentBox,
.image-linking-container .image-linking-area #closeImageLinkingBox {
    right: 10px;
    top: 15px;
}
.linked-image {
    /*background-color: rgba(82, 200, 244, 0.9 );
    border: 1px solid #00aeef;*/
    background-color: rgba(0,173,255,.54);
    border: 1px solid #2A9FD8;
}
.separator {
    display: inline-block;
    width: 1px;
    height: 26px;
    /*background-color: #4f5868;*/
    background-color: #ffffff;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}
.client-view-separator {}
.thumb-view-separator {
    display: none;
}
.es-nav span {
    top: 48%;
}
#rg-gallery {
    /*transition: margin-right .8s;*/
}
.rg-image img {
  /*width: 100% !important;*/
  max-width: inherit !important;
}
.gallery-container {
    /*width: 1600px !important;*/
}
.gallery-container .rg-image {
    /*min-width: 1280px !important;*/
    /*max-width: 1280px !important;*/
    width: 100%;
}

.es-carousel li a span.commentsCount {
    top: -5px;
    left: -5px;
    opacity: 1;
    font-size: 14px;
    
}

/************ Tooltip CSS ************/

.ui-widget.ui-widget-content {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 11px;
    text-transform: uppercase;
    color: #afb2b5;
    background-color: #161a1e;
    border: none !important;
    box-shadow: none;
    border-radius: 5px;
    padding: 5px 10px !important;
}

.linked-image {
/*    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}
.description-container .description-area textarea {
    resize: none;
}
body.image-linking-active .linked-image {
    transition: all 0.1s ease-in-out;
}
.deleteLinkedImageArea {
    display: block;
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: -39px;
    background-color: #DF1F1F;
    font-size: 11px;
    padding: 2px 10px;
    top: -9px;
    letter-spacing: .06em;
    opacity: 0;
}
.client-mode-btn {
    text-align: center;
    margin-top: 30px;
}
.comments-count-icon,
.descriptions-count-icon {
    /*background-color: #D02222;
    opacity: .8;*/
    background-color: #252b35;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    top: -28px;
    left: 3px;
    margin: 0px !important;
    padding: 4px 0 0 0px !important;
    text-align: center !important;
    color: #fff;
    font-size: 10px;
    display: none;
}
.descriptions-count-icon {
    left: 1px;
}
.es-carousel li a span.commentsCount.unread {
    opacity: 1;
    font-size: 14px;
}
.es-carousel ul li {
    padding-bottom: 4px;
}

.preview-mode .linked-image-no {
    display: none;
}
.intro-overlay {
    display: none !important;
}

.hidePanel .rg-thumbs{ display: none;}
.hidePanel .thumb-hide-show{ display:block; }
div#appendImages {  position: absolute;    max-width: 450px;    left: -120%;    background: #fff;         box-shadow: 0 0 4px #fff;}
div#appendImages img{    max-width: 100%;  border: 5px solid #f1f1f1;   border-radius: 5px;}
div#appendImages.edgeL {   left: auto;    right: -120%;}
div#appendImages.edgeR {   left: -120%;    right: auto;}
div#appendImages.edgeB {    top: -60%;}
.image-linking-container.edgeR{ left: auto !important; right: 4%;}
.image-linking-container.edgeB{top: 80% !important;}


.selectedThumbText { 
    /*position: absolute;*/
    position: fixed;
    z-index: 9;
    top:0;
    left:18px;
    transition: 0.5s ease-out;
    font-size: 50px;
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    padding: 50px;
    
    /*transition: background-color 0.5s ease;*/
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -ms-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
     opacity: 0;
}

.selectedThumbText.active1{ opacity: 1;}

@keyframes shake {
  8%,
    41% {
        -webkit-transform: translate(-10px, 0);
        -ms-transform: translate(-10px, 0);
        -o-transform: translate(-10px, 0);
        transform: translate(-10px, 0)
    }
    25%,
    58% {
        -webkit-transform: translate(10px, 0);
        -ms-transform: translate(10px, 0);
        -o-transform: translate(10px, 0);
        transform: translate(10px, 0)
    }
    75% {
        -webkit-transform: translate(-5px, 0);
        -ms-transform: translate(-5px, 0);
        -o-transform: translate(-5px, 0);
        transform: translate(-5px, 0)
    }
    92% {
        -webkit-transform: translate(5px, 0);
        -ms-transform: translate(5px, 0);
        -o-transform: translate(5px, 0);
        transform: translate(5px, 0)
    }
    0%,
    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
.animated.shake {
 /*-webkit-animation-name: shake !important;
  animation-name: shake !important; */
 -webkit-animation: shake 0.4s linear;
    -moz-animation: shake 0.4s linear;
    -ms-animation: shake 0.4s linear;
    -o-animation: shake 0.4s linear;
    animation: shake 0.4s linear  
}
.animated.active {
    
}


