.overLay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image:url('../img/bc.png'); /*main background image*/
    background-repeat:repeat;
    z-index: 200000;
    color: #fff;
    display: none !important;
}
.overLay > h3{
    font-size:24px;
    padding:0px 10px 10px 120px;
}

.overLay .logoTop{
    position: absolute;
    margin: 142px 0 0 8px;
    
}
.overLay .logoTop > img{
    border:1px solid #fff;
    padding: 5px;
    }
.overLay .framePosit {
    padding: 0;
    display:block;
    float: left;
    position: relative;
}
.overLay .wireFrame {
    margin: 0 0 0 1%;
    width: 25%;
}

.overLay .cretFrame {
    margin: 0 0 0 25.4%;
    width: 25%;
}
.overLay .htmlFrame {
    margin: 0;
    width: 25%;
}
.overLay .asetFrame {
    margin: 0;
    width: 25%;
}
.overLay .oldhist {
    margin: 0;
    width: 25%;
}

.overLay .oldHistoryProApp tr:first-child {
    display: none;
}

.overLay .flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.tranBtn {
    border: medium none;
    z-index: 2002;
    cursor: pointer;
    height: 42px;
    min-width: 100px;
    padding: 6px;
    font-weight: 14px;
    color:#fff;
    margin:0 3px;
    transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
}
.greenBtn{
background: #8AC974 none repeat scroll 0 0;
right: 149px;
}

.greenBtn:hover{
    background: #589144 none repeat scroll 0 0;
}

.orgBtn{
background: #f25345 none repeat scroll 0 0;
right: 39px;
}

.orgBtn:hover{
    background: #D13C32 none repeat scroll 0 0;
}

.yellowBtn{
background: #ED8A3F none repeat scroll 0 0;
right: 39px;
}

.yellowBtn:hover{
    background: #BC6221 none repeat scroll 0 0;
}


.radius2{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}

.skip {
    font-size: 16px;
    background:none transparent;
    border:none;
    cursor: pointer;
    margin:10px 0 20px;
    z-index: 2002;
    outline:none;
}

.help a, 
.help {
    border: medium none;
    font-size: 17px;
    font-weight: normal;
}

.skip:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.overLay .topwire {
    margin: 0 0 0 28%;
    overflow: hidden;
    padding: 22px 0 0;
}
.overLay .topwire > h3{
    float: left;
    margin-top: 6px;
    padding: 0 0 0 30px;
}
.overLay .topwire > img{
    float: left;
}
.overLay .topwireRight, 
.overLay .topwireLeft  {
    float: left;
}

.overLay .topwireRight h3{
       float: left;
    margin-top: 6px;
    padding: 0  30px 0 0;
    text-align: right;
}
.overLay .topwireLeft h3{
    float: right;
    margin-top: 6px;
    padding:0 0 0 30px
}
.overLay .project-detail table td p{
    color:#333333
}

.stop-scrolling {
  height: 100%;
  /*overflow: hidden;*/
}

.htmlMockupText{
    width: 49.9%;
    text-align: right;
    float: left;
}
.assestMockupText{
    width: 74.4%;
    text-align: right;
    float: left;
}

.htmlMockupText .htmlMockupHead,
.htmlMockupText .htmlMockupChild,
.htmlMockupText .oldMockupChild,
.assestMockupText .assestMockupHead,
.assestMockupText .assestMockupChild
 {
    overflow: hidden;
    float: right;
    margin-right: 2%;
    padding: 25px 0;
    clear: both;
}
.htmlMockupText img, 
.htmlMockupText h3,
.assestMockupText img, 
.assestMockupText h3
 {
    float: left;
    margin: 0;
    padding: 0 10px;
}






/*----------creative page----------- 
-----------------------------------*/

.creativeContainer {
    color: #fff;
    margin: 0 auto;
    max-width: 1032px;
    position: relative;
}

.enterName {
    margin: 280px 0 0 31%;
    position: absolute;
}
.enterNamearrow {
    margin: 326px 0 0;
    position: absolute;
    text-align: right;
    width: 30%;
}
.enterNamearrow h3{
   float:left;
   padding: 0 15px;
   top:-15px;
   position: relative;
}
.closeBox {
    margin: 276px 0 0 75%;
    position: absolute;
    text-align: left;
    width: 25%;
}

.hideCommtArrow {
    bottom: 52px;
    cursor: pointer;
    position: fixed;
    right: 232px;
    text-align: right;
    width: 100%;
}

.galleryBox{
    border: 1px solid #fff;
    bottom: 0;
    left: 75px;
    margin-bottom: 20px;
    position: fixed;
    right: 75px;
    height: 143px;
}

.galleryImages {
    bottom: 172px;
    cursor: pointer;
    left: 232px;
    position: fixed;
    text-align: left;
    width: 80%;
}
.GalleryLeftRightBtn {
    bottom: 250px;
    position: fixed;
    right: 78px;
    text-align: right;
    width: 50%;
}

.GalleryLeftRightBtn > h3 {
    margin: 0 0 0 32%;
    width: 50%;
}
.notifyImg{
    bottom: 50px;
    position: fixed;
    right: 300px;
}

.notifyArrow {
    bottom: 73px;
    left: 42%;
    position: fixed;
    text-align: right;
    width: 19%;
}


.notifyCloseBox {
    bottom: 154px;
    right: 2%;
    position: fixed;
    text-align: left;
    width: 19%;
}

.galleryinformation{
    bottom: 174px;
    left: 2%;
    position: fixed;
    text-align: right;
    width: 19%;
}


.circleAni {
    background:#000;
    opacity: 0;
    filter: alpha(opacity = 40);
    border-radius: 100%;
    height: 1000px;
    position: fixed;
    right: -500px;
    top: -500px;
    width: 1000px;
    z-index: 190;
    display: none;
}

.circleAniCall {
    border-radius: 100%;
    height: 1000px;
    opacity: 0;
    filter: alpha(opacity=0);
    right: -500px;
    top: -500px;
    width: 1000px;
}

.circleAniText {
    color: #fff;
    position: absolute;
    right: 58px;
    top: 12px;
    display: none;
    z-index: 200;
}

.needmeCreative {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
    opacity: 0.95;
    filter: alpha(opacity=95);
    display: none;
}

.needmeCreative:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.needmeCreative a{
    cursor: pointer;
    outline: none;
}

.needmeCreative a[title="Help"] {
    position: fixed;
    right: 7px;
    top: 11px;

}

/*responsive start*/
@media only screen and (max-width : 1280px) {

    .overLay h1, h2, h3, h4, h5, h6 {
        font-size:18px;
        font-weight: normal;
    }

    .overLay .oldhist .project-detail {
        margin-top:0;
    }

    .notifyArrow {
        left: 32%;
    }

}