@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body,
html {
    font-family: "Open Sans", sans-serif !important;
    font-weight: normal 400;
    background: #ccc;
    height: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    background: #ccc;
}
header {
    height: 68px;
    background: #222222;
    padding: 10px;
}
header .container-fluid {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
}
header a {
    color: #ffffff;
    font-size: 1em;
    line-height: 45px;
}
header a:hover {
    text-decoration: none;
    color: #f2f2f2;
}
.breadcrumb {
    background: none;
    position: absolute;
    z-index: 9;
    padding: 0px !important;
    top: 10px;
    margin: 0px;
}
.breadcrumb li {
    color: #fff;
}
.breadcrumb a {
    color: #fff;
    font-size: 14px;
}
/*footer css start*/

footer,
.push {
    height: 50px;
    clear: both;
}
footer {
    background: #222;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    width: 100%;
}
footer p {
    margin: 0;
    padding: 0;
}
.imageContainer {
    width: 225px;
    height: 225px;
    position: relative;
    left: -50px;
    top: 222px;
    overflow: hidden;
    border: 5px solid #ccc;
    background-color: #fff;
    text-align: center;
    line-height: 212px;
    background: url('../img/thumbnail.png');
    background-size: 100% !important;
}
.imageContainer.active {
    background-image: none !important;
    background-color: #fff;
}
.increaseHeight img {
    height: 100%;
}
/*project preview page css start*/

section {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 405px;
    background: #000;
}
.banner-container {
    max-width: 1032px;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1px;
}
.project_title {
    position: absolute;
    top: 0px;
    height: 97%;
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    width: 100%;
}
.project_title img {
    z-index: 9;
    s vertical-align: middle;
    line-height: normal;
}
.project_title h1 {
    font-size: 3.5em;
    color: #fff;
    margin: 0px;
    text-transform: capitalize;
    line-height: 1.5em;
    padding: 0px 10px;
    margin-right: 5px;
    position: absolute;
    z-index: 9;
    left: 295px;
    bottom: 75px;
    background: #000;
}
.cover {
    width: 1032px;
    height: 400px;
    margin: 0 auto;
    opacity: 0.8;
    background: url(../img/bg-banner.jpg);
}
.cover img {
    width: 100%;
    height: 100%;
}
.project_description {
    padding: 10px;
    font-size: 14px;
    color: #000;
    text-align: justify;
    margin-top: 40px !important;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
}
.project_description h2 {
    font-size: 25px;
}
.project_description h3 {
    font-size: 20px;
    margin-top: 20px;
}
.project_description ul li {
    list-style: disc;
    margin-top: 10px;
}
.project_description a {
    text-align: right;
}
.project_description .btn {
    border-radius: 0px;
}
.heights {
    padding: 20px 0px;
}
.fixed {
    position: absolute;
    top: 10px;
    left: 1px;
}
.fixed .btn {
    border-radius: 0px;
}
.white {
    color: #000;
    background: #FFC65D;
    padding: 7px 14px;
    font-size: 22px;
    text-decoration: none;
    display: block;
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 295px;
}
.white:hover {
    background: #fff;
    color: #000;
    transition: all .5s ease-in;
    text-decoration: none;
}
/*media queries*/

@media (min-width: 608px) and (max-width: 767px) {
    section {
        min-height: 250px;
    }
    .cover {
        width: 605px;
        height: 250px;
    }
    .project_description {
        padding: 10px 50px;
    }
    .project_title h1 {
        font-size: 1.8em;
        bottom: 65px;
        left: 300px;
    }
    .white {
        bottom: 19px;
        left: 300px;
    }
    .imageContainer {
        left: 20px;
        top: 70px;
    }
    .breadcrumb {
        left: 60px;
    }
    .fixed {
        left: 25px;
    }
}
@media (max-width: 607px) {
    section {
        min-height: 210px;
    }
    .fixed {
        left: 10px;
    }
    .project_description {
        margin-top: -70px;
        padding: 10px 30px;
    }
    .cover {
        width: 320px;
        height: 200px;
    }
    .cover img {
        width: 100%;
        height: 100%;
    }
    .breadcrumb {
        top: 0px;
        left: 15px;
    }
    .project_title .breadcrumb {
        left: 89px !important;
    }
    .project_title {
        height: 70%;
        top: 0px;
    }
    .imageContainer {
        width: 125px;
        height: 130px;
        left: 10px;
        top: 102px;
    }
    .project_title h1 {
        left: 145px;
        font-size: 1.8em;
        bottom: 10px;
    }
    .white {
        left: 145px;
        bottom: -50px;
    }
}
@media (min-width: 768px) and (max-width: 1067px) {
    .breadcrumb {
        left: 60px;
    }
    .project_title {
        height: 100%;
    }
    section {
        min-height: 300px;
    }
    .cover {
        width: 767px;
        height: 300px;
    }
    .imageContainer {
        top: 120px;
        left: 15px !important;
    }
    .project_title h1 {
        bottom: 70px;
        font-size: 2.3em;
        left: 300px;
    }
    .white {
        left: 300px;
        bottom: 20px;
    }
    .project_description {
        padding: 10px 72px;
    }
    .fixed {
        left: 55px;
    }
    .project_title .breadcrumb {
        left: 145px;
    }
}
@media (min-width: 1068px) and (max-width: 1199px) {
    .breadcrumb {
        left: 55px;
    }
    .project_description {
        padding: 10px 72px;
    }
    .imageContainer {
        top: 215px;
        left: 15px !important;
    }
    .project_title .breadcrumb {
        left: 140px;
    }
    .fixed {
        left: 50px;
    }
}
.all_cat {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
    height: 240px;
}
.all_cat1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
    height: 480px;
}
.all_cat2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 480px;
    height: 240px;
}
.all_cat3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 480px;
    height: 480px;
}
.me {
    margin: -1px 0px 0px -1px;
    position: relative;
    overflow: hidden;
    height: 1200px;
}
.sm {
    margin: 1px 0 0 1px;
}
/*detail page css end*/

#sidebar {
    left: -258px;
    width: 325px;
}
#sidebar #sidebar-trigger {
    display: block;
}
.csstransforms #sidebar:hover,
.csstransforms.touch #sidebar.sidebar-hover {
    box-shadow: 0px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px);
}
/*#sidebar:hover ~ #main-wrap #main{
-webkit-transform: scale(0.89);
-moz-transform: scale(0.89);
-ms-transform: scale(0.89);
-o-transform: scale(0.89);
transform: scale(0.89);
}*/

#sidebar ~ #main-wrap {
    padding-left: 60px;
}
.slider-panel,
.quote-wrap,
#main_title_wrap,
.nav-tabs &gt;
li,
.item_des,
.audio_player_list,
.promote-wrap,
.process-bar-wrap,
.post_meta,
.pagenumber a,
.countdown_section,
.progress-wrap .progress-bar,
.interlock-item,
.pagenumber span,
.testimenials,
.testimenials .arrow-bg,
.carousel-wrap a,
.pagenums a,
.pagenums span,
.accordion-heading,
.page-numbers,
.testimonial-thum-bg,
.latest-posts-tit {
    background-color: #fafafa;
}
.progress_bars_with_image_content .bar .bar_noactive.grey {
    color: #fafafa;
}
.border-style2,
.border-style3,
.nav-tabs &gt;
li &gt;
a,
.tab-content,
.nav-tabs &gt;
.active &gt;
a,
.nav-tabs &gt;
.active &gt;
a:hover,
.nav-tabs &gt;
.active &gt;
a:focus,
.tabs-v,
.single-feild {
    border-color: #fafafa;
}
.nav.nav-tabs,
.tabs-v .nav-tabs &gt;
li:last-child.active&gt;
a {
    border-bottom-color: #fafafa;
}
.tab-content.tab-content-v {
    border-left-color: #fafafa;
}
.tabs-v .nav-tabs &gt;
.active &gt;
a {
    border-top-color: #fafafa;
}
body,
a,
.entry p a:hover,
.text_block a:hover,
#content_wrap,
#comments .reply a,
#comments,
.blog-item-excerpt,
.item_des,
.item_des a,
h3#reply-title small,
#comments .nav-tabs li.active h3#reply-title .logged,
#comments .nav-tabs li a:hover h3 .logged,
.header-info-mobile,
.carousel-wrap a.disabled:hover,
.filters li a:hover,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page #content input.button.update-cart-button,
.woocommerce-page button.button,
.woocommerce-page #respond input#submit,
.woocommerce-message .ux-btn,
.woocommerce p.stars span a:hover,
.woocommerce input#coupon_code,
.woocommerce input[type="text"].qty,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-message .ux-btn:hover,
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before,
.chosen-container-single .chosen-single,
.text_block .add_to_cart_button,
.woocommerce .price .star-rating span,
.woocommerce-page .price .star-rating span {
    color: #444444;
}
.filters li a:before,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #444;
}
.woocommerce .order_details li,
.woocommerce-page .order_details li {
    border-color: #444;
}
.post_meta&gt;
li,
.post_meta&gt;
li a,
.blog_meta,
.blog_meta a,
.post-meta,
.post-meta a,
.archive-meta-unit,
.archive-meta-unit a,
.latest-posts-tags a,
#mobile-header-meta p,
.bbp-meta,
.bbp-meta a,
.bbp-author-role,
.bbp-pagination-count,
span.bbp-author-ip,
.bbp-forum-content,
.infrographic-subtit,
.woocommerce .price del,
.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
    color: #999999;
}
.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page #content .quantity .minus {
    border-color: #999999;
}
#main,
.separator h4,
.float-bar-triggler-inn:before,
.float-bar-triggler-inn:after,
.float-bar-triggler-inn,
.nav-tabs &gt;
.active &gt;
a,
.nav-tabs &gt;
.active &gt;
a:hover,
.nav-tabs &gt;
.active &gt;
a:focus,
.tab-content,
.filters.filter-floating li a:before,
.chosen-container .chosen-drop,
.modal-dialog .modal-content {
    background-color: #FFFFFF;
}
.testimenials span.arrow,
.nav-tabs &gt;
.active &gt;
a,
.nav-tabs &gt;
.active &gt;
a:hover,
.nav-tabs &gt;
.active &gt;
a:focus {
    border-bottom-color: #FFFFFF;
}
.tabs-v .nav-tabs &gt;
.active &gt;
a {
    border-right-color: #FFFFFF;
}
#post-navi,
#post-navi a,
.float-bar-social-share button,
#respondwrap input#submit,
.contactform input[type="submit"],
.tw_style a,
.filter-floating a,
div .filter-floating a:hover,
.filter-floating i,
.galleria-info-title,
.galleria-image-nav,
.galleria-counter,
.woocommerce select.orderby,
.woocommerce-page select.orderby,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce-page .widget_price_filter .price_slider_amount .button {
    color: #FFFFFF;
}
#sidebar-widget {
    background-color: #FAFAFA;
}
.sidebar_widget h3.widget-title,
.sidebar_widget h3.widget-title a {
    color: #666666;
}
.sidebar_widget,
.sidebar_widget a,
.woocommerce .sidebar_widget a.button,
.woocommerce .sidebar_widget a.button:hover {
    color: #999999;
}
.woocommerce .sidebar_widget a.button,
.woocommerce .sidebar_widget a.button:hover {
    border-color: #999999;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: #999999;
}
iframe {
    display: none !important;
}
#dp_swf_engine {
    display: none !important;
}
#main-wrap .row-fluid {
    background: #333;
}
.tickets-container {
    padding-top: 15px;
    padding-left: 100px;
    width: 92%;
    margin: 0 !important;
}
#TicketAddForm legend {
    font-size: 27px;
    color: #39393a;
    margin-top: 2px;
}
#TicketAddForm .input {
    padding-bottom: 15px;
}
#TicketAddForm p {
    padding-bottom: 20px;
}
#TicketAddForm label {
    display: block;
    font-size: 14px;
    font-weight: normal;
}
#TicketAddForm input,
#TicketAddForm textarea {
    width: 100%;
    padding: 8px;
    border: solid 1px #B3B3B3;
}
#TicketAddForm input[type="checkbox"] {
    width: auto;
    margin-top: 3px;
}
#TicketAddForm select {
    padding: 7px;
}
#TicketAddForm .file input {
    background-color: #fff;
}
#TicketAddForm .submit input,
#TicketAddForm button[type="button"] {
    width: 130px;
    padding: 5px 15px !important;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 15px;
    height: auto;
    float: left;
    margin-right: 10px;
    border: 0px;
    margin-top: 28px;
}
#TicketAddForm .radio {
    margin-bottom: 15px;
}
#TicketAddForm .radio .col-md-3 {
    padding-left: 0px;
}
#TicketAddForm .radio input[type="radio"]{
    width: auto;
    margin-top: 4px;
}
#TicketAddForm .file {
    padding-bottom: 7px;
}
#flashMessage {
    margin-left: 100px;
    width: 80%;
    margin-top: 15px;
    border-radius: 0px;
}
#TicketAddForm .time-container {
    margin-bottom: 15px;
}
#TicketAddForm .time-container input {
    float: left;
    width: 70%;
    height: 34px;
}
#TicketAddForm select {
    float: left;
    width: 20%;
    height: 35px;
    -webkit-appearance: none;
    border:1px solid #b3b3b3;
}

@media screen and (max-width: 767px) {
    #TicketAddForm .time-container input {
        width: 60%;
    }
    #TicketAddForm select {
        width: 40%;
    }
}

.ticket-btn {
    background-color: #146BB5;
    color: #fff !important;
    margin-left: 10px;
    border-radius: 0px;
    border-color: transparent;
}

.ticket-btn:hover {
    background-color: #146BB5;
    color: #fff;
    border-color: transparent;
}
.bootstrap-select button{
    font-size: 12px!important;
    min-height: 34px;
}
#alertmaincontainer{
    padding-left: 92px;
    position: relative;
    width: 50%;
}

#alertcontainer{
    position: relative;
    margin-left: 5%;
    width: 90%;

}
#wrap #flashMessage {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    width: auto;
    z-index: 9999;
}

/*Small devices Tablets*/
@media screen and (max-width:992px){

    #alertcontainer {
        margin-left: 5%;
        width: 90%;
        position: relative;
    }

    #alertmaincontainer{
        padding-left: 67px;
        position: relative;
        width: 100%;
    }

}
