@charset "utf-8";
/* CSS Document */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');
body,html {
	/* font-family: "Open Sans",sans-serif; */
	font-family: 'Montserrat', sans-serif !important;
	font-weight: normal;
	background: #F5F6F7;
	height: 100%;
}

/*login page css start*/
.login-box {
	max-width: 510px;
	width: 100%;
	position: absolute;
	top: 23%;
	right: 1%;
	height: 545px;
	background: url(../img/login-bg-70.png) no-repeat;
	padding: 45px 103px 76px 85px;
	background-size: 510px;     /*transition: background .5s;*/
}
.login-box_right input.form-control:-webkit-autofill,
.login-box_right input.form-control:-webkit-autofill:hover,
.login-box_right input.form-control:-webkit-autofill:focus,
.login-box_right input.form-control:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

/*.login-box.focus{
	background: url(../img/login-bg.png) no-repeat;     background-size: 510px;
}*/

.logo-icon  {
	padding-left: 0; display: none;
}
#designLabVideo{ position: fixed; top: 0;     min-height: 100%;    min-width: 100%;}
.login-box_right img{ max-width: 280px;}
@media screen and (max-width: 420px) {
	.logo-icon  img{
		width: 80%;
	}
}

.login-box_left {
	padding-top: 23%;
	margin-top: 19%;
	border-right: 2px groove #999;
	min-height: 190px;
}

.login-box_right .form-control{
	background: transparent;
	border: 2px solid #fff;
	height: 42px;
	color: #fff;
}

.login-box h1 {
	font-size: 27px;
	color: #fff;
	margin-bottom: 0px;
	font-weight: 400;
	font-stretch: normal;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;     margin-top: 10px;
}

.form-control {
	border-radius: 0px;
	height: 45px;
	margin-bottom: 15px;
	box-shadow: none;
}

input[placeholder] {
	font-size: 18px;
	font-weight: 400;
}

.login-box_right .table {
	border: none;
}

.login-box_right a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
}
.login-box .btn {
	border-radius: 0px;
	font-size: 20px;
	background: #24b4ff;
	border: none;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	margin-top: 5px;
}
.login-box label {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
    font-weight: normal;     margin-bottom: 3px;
}

/*dashboard page css start*/
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

#main_wrapper {
	max-width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 50px;
}

header {
	background: #5284c9;
	padding: 10px;
}

header a {
	color: #ffffff;
	font-size: 1em;
	line-height: 45px;
}
header a.logo img{ max-width: 125px;}

header .dropdown {
	margin-left: 15px;
}

header .dropdown.ux-tickets-link {
	background-color: #146BB5;
	display: inline-block;
}

@media screen and (max-width: 768px) {
	header .dropdown.ux-tickets-link {
		display: none;
	}
}

header a:hover, header a:link, header a:focus {
	text-decoration: none;
	color: #f2f2f2;
}

.dropdown-menu {
	background-color: #5E5E5E;
	border-radius: 0px;
	width: 100%;
	max-width: 216px;
}

.dropdown-menu > li > a {
	color: #fff;
}

.leftbar {
	background: #363f44;
	width: 125px;
	position: fixed;
	top: 68;
	left: 0;
	height: 100%;
	z-index: 10;
}

.leftbar ul {
	padding: 0;
	margin: 0;
}

.leftbar ul li {
	list-style: none;
}

.leftbar ul li a {
	color: #fff;
	padding: 25px 17px;
	display: block;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #434a4e;
}

.leftbar ul li a:hover, .leftbar ul li a.active {
	background: url(../img/aarow.png) right center no-repeat;
}

.leftbar p {
	margin-bottom: 0px;
	margin-top: 10px;
}

.addproject {
	margin: 25px 0px !important;
}

.addproject .btn {
	background: #35aa47 !important;
	padding: 15px 18px 15px 13px;
	font-size: 22px;
	border-radius: 0px;
	border: none;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}

.addproject a:hover {
	background: #089733 !important;
}

.projectlist {
	margin-top: 5px;
}

.projectlist .table > thead > tr > th, .projectlist .table > tbody > tr > th, .projectlist .table > tfoot > tr > th {
	background: #605c5d !important;
	color: #fff;
	font-size: 19px;
}

.projectlist .table > thead > tr > td, .projectlist .table > tbody > tr > td, .projectlist .table > tfoot > tr > td {
	font-size: 16px;
}

.projectlist .table img {
	border: 1px solid #ccc;
}

.projectlist .table img:hover {
	border: 1px solid #999;
}

.projectlist a {
	color: #333;
}

.projectlist a:hover {
	color: #1A8EBD;
}

.projectlist .table a img {
	border: none;
	padding-right: 8px;
}

.projectlist .table a img:hover {
	border: none;
}

.projectlist .table > thead > tr > th, .projectlist .table > tbody > tr > th, .projectlist .table > tfoot > tr > th, .projectlist .table > thead > tr > td, .table > tbody > tr > td, .projectlist .table > tfoot > tr > td {
	vertical-align: middle;
	padding: 10px;
	border: none;
}

.projectlist .table-striped > tbody > tr:nth-child(2n+1) > td, .projectlist.table-striped > tbody > tr:nth-child(2n+1) > th {
	background: #efefef;
}

.projectlist table {
	background: #e4e4e4;
}

/*project preview page css start*/
.project-preview {
	margin-top: 25px;
}

.project-preview h2 {
	font-size: 27px;
	color: #39393a;
	margin-top: 2px;
	font-family: 'Montserrat', sans-serif;
}

.breadcrumb {
	padding: 8px 1px;
	background: none;
}

.project-thumbnail {
	margin-top: 10px;
}

.project-thumbnail a img {
}

.project-thumbnail h1 {
	font-size: 4em;
	color: #333232;
	float: left;
	margin-top: 175px;
	height: 100px;
	/*overflow: hidden;*/
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.project-thumbnail a:hover {
	text-decoration: none;
}

.project-detail {
	margin-top: 10px;
}

.project-detail .table > thead > tr > th, .project-detail .table > tbody > tr > th, .project-detail .table > tfoot > tr > th {
	background: #e1dfdf;
	font-size: 22px;
	color: #333232;
	padding: 10px;
	width: 25% !important;
}

.act {
	background: #f3eed9 !important;
	font-size: 20px !important;
}

.project-detail .table-striped > tbody > tr:nth-child(2n+1) > td {
}

.project-detail .table > tbody > tr {
	background: #f5f6f7;
	border-bottom: 1px dashed #ddd;
	font-size: 16px;
}

.project-detail .table a {
	color: #191818;
	padding: 0px 0px 0px 10px;
}

.project-detail .table a:hover {
	color: #1A8EBD;
}

.project-detail .table a.active {
	background-color: #1AAB43;
	color: #fff;
	padding: 3px 10px;
	border-radius: 5px;
}

.project-detail .table a.error {
	background-color: #EA4F4F;
	color: #fff;
	padding: 3px 10px;
	border-radius: 5px;
}

table th {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

/*add-project page css*/
.add-new-project {
	margin-top: 25px;
}

.add-new-project h2 {
	font-size: 27px;
	color: #39393a;
	margin-top: 2px;
}

.file-area {
	width: 100%;
	background: #e1e1e1;
	padding: 15px 10px;
}

.drop-area {
	width: 550px;
	background: #fff;
	border: 1px solid #ccc;
	height: 130px;
	margin-bottom: 15px;
}

.file-area .btn-group {
	width: 550px;
}

.file-area .btn {
	border-radius: 0px;
	background: #fff;
	color: #333;
	border: none;
	margin-top: 0px !important;
	padding: 8px 15px !important;
}

.file-area .btn:active, .file-area .btn.active, .file-area .btn:hover {
	background: #666666;
	color: #fff;
}

.btn-group label {
	width: 115px;
	margin-bottom: 10px;
}

.add-new .btn {
	border-radius: 0px;
	font-size: 18px;
	margin: 10px 0px;
	padding: 10px 18px;
}


@media (max-width:1480px) {
.project-thumbnail h1 {
	font-size: 4em;
	margin-top: 178px;
}

}

@media (max-width: 1200px) {
.project-thumbnail h1 {
	font-size: 4em;
	margin-top: 162px;
}

}

@media (min-width: 980px) and (max-width: 1199px) {
	.project-thumbnail h1 {
		font-size: 3em;
		margin-top: 155px;
		height: 47px;
	}
}

/*@media (min-width: 820px) and (max-width: 979px) {
.project-thumbnail h1 {
	
	margin-top:105px !important;
	
}	
}*/

@media (min-width: 768px) and (max-width: 979px) {

.project-thumbnail h1 {
	font-size: 3.1em;
	margin-top: 15%;
	clear: both;
	height: 50px;
}

}

@media (max-width: 767px) {

.login-box {
	width: 100%;
	/*top: 0%;*/
	left: 0%;
	right: 0;
	bottom: 0;
	/*height: 100%;*/
	margin: 0 auto;
}

.project-thumbnail h1 {
	font-size: 3em;
	margin-top: 15px;
	clear: both;
	height: 48px;
}

.drop-area {
	width: 100%;
}

.file-area .btn-group {
	width: 408px;
}

/*.login-box {
	width: 400px;
	height: 360px;
	margin-left:-200px;
	margin-top: -180px;
}*/

/*.login-box_left {
	padding-top: 0%;
	margin-top: 0%;
	border-right: none;
	min-height: 0;
}*/

.login-box_left img .img-responsive {
	display: none;
}

/*.login-box_left h1 {
	text-align: center !important;
}*/

.login-box_right {
}

/*.login-box_right h1 {
	font-size: 1.65em;
	color: #333;
	margin-bottom: 20px;
	font-weight: 400;
	font-stretch: normal;
	margin-top: 0%;
	text-align: center;
}*/
#designLabVideo {
    display: none;
}

}
@media (max-width: 620px) {
	.login-box {
		background-size: 100% auto;
    	width: 98%;
    	/*padding: 65px 100px;*/
	}
	.login-box_right h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.login-box_right .form-control{
		height: 35px;
	}
	.login-box .btn {
		font-size: 16px;
		margin-top: 10px;
	}
}

@media (max-width: 480px) {
	.login-box {
		/*width: 100%;
		padding: 80px 15px 20px;
		background-position: center center;
		background-size: 430px auto;*/
	}

	.login-box {		background: rgba(0, 0, 0, .5); width: 95%;     padding: 25px 15px 25px 15px;     bottom: auto; height: auto;	}
	.login-box_right {
		width: 230px;
		margin: 0 auto; 
	}

	.login-box_right img {		max-width:100%;	}
	.login-box_right h1{    margin-bottom: 5px; margin-top: 0;}
	.login-box_right{    width: 100%;}
}


@media (max-width:479px) {

.project-thumbnail h1 {
	font-size: 2em;
	margin-top: 15px;
	height: 33px;
}

.drop-area {
	width: 100%;
}

.file-area .btn-group {
	width: 270px;
}

/*.login-box {
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	margin: 0%;
}*/

/*.login-box_left {
	padding-top: 5%;
	margin-top: 0%;
	border-right: none;
	min-height: 0;
}*/

.login-box_left img .img-responsive {
	display: none;
}

/*.login-box_left h1 {
	text-align: center !important;
}*/

.login-box_right {
}

/*.login-box_right h1 {
	font-size: 1.65em;
	color: #222;
	margin-bottom: 20px;
	font-weight: 400;
	font-stretch: normal;
	margin-top: 5%;
	text-align: center;
}*/

}

/*added by ankit*/
input[type=radio].css-checkbox {
	display:none;
}

input[type=radio].css-checkbox + label.css-label {
	height:32px; 
	width: 100%;
	display:inline-block;
	line-height:32px;
	background-repeat: repeat-x;
	background-position: 0 0;
	font-size:19px;
	vertical-align:middle;
	cursor:pointer;
	font-size: 13px;
	text-align: center;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -32px;
	color: #fff;
}

label.css-label {
	background-image:url(../img/radio-bg.jpg);
	background-repeat: repeat-x !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.space {
	padding-left:0px !important;
	padding-right:0px !important;
}

.project-detail .table > tbody > tr.act {
	height: 49px;
}

.project-detail table tr:nth-child(1){
	background: #f3eed9 !important;
	font-size: 20px;
}

/* ------------------------------------- */
/* Added by YSI_27_04_2017 */
/* ------------------------------------- */
#editrecord {
	background: #ccc7c7;
    font-size: 12px !important;    
    padding: 10px 21px !important;    
    cursor: pointer;    
    color: #337ab7;
}

#editrecord td button {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;    
    /*font-weight: bold!important;*/
    margin-left: 10px;    
    padding: 4px 6px 3px;
}

#editrecord td { 	
    height: 45px !important;
    padding: 0px 10px !important;
    vertical-align: middle;
};

/* ------------------------------------- */


#ProjectFileFilename {
	width: 100%;
	min-height: 130px;
	padding: 15px !important;
}

.publishProject span, .deleteProject span {
	font-size: 12px;
	color: #000;
}

.publishProject span:hover, .deleteProject span:hover {
	color: #000;
	text-decoration: none;
}

.publishProject:hover, .deleteProject:hover {
	text-decoration: none;
}

#contentLeft {
}

#contentLeft ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/*#contentLeft ul li{
	background-color: #000;
	color: #fff;
	padding: 10px;
	margin-bottom: 2px;
	cursor: pointer;
}*/
/*edited by smrita on 08/20/14*/
/*footer css start*/
footer,
.push {
	height: 50px;
	clear: both;
}

footer {
	background: #222;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 12px; 
	width: 100%;
}

footer p {
	margin: 0;
	padding: 0;
}

.projectlist ul {
	padding: 0px;
	margin: 0px;
}

.projectlist ul.heading {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.projectlist ul li {
	float: left;
	list-style: none;
	width: 100%;
}

.projectlist ul.heading li:first-child {
	background: #605c5d !important;
	color: #fff;
	font-size: 19px;
	line-height: 45px !important;
}

.projectlist ul li:nth-child(even) {
	/*background-color:#E4E4E4 !important; */
	background-color: #f5f5f5;
	padding: 10px 0px 5px 0px;
	line-height: 70px;
}

.projectlist ul li:nth-child(odd) {
	background-color:#EFEFEF;
	padding: 10px 0px 5px 0px;
	line-height: 70px;
}

header .col-xs-5 {
	padding-left: 0px;
}

header .col-xs-2 .col-xs-offset-5 a {
	line-height: 48px;
}

.dropdown {
	margin-top: 0px;
	text-align: right;
    background-color: #5E5E5E;
	padding-right: 15px;
	padding-left: 15px;
}

.imagedimension {
	width: 250px;
	height: 230px;
}

.resp {
	min-width:650px;
	margin:0 auto; 
	max-width: 100%;
}

.ui-sortable {
	overflow-x:hidden;
}

.ui-sortable li a img {
	vertical-align: middle !important;
	padding-right: 5px;
}

.project-detail ul {
	padding: 0px;
	margin: 0px;
}

.project-detail ul li {
	float: left;
	list-style: none;
	width: 100%;
	border-bottom:1px dashed #ccc;
	background-color: #fafafa;
	font-size: 16px;
	line-height: 50px;
}

.project-detail ul li:first-child {
	background: #E1DFDF !important;
	color: #333232;
	font-size: 22px;
	line-height: 50px !important;
}

.project-detail ul li:nth-child(2) {
 	background: #F3EED9 !important;
	color: #333232;
	font-size: 18px;
}

.resp1 {
	min-width:830px; width:100%; margin:0 auto;
}

.ui-sortable1 {
	overflow-x:none;
}

@media (max-width:850px) {
.ui-sortable1 {
	overflow-x:scroll;
	}
}

@media (min-width: 300px) and (max-width: 360px) {

	header a {
		font-size: 13px;
	}

	header .col-xs-3 {
    	padding-right: 0;
	}

}

/*edited on 21-08*/


.imageContainer {
	width:225px;
	height: 225px;
	overflow:hidden;
	text-align:center;
    line-height: 212px;
    border:2px solid #ccc;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.increaseHeight img {
    height: 100%;
}

.ext img {
   margin-right: 5px;
}

 .ext input[type=radio].css-checkbox {
	display:none;
}

.ext input[type=radio].css-checkbox + label.css-label {
	height:32px; 
	width: 100%;
	display:inline-block;
	line-height:32px;
	background-repeat: repeat-x;
	background-position: 0 0;
	font-size:19px;
	vertical-align:middle;
	cursor:pointer;
	font-size: 13px;
	text-align: center;
}

.ext input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -32px;
	color: #fff;
}

.ext label.css-label {
	background-image:url(../img/radio-bg1.jpg);
	background-repeat: repeat-x !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ThumBtn {
	display: block;
	width: 85px;
	height: 75px;
	float: left;
}

.ThumBtn img {
	width: 100%;
	max-height: 75px;
}

#authMessage {
 	color: #c3c3c3;
 	text-align: center;
 	padding-top: 280px;
}

#searchFilter {
	width: 80%;
	padding: 4px 10px;
	font-size: 25px;
	margin-top: 7px;
}

/*added by smrita on 18 march*/

.projectlist .lbl {
	font-size: 12px;
	text-transform: capitalize;
	color: #000;
	padding-right: 12px;
}

.projectlist .lbl:hover {
	text-decoration: none;
	color: #000;
}

.pull-left.mobile {
    margin-left: 5px;
    margin-top: -3px;
}

@media screen and (max-width: 767px) {

	.pull-left.mobile {
		margin-top: 2px !important;
	}

	.projectlist .lbl {
		font-size: 0px ;
	}

	.addproject .btn {
		margin-top: 7px;
    	padding: 9px 10px 14px 11px;
    	margin-bottom: 0px;
    	font-size: 14px;
	}

	.addproject .pull-left {
		margin-top: 5px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.addproject .btn {
		font-size: 16px;
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 679px) { 

	.pull-left.mobile {
		display: none; 
	}

	.addproject .btn { 
		padding: 11px 15px 16px 17px;
	}
}

.editProject span,
.jquery_action_status span {
	font-size: 12px;
	color: #000;
	
}

.editProjectFiles a {
	font-size: 12px !important;
	text-decoration: none;
}

.nodecor {
	margin-left:138px; 
	font-size:12px; 
	text-align: middle;
}

.nodecor:hover {
	color: #000 !important;
}

.nodecor span {
	padding-left: 4px;
}

.project-detail table td {
	position: relative;
}

.project-detail table td .pop {
	position: absolute;
	z-index: 99;
	background-color: #d4d1d0;
	left: 160px;
	border-radius: 5px;
	top: -47px;
	padding: 6px;
	font-size: 14px;
	box-shadow: 2px 3px 3px #888888;
}

.project-detail table td .pop a {
	text-decoration: none;
	display: block;
    padding: 7px;
}

.pop {
	display: none;
}

.pop::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d4d1d0 transparent transparent;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right: 10px solid #d4d1d0;
    border-style: solid;
    border-width: 12px;
    content: "";
    height: 0;
    left: -18%;
    position: absolute;
    top: 49%;
    width: 0;
}

@media (min-width: 300px) and (max-width: 360px) {
	.project-detail table td .pop a {
		margin: 0 3px;
	}
}

.project-detail table td p {
	font-size: 13px;
	margin: 0;
	padding: 0px 0px 0px 24px;
}

.project-detail .table > thead > tr > th, 
.project-detail .table > tbody > tr > th, 
.project-detail .table > tfoot > tr > th, 
.project-detail .table > thead > tr > td,
.project-detail .table > tbody > tr > td,  
.project-detail .table > tfoot > tr > td {
	height: 84px;
	vertical-align: top;
}

.error-message {
	color: #F00;
	padding: 10px 0px;
	margin: 10px 0px;
}

.drop-area .error-message {
	margin: 70px 0px 10px;
}

.ui-widget {
	z-index: 9999999 !important;
}

#accordion.panel-group .panel {
	overflow: inherit !important;
}

#accordion table tr td {
	vertical-align: top !important;
}

#accordion .panel-title > a {
	display: block;
	padding: 10px 15px;
}

#accordion .panel-title > a:hover,
#accordion .panel-title > a:focus {
	text-decoration: none !important;
}

#accordion .panel-heading {
	padding: 0px;
	background-color: #DADADA;
}

#accordion .panel-heading a {
	color: #498655;
}

#accordion .form-group.date-container {
	width: 190px !important;
}

#accordion .form-group.date-container .date input {
	height: auto !important;
}

#assignModal .form-group {
	margin-bottom: 0px;
}

#assignModal .form-control {
	margin: 0px;
	width: 300px;
	height: 34px;
}

.assigned-projects .btn {
	color: #fff !important;
	margin-right: 5px;
}

.assigned-projects .deleteTicket {
	float: right;
	padding: 10px 20px;
}

.assigned-projects span {
	margin: 0px;
	padding: 0px;
}

.tickets-container {
	padding: 10px 0px;
	overflow-x: auto;
}

.tickets-container .tickets-head div {
	background-color: #605c5d;
	padding: 15px;
	font-size: 19px;
	color: #fff;
	margin-bottom: 15px;
}

.tickets-container .tickets {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: solid 1px #E2E2E2;
}

.tickets-container .tickets .table-responsive {
	clear: both;
	padding-top: 15px;
}

.tickets-container .tickets .table-bordered {
	background-color: #CECECE;
}

.tickets-container .tickets .table-bordered td {
	border: solid 1px #E2E2E2 !important;
	font-size: 13px !important;
}

.tickets-container .tickets .table-responsive .form-inline .form-group {
	padding-right: 10px;
}

.tickets-container .tickets .table-responsive .form-inline label {
	font-size: 13px;
	font-weight: normal !important;
	margin: 0px;
	padding: 0 5px 0 0px;
}

.tickets-container .tickets .table-responsive .form-inline input {
	padding: 5px;
	margin: 0px;
	height: auto;
}

.tickets-container a:hover,
.tickets-container a:focus {
	text-decoration: none;
}

.tickets-container .glyphicon {
	font-size: 11px;
	padding-left: 3px;
}

.hours-container {
	display: none;
}

.actions select.users,
.ticket-actions select.users {
	height: 34px;
	width: 130px;
	margin-bottom: 0px;
	margin-right: 10px;
}

.actions .btn {
	margin-right: 5px;
	margin-top: 5px;
}

#searchTicket {
	width: 100%;
	padding: 8px;
	margin-bottom: 12px;
}

#ProjectFileAdminChangeTitle,
#ProjectFileAdminSearchTags {
	display: none; 
}

#ProjectFileAdminChangeTitle .form-group,
#ProjectFileAdminSearchTags .form-group {
	width: 100%;
}

#ProjectFileAdminChangeTitle .form-group input,
#ProjectFileAdminSearchTags .form-group input {
	width: 100%;
	margin:-10px 0 29px 0;
	padding:0;
	height: auto;
	font-size: 4em !important;
	border: 0px;
	border-bottom: solid 1px #ccc !important;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
    color: #333232;
    text-transform: uppercase;
}

#ProjectFileAdminSearchTags .form-group input {
	font-size: 4em !important;
}

#ProjectFileAdminChangeTitle .form-group input:focus,
#ProjectFileAdminSearchTags .form-group input:focus {
	box-shadow: none !important;
}

.assigned-projects {
	min-width: 1000px;
}

.assigned-projects .clearfix {
	margin-bottom: 15px;
}

.assigned-projects .hours {
	cursor: pointer;
	color: #428bca;
}

.assigned-projects .hours:hover {
	/*text-decoration: underline;*/
}

.assigned-projects a {
	cursor: pointer;
	color: #428bca;
}

.assigned-projects a:hover {
	/*text-decoration: underline;*/
}

.assigned-projects span {
	font-size: 12px;
}

.assigned-projects-head {
	background-color: #ccc;
	padding: 14px 0px;
	margin-bottom: 15px;
	margin-top: 10px;
	min-width: 1000px;
}

@media (max-width: 767px) {
	.tickets .table-responsive {
		overflow: hidden;
		border: 0px;
	}

	.tickets-container .tickets .table-responsive .form-inline .form-group {
		display: inline-block;
	}
}

#loader {
	opacity: .7;
	z-index: 999999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url('../img/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
}

.mailMessage {
	width: 100%;
	min-height: 100px;
}

.mail-container {
	background-color: #CECECE;
	margin-top: 15px;
	display: none;
	padding: 15px;
}

.mail-container h2 {
	padding-top: 0px;
	margin-top: 0px;
	font-weight: bold;
	font-size: 16px;
}

.check-email {
	cursor: pointer;
    color: #428bca;
}

.projectNameContainer {
	line-height: 19px;
    padding-left: 21px;
    padding-top: 20px;
    width: 80%;
}

.projectNameContainer a {
	font-size: 15px;
	float: left;
	text-transform: capitalize;
}

.projectNameContainer p {
	float: right;
	margin: 5px 0px 5px;
}

.projectNameContainer p a.addThumBtn {
	font-size: 12px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	color: #146BB5;
}

.ui-sortable li:hover p a.addThumBtn {
	opacity: 1;
	filter: alpha(opacity=100);
}

.project-thumbnail-logo {
	display: inline-block;
	max-width: 200px;
	width: 100%;
	padding: 0 15px;
	margin-bottom: 10px;
	float: left;
}

.project-thumbnail-logo img {
	width: 100%;
}

.project-thumbnail-heading {
	display: inline-block;
	padding: 0 15px;
	margin-top: 50px;
	float: left;
	width: 82%;
}

.project-detail table tr th {
	height: auto !important;
	padding: 20px !important;
}











/* --------------------------------------------------  */
/* Multi select dropdown with checkboxes : START   */
/* -------------------------------------------------  */


#selectTagsCont .btn-group .multiselect, #selectTagsCont .btn-group {
    width: 100%;
}

.multiselect-container>li>a>label {
    padding: 0px 20px 0px 18px;
}

.multiselect-container > li > a > label.checkbox {
    width: 630px;
}

/* --------------------------------------------------  */
/* Multi select dropdown with checkboxes : END   */
/* -------------------------------------------------  */
/*#selectTagsCont .open .multiselect-container.dropdown-menu li {
	padding: 0 !important;
}
#selectTagsCont .open .multiselect-container.dropdown-menu li a label {
	min-height: 1px;
	margin: 0 !important;
	font-weight: 400;
}
#selectTagsCont .open .multiselect-container.dropdown-menu li a.multiselect-all label {
	font-weight: bold;
}
#selectTagsCont .open .multiselect-container.dropdown-menu {
	min-width: 182px !important;
    width: 100%;
    max-width: 100%;
}*/

.projectlist .text-info{
	margin-top: 7px;
	float: left;
	margin-right: 10px;
	/*text-transform: uppercase;*/
}
.projectlist .table-responsive .filtercont{
	padding-left: 0;
    padding-right: 0;
}
.projectlist .well{
	border-radius: 0;
	float: left;
	width:100%;
	padding: 12px 19px 8px 19px;
}
.projectlist .table-responsive {
	overflow-x:visible;
        margin-top: -50px;
}
.projectlist #selectTagsCont {
	float: left;	
	margin-right: 10px;
	width: auto;
    min-width: 182px;
}
.projectlist .clear-selectedtags {
	float: left;
	margin-top: 7px;
}
#selectTagsCont .btn-group.open .btn.multiselect {
  padding:6px 18px 5px;
}
#selectTagsCont .btn-group .btn.multiselect {
  padding:6px 18px 5px;
}
#selectTagsCont .btn-group.open .multiselect-selected-text {
    text-align: left;
    float: left;
}
#selectTagsCont .btn-group .multiselect-selected-text {
    text-align: left;
    float: left;
}
#selectTagsCont .btn-group.open .caret {
    float: left;
    margin: 8px 0 0 6px;
}
#selectTagsCont .btn-group .caret {
    float: left;
    margin: 8px 0 0 6px;
}
.projectlist .clear-selectedtags #clear-filter {
    font-size:12px;
}

/* Select2 component for tags selection on project landing page*/
/* Added on 10-01-2017 */
#projTagsHolder.well {
	margin-bottom:5px;
	border-radius: 0;
	float: left;
	width:100%;
	padding: 12px 19px 8px 19px;
}
#projTagsHolder.well .text-info {
	margin-top: 7px;
	float: left;
	margin-right: 10px;
}
.limitedTagsSelect2{
  width: 400px;
}
#projTagsHolder.well .select2-selection {
	border-radius: 0;
}
#projTagsHolder.well .select2-search__field {
	margin-top: 7px;
}
#projTagsHolder.well .select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #aaa;
}
#projTagsHolder.well .select2-container {
	float: left;
}
#projTagsHolder.well .saveBtn {
	background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 0;
    float: left;
    margin-left: 7px;
}
#projTagsHolder.well .saveBtn:hover  {
	background-color: #286090;
    border-color: #204d74;
}
#projTagsHolder.well .assignedTags span {
	background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 5px 2px;    
} 

#multiple-values .select2-container {
	width: 549px !important;
}
#multiple-values .select2-selection {
	border-radius: 0;
	border: 1px solid #ccc !important;
}
#multiple-values .select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #ccc;
}

@media (max-width: 767px) {
	#multiple-values .select2-container {
		width: 100% !important;
	}
}

.limitedTagsSelect{
  width: 400px;
}

.tagBtn {
	float: left;
	margin: 9px 0 0 5px;
}






/* Share option sub menu - modal CSS ends*/ /* 24_01_2017 : START */
#shareModal .radioBlock {
	float: left;
	width: 75%;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
#shareModal .radioBlock li {
	float: left;
	width: 100%;
	list-style: none;
	padding-bottom: 10px;
}
#shareModal .radioBlock li .form-control {
	margin-bottom: 0;
}
/*#shareModal .radioLabel {
	float: left;
	width: 100%;
}*/
#shareModal .radiobtn {
	float: left;
	margin: 3px 3px 0 0;
}
#shareModal .modal-body {
	display: inline-block;
	width: 100%;
	padding-top: 25px;
}	
#shareModal .publicContent {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
}	
#shareModal .publicContent .labelfield {
	float: left;
	width:72px;
	margin: 7px 1 0 0;
}
#shareModal .publicContent .inputfield {
	float: left;
	width: 83%;
}
#shareModal input[placeholder] {
	font-size: 14px;
}
#shareModal #success-alert {
	color: green;
}

/* modal CSS ends*/ /* 24_01_2017 : END */

#cancelTagsBtn {
	color: #ccc;
}
#cancelTagsBtn:hover {
	color:#bab7b7;
}
#saveTagsBtn {
	background-color: #428bca;
    border: 1px solid #3276b1;
    color: #fff;
    padding: 2px 6px;
    margin:5px 9px 0 14px;
    border-radius: 4px;
}
#saveTagsBtn:hover {
	background: #3276b1;
	border: 1px solid #428bca;
}
.errorentpwd { color: red; padding-top: 10px; display: inline-block; }
.errorpwd { color: green; padding-top: 10px; display: inline-block; }
.error.form-control { border-color:red;}


#pswdBlockShareURL, #pswdBlockPassword, #shareURL {
	width: 80%;
}

.labelfield {
	line-height: 3;
}

.btn-copyToClipboard {
	float: right;
	margin-top: 0.9%;
}

.btn-setPassword{
	float: right;
	margin-top: 0.9%;
}

#btnCopyToClipboardCont {
	float:right;
	margin-top: -9.5%;
    margin-right: -33.3%;
}

#btnSetPassword {
	float:right;
	margin-top: -9.5%;
    margin-right: -33.3%;
    width: 32%;
}



#success-alert {
	display: inline-block;
}

.cancelSharing {
	margin-top: 12px !important;    
    background-color: transparent;
    color: #ccc;
    font-size: 15px;
    cursor: pointer;    
    margin-left: 22px !important;    
}

.cancelSharing:hover {
    background: none!important;
    color: #bab7b7 !important;
    text-decoration: none;
}

.shared-project{	
	/*background-color: #90EE90;
    color: #000;
    padding: 3px 10px;
    border-radius: 5px;*/
}

.projectShareIcon{
	/*background-color: #90EE90;
    color: #000;
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: -8px;*/
}

#shareModal .share-option{
	float: left;
    margin-right: 30px;
}

#shareModal .share-option-label {
	cursor: pointer;
}
#shareModal #sharePopupSaveBtn{
	width: 12%;
}

.shareiconcont{
	float: left;
}

.image_picker_image {
	width:85px;	
	margin-bottom: 10px !important;    
}

ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left;
    display: table;
}

ul.thumbnails.image_picker_selector li .thumbnail {
	cursor: pointer !important;
}

ul.thumbnails.image_picker_selector li p{
	text-align: center !important;
	margin-bottom: 0;
	word-wrap: break-word;		
}

.thumbnail {    
    width: 125px;
    min-height: 165px;   
    margin-bottom: 0 !important;     
}

ul.thumbnails.image_picker_selector li .thumbnail img {
	width: 100% !important;
    height: 100px !important;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
	background: #5284c9 !important;
}


/************* Custom CSS 15-10-2018 *************/

.multi-select {
	width: 90% !important;
}
.multi-select .list-group-item {
	float: left;
	width: auto;
	margin-right: 25px;
	line-height: normal !important;
	padding: 10px 20px 10px 20px !important;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	background-color: #f5f5f5 !important;
	transition: background-color 0.5s ease;
	color: #6a6e70;
}
.multi-select .list-group-item.active,
.multi-select .list-group-item:hover,
.multi-select .list-group-item.active:focus,
.multi-select .list-group-item.active:hover {
	background-color: #d7d7d7 !important;
	border-color: #d7d7d7 !important;
	color: #6a6e70 !important;
	cursor: pointer;
}
.projectlist .well {
	padding: 10px 19px 10px 19px;
        height: 61px;
}
.projectlist .text-info {
	color: #6a6e70;
	margin-top: 10px;
}

/********** Custom Theme Style 18-12-2018 ************************/

header {
    /*background: #1c1c1c;*/
    background: #5284c9; /**** For theme ****/
    padding: 5px 10px 5px 10px;
}
.ThumBtn {
    width: 75px;
    height: 75px; 
    border-radius: 50%;
    background: #ffffff;
    overflow: hidden;
}
.ThumBtn img {
   padding: 0 !important;
}
.projectlist ul li {
    border-bottom: 1px solid #dfdfdf;
}
.projectlist ul li:nth-child(odd) {
    background-color: #f5f6f7;    
}
.projectlist ul li:nth-child(even) {
    /*background-color: #fafbfc;*/
}
.projectlist ul.heading li:first-child {
    background: #ffffff!important;
    color: #303540;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.projectlist ul.heading {
    font-family: 'Montserrat', sans-serif;
}
.user-name {
    
}
.projectNameContainer a,
.modified-date {
    font-size: 16px;
    color: #4c5465;
}
.modified-date {}
.action-link {
    /*text-indent: -9999999px;
    color: transparent;*/
    display: none;
}
.projectlist .lbl {
    padding: 12px 0 12px 12px;
    margin-right: 15px;
}
.projectlist .lbl:hover {
    padding: 12px 0 12px 12px;
    margin-right: 15px;
}
.projectlist .lbl:last-child {
    margin-left: 15px;
}
.project-thumbnail-heading h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    font-weight: 600;
    text-transform: capitalize;
    color: #1c1c1c;
}
#projTagsHolder.well .text-info {
    font-size: 14px;
    color: #848484;
}
#projTagsHolder.well {
    width: auto;
}
.project-tags-list .well {
    border: none;
    background: transparent;
    box-shadow: none;    
}
.project-tags-list .assignedTags {
    float: left;
}
#projTagsHolder.well .text-info {
    margin-top: 10px;
}
.project-preview,
.add-new-project {
    margin-top: 10px;
}
.project-preview h2 {
   font-family: 'Montserrat', sans-serif;
   display: none;
}
#searchFilter {
    width: 100%;
    margin-top: 2px;
    outline: none;
    border: none;
}
.logo-section {
    
}
.search-section {
    width: calc(100% - 300px);
    position: absolute;
    left: 170px;
    top: -80px;
}
.account-section {
   top: 3px;
}
.addproject .mobile {
    text-indent: -9999999px;
}
.addproject .btn {    
    background: #00a8e3 !important;
    width: 65px;
    height: 65px;
    padding: 19px 10px 15px 21px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out, all 0.2s linear;
    position: relative;
    z-index: 99;
}
.addproject .btn:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}
.addproject .tooltip-inner {    
    text-transform: uppercase;
}
.addproject a:hover {
    background: #00a8e3 !important;
}
.project-detail .table > tbody > tr > th {
    font-size: 18px;
    /*color: #1c1c1c;*/
    color: #333232;
}
#editrecord td button {
    color: #01a7e1;
    border-radius: 0;
    border: 1px solid #00a8e3;
    background-color: #ffffff;
    padding: 4px 15px 3px;
}
.breadcrumb {
    margin-bottom: 0;
}
.project-detail table tr:nth-child(1) {
    background: #f5f6f7 !important
}
.project-detail .table > tbody > tr,
#editrecord {
    /*background: #ffffff;*/
}
body, html,
.project-detail .table > thead > tr > th, .project-detail .table > tbody > tr > th, .project-detail .table > tfoot > tr > th {
    /*background: #ffffff;*/
}
.project-detail .table > tbody > tr {
    /*border: none;*/
}
.add-new-project h2 {
    /*margin-bottom: 50px;
    margin-top: 50px;*/
    color: #1c1c1c;
    font-weight: 600;
}
.add-new {
    background-color: #f3f3f3;
    display: flex;
    padding: 20px 0;
}
.add-new .file-area {
   background-color: #f3f3f3; 
}
.full-description {
    /*min-height: 150px;*/
}
.add-new label {
    font-size: 16px;
    color: #1e1e1e;
    margin-bottom: 12px;
}
.full-description {
    resize: none;
}
textarea[placeholder] {
    font-size: 18px;
    font-weight: 400;
}
#multiple-values .select2-container {
    width: 100% !important;
    margin-bottom: 30px;
}
.add-new .form-control {
    margin-bottom: 30px;
}
.btn-group input[type=radio].css-checkbox + label.css-label {
    color: #6a6e70;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    font-weight: 600;    
}
.btn-group input[type=radio].css-checkbox:checked + label.css-label {
    color: #6a6e70;
    background-color: #d7d7d7 !important;
    border: 1px solid #d7d7d7;
}
#publicCont .radioBlock {
    width: 73%;
}
.btn-primary {
    background-color: #01a7e1 !important;
    border-color: #01a7e1 !important;
    color: #f8f8f8 !important;
    text-transform: uppercase;
}
.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: #01a7e1;
    border-color: #01a7e1;
}
.btn-primary:hover {
    background-color: #01a7e1;
    border-color: #01a7e1;
}
.add-new .btn {
    font-size: 16px;
    padding: 10px 25px;
}
.add-new .file-area {
    padding: 15px 0;
    position: relative;
}
.add-new .file-area .drop-area {
    width: 100%;
    margin-bottom: 30px;
}
.breadcrumb a {
    color: #848484;    
}
.breadcrumb li {
    color: #1c1c1c;
}
.breadcrumb>li+li:before {
    color: #848484;
}

#flashMessage.alert{ position: relative;} /*added by Rahul sharma*/
.alert {
    position: absolute;
    width: 100%;
}
.logo-section {
    min-width: 120px;
}
.modal-footer .btn+.btn, .btn-default {
    border-radius: 0 !important;
}
.project-filter .multiselect-container {
    display: block !important;
    top: -12px;
    left: 100%;    
}
.project-filter .dropdown-menu {
    min-width: inherit !important;
    max-width: inherit !important;
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: static;
}
.project-filter ul li:nth-child(even) {
     padding: 0 !important;
     line-height: normal !important;
}
.project-filter ul li:nth-child(odd) {
    padding: 0 !important;
    line-height: normal !important;
}
.project-filter ul li {
    border-bottom: none;
    width: auto;
    margin-right: 20px;
    background-color: #f5f5f5;
    /*border: 1px solid #d7d7d7;*/
    outline: none !important;
    border-radius: 5px; 
}
@media screen and (max-width: 755px) {
    .project-filter ul li {
        margin-bottom: 15px;
    }
}
        
.multiselect-container > li > a > label.checkbox {
    width: auto;
}
.project-filter .multiselect { 
    display: none;
}
.projectlist #selectTagsCont {
    min-width: inherit;
}
.project-filter {
    
}
.project-filter .dropdown-menu>.active>a, .project-filter .dropdown-menu>.active>a:focus, .project-filter .dropdown-menu>.active>a:hover {
    background-color: #d7d7d7;
    border-radius: 5px;
    outline: none;
}
.project-filter .dropdown-menu .checkbox input {
    display: none;
}
.project-filter .dropdown-menu>li>a {
    padding: 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    outline: none !important;
}
.project-filter .multiselect-container > li > a > label.checkbox {
    font-size: 12px;
    color: #6a6e70;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0;
    font-weight: 600;
}
.projectlist .clear-selectedtags {
    font-size: 13px;
    font-weight: 600;
}
.user-name {
    display: none;
}
.account-section {
    /*width: 70px;*/
    height: 50px;
    right: 0; 
    margin-right: 5px;
}
.account-section .glyphicon {
    top: 8px;
    right: 10px;
    font-size: 1.8em;
}
.account-section .glyphicon-user:before {
    color: #a7a3a4;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 7px 10px;
}
.account-section .dropdown {
    /*border-radius: 50%;*/
    width: 80px;
    height: 50px;
    padding: 0 20px 0 0;
    background-color: transparent;
}
.account-section .dropdown .caret {
    /*display: none;*/
    position: absolute;
    top: 20px;
    border-top: 8px dashed #ffffff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-left: 7px;
    right: 5px;
        
}
.projectlist .filtercont .text-info {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.user-name-text {
    padding: 3px 20px;
    font-weight: 600;
    white-space: nowrap;
}
.projectlist a:hover {
    color: #1A8EBD;
    text-decoration: none;
}
.account-section.pull-right>.dropdown-menu {
    right: -5px !important;
    background-color: #fff;
}
.account-section.pull-right .dropdown-menu > li > a {
    color: #333;
}
.projectlist .table-responsive .filtercont {
    top: -110px;
    position: absolute;
    left: 0;
}
@media screen and (max-width: 710px) {
    .projectlist .table-responsive {
        margin-top: 150px;
    }
}
.project-tags-list #editTagsBtn {
    background-image: url(../img/edit-tag.png);
    background-repeat: no-repeat;  
    text-indent: 100%;
    overflow: hidden;
    width: 12px;
    height: 12px;
    margin-top: 10px;
}
#saveTagsBtn {
    background-color: #01a7e1;
    border: 1px solid #01a7e1;
}
#saveTagsBtn:hover {
    background: #3276b1;
    border: 1px solid #3276b1;
    outline: none;
}
#saveTagsBtn:focus {
    text-decoration: none;
    outline: none;
}
.project-detail .category-icon {
    background-repeat: no-repeat !important;
    padding-top: 65px !important;
    padding-bottom: 5px !important;
}
.project-detail .category-icon:nth-child(1n) {
    background-image: url(../img/wireframes.png) !important;
    background-position: 54px 15px;
    /*background-size: 50px;*/
}
.project-detail .category-icon:nth-child(2n) {
    background-image: url(../img/creatives.png) !important;
    background-position: 52px 15px;
    /*background-size: 40px;    */
}
.project-detail .category-icon:nth-child(3n){
    background-image: url(../img/html-icon.png) !important;
    background-position: 24px 20px; 
    /*background-size: 40px;*/
}
.project-detail .category-icon:last-child {
    background-image: url(../img/assets-icon.png) !important;
    background-position: 35px 20px;
    /*background-size: 40px;*/
}
.drag-file {
    position: absolute;
    left: 38%;
    top: 12%;
    font-size: 24px;
    background-image: url(../img/drag-icon.png) !important;
    background-repeat: no-repeat;
    background-position: center -1px;
    padding-top: 35px;
}
#authMessage {
    padding-top: 0;
}
.addproject {
    min-height: 55px;
}
#back2Top {
    background-image: url(../img/top-icon.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;   

    position: fixed;
    bottom: 50px;
    right: 15px;  
}
.error-msg .message {
    background-color: #fde999; 
    color: #333232 !important;
    line-height: 25px;
}
.projectlist .table > thead > tr > th, .projectlist .table > tbody > tr > th, .projectlist .table > tfoot > tr > th {
    color: #303540;
    background: #ffffff !important;
}