@charset "utf-8";
/* CSS Document */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans); */
body,html {
	/* font-family: "Open Sans",sans-serif; */
	font-weight: normal 400;
	background: #F5F6F7;
	height: 100%;
}

/*login page css start*/
.login-box {
	width: 550px;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 255px;
	background-color: rgba(255,255,255,0.3);
	margin-left: -250px;
	margin-top: -125px;
}

.login-box_left {
	padding-top: 23%;
	margin-top: 19%;
	border-right: 2px groove #999;
	min-height: 190px;
}

.login-box_right {
}

.login-box h1 {
	font-size: 1.8em;
	color: #333;
	margin-bottom: 20px;
	font-weight: 400;
	font-stretch: normal;
}

.form-control {
	border-radius: 0px;
	height: 45px;
	margin-bottom: 15px;
	box-shadow: none;
}

input[placeholder] {
	font-size: 18px;
	font-weight: 400;
}

.login-box_right .table {
	border: none;
}

.login-box_right a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
}
.login-box .btn {
	border-radius: 0px;
	font-size: 20px;
	background: #24b4ff;
	border: none;
}

/*dashboard page css start*/
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

#main_wrapper {
	max-width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 50px;
}

header {
	background: #222222;
	padding: 10px;
}

header a {
	color: #ffffff;
	font-size: 1em;
	line-height: 45px;
}

header .dropdown {
	margin-left: 15px;
}

header .dropdown.ux-tickets-link {
	background-color: #146BB5;
	display: inline-block;
}

@media screen and (max-width: 768px) {
	header .dropdown.ux-tickets-link {
		display: none;
	}
}

header a:hover, header a:link, header a:focus {
	text-decoration: none;
	color: #f2f2f2;
}

.dropdown-menu {
	background-color: #5E5E5E;
	border-radius: 0px;
	width: 100%;
	max-width: 216px;
}

.dropdown-menu > li > a {
	color: #fff;
}

.leftbar {
	background: #363f44;
	width: 125px;
	position: fixed;
	top: 68;
	left: 0;
	height: 100%;
	z-index: 10;
}

.leftbar ul {
	padding: 0;
	margin: 0;
}

.leftbar ul li {
	list-style: none;
}

.leftbar ul li a {
	color: #fff;
	padding: 25px 17px;
	display: block;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #434a4e;
}

.leftbar ul li a:hover, .leftbar ul li a.active {
	background: url(../img/aarow.png) right center no-repeat;
}

.leftbar p {
	margin-bottom: 0px;
	margin-top: 10px;
}

.addproject {
	margin: 25px 0px !important;
}

.addproject .btn {
	background: #35aa47 !important;
	padding: 15px 18px 15px 13px;
	font-size: 22px;
	border-radius: 0px;
	border: none;
	margin-bottom: 15px;
}

.addproject a:hover {
	background: #089733 !important;
}

.projectlist {
	margin-top: 5px;
}

.projectlist .table > thead > tr > th, .projectlist .table > tbody > tr > th, .projectlist .table > tfoot > tr > th {
	background: #605c5d !important;
	color: #fff;
	font-size: 19px;
}

.projectlist .table > thead > tr > td, .projectlist .table > tbody > tr > td, .projectlist .table > tfoot > tr > td {
	font-size: 16px;
}

.projectlist .table img {
	border: 1px solid #ccc;
}

.projectlist .table img:hover {
	border: 1px solid #999;
}

.projectlist a {
	color: #333;
}

.projectlist a:hover {
	color: #1A8EBD;
}

.projectlist .table a img {
	border: none;
	padding-right: 8px;
}

.projectlist .table a img:hover {
	border: none;
}

.projectlist .table > thead > tr > th, .projectlist .table > tbody > tr > th, .projectlist .table > tfoot > tr > th, .projectlist .table > thead > tr > td, .table > tbody > tr > td, .projectlist .table > tfoot > tr > td {
	vertical-align: middle;
	padding: 10px;
	border: none;
}

.projectlist .table-striped > tbody > tr:nth-child(2n+1) > td, .projectlist.table-striped > tbody > tr:nth-child(2n+1) > th {
	background: #efefef;
}

.projectlist table {
	background: #e4e4e4;
}

/*project preview page css start*/
.project-preview {
	margin-top: 25px;
}

.project-preview h2 {
	font-size: 27px;
	color: #39393a;
	margin-top: 2px;
}

.breadcrumb {
	padding: 8px 1px;
	background: none;
}

.project-thumbnail {
	margin-top: 10px;
}

.project-thumbnail a img {
}

.project-thumbnail h1 {
	font-size: 4em;
	color: #333232;
	float: left;
	margin-top: 175px;
	height: 67px;
	overflow: hidden;
}

.project-thumbnail a:hover {
	text-decoration: none;
}

.project-detail {
	margin-top: 10px;
}

.project-detail .table > thead > tr > th, .project-detail .table > tbody > tr > th, .project-detail .table > tfoot > tr > th {
	background: #e1dfdf;
	font-size: 22px;
	color: #333232;
	padding: 10px;
	width: 25% !important;
}

.act {
	background: #f3eed9 !important;
	font-size: 20px !important;
}

.project-detail .table-striped > tbody > tr:nth-child(2n+1) > td {
}

.project-detail .table > tbody > tr {
	background: #f5f6f7;
	border-bottom: 1px dashed #ddd;
	font-size: 16px;
}

.project-detail .table a {
	color: #191818;
}

.project-detail .table a:hover {
	color: #1A8EBD;
}

.project-detail .table a.active {
	background-color: #1AAB43;
	color: #fff;
	padding: 3px 10px;
	border-radius: 5px;
}

.project-detail .table a.error {
	background-color: #EA4F4F;
	color: #fff;
	padding: 3px 10px;
	border-radius: 5px;
}

/*add-project page css*/
.add-new-project {
	margin-top: 25px;
}

.add-new-project h2 {
	font-size: 27px;
	color: #39393a;
	margin-top: 2px;
}

.file-area {
	width: 100%;
	background: #e1e1e1;
	padding: 15px 10px;
}

.drop-area {
	width: 550px;
	background: #fff;
	border: 1px solid #ccc;
	height: 130px;
	margin-bottom: 15px;
}

.file-area .btn-group {
	width: 550px;
}

.file-area .btn {
	border-radius: 0px;
	background: #fff;
	color: #333;
	border: none;
	margin-top: 0px !important;
	padding: 8px 15px !important;
}

.file-area .btn:active, .file-area .btn.active, .file-area .btn:hover {
	background: #666666;
	color: #fff;
}

.btn-group label {
	width: 115px;
	margin-bottom: 10px;
}

.add-new .btn {
	border-radius: 0px;
	font-size: 18px;
	margin: 10px 0px;
	padding: 10px 18px;
}


@media (max-width:1480px) {
.project-thumbnail h1 {
	font-size: 4em;
	margin-top: 178px;
}

}

@media (max-width: 1200px) {
.project-thumbnail h1 {
	font-size: 4em;
	margin-top: 162px;
}

}

@media (min-width: 980px) and (max-width: 1199px) {
	.project-thumbnail h1 {
		font-size: 3em;
		margin-top: 155px;
		height: 47px;
	}
}

/*@media (min-width: 820px) and (max-width: 979px) {
.project-thumbnail h1 {
	
	margin-top:105px !important;
	
}	
}*/

@media (min-width: 768px) and (max-width: 979px) {

.project-thumbnail h1 {
	font-size: 3.1em;
	margin-top: 15%;
	clear: both;
	height: 50px;
}

}

@media (max-width: 767px) {

.project-thumbnail h1 {
	font-size: 3em;
	margin-top: 15px;
	clear: both;
	height: 48px;
}

.drop-area {
	width: 408px;
}

.file-area .btn-group {
	width: 408px;
}

.login-box {
	width: 400px;
	height: 360px;
	margin-left:-200px;
	margin-top: -180px;
}

.login-box_left {
	padding-top: 0%;
	margin-top: 0%;
	border-right: none;
	min-height: 0;
}

.login-box_left img .img-responsive {
	display: none;
}

.login-box_left h1 {
	text-align: center !important;
}

.login-box_right {
}

.login-box_right h1 {
	font-size: 1.65em;
	color: #333;
	margin-bottom: 20px;
	font-weight: 400;
	font-stretch: normal;
	margin-top: 0%;
	text-align: center;
}

}


@media (max-width:479px) {

.project-thumbnail h1 {
	font-size: 2em;
	margin-top: 15px;
	height: 33px;
}

.drop-area {
	width: 270px;
}

.file-area .btn-group {
	width: 270px;
}

.login-box {
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	margin: 0%;
}

.login-box_left {
	padding-top: 5%;
	margin-top: 0%;
	border-right: none;
	min-height: 0;
}

.login-box_left img .img-responsive {
	display: none;
}

.login-box_left h1 {
	text-align: center !important;
}

.login-box_right {
}

.login-box_right h1 {
	font-size: 1.65em;
	color: #222;
	margin-bottom: 20px;
	font-weight: 400;
	font-stretch: normal;
	margin-top: 5%;
	text-align: center;
}

}

/*added by ankit*/
input[type=radio].css-checkbox {
	display:none;
}

input[type=radio].css-checkbox + label.css-label {
	height:32px; 
	width: 100%;
	display:inline-block;
	line-height:32px;
	background-repeat: repeat-x;
	background-position: 0 0;
	font-size:19px;
	vertical-align:middle;
	cursor:pointer;
	font-size: 13px;
	text-align: center;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -32px;
	color: #fff;
}

label.css-label {
	background-image:url(../img/radio-bg.jpg);
	background-repeat: repeat-x !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.space {
	padding-left:0px !important;
	padding-right:0px !important;
}

.project-detail .table > tbody > tr.act {
	height: 49px;
}

.project-detail table tr:nth-child(1){
	background: #f3eed9 !important;
	font-size: 20px;
}

#ProjectFileFilename {
	width: 100%;
	min-height: 130px;
	padding: 15px !important;
}

.publishProject span, .deleteProject span {
	font-size: 12px;
	color: #000;
}

.publishProject span:hover, .deleteProject span:hover {
	color: #000;
	text-decoration: none;
}

.publishProject:hover, .deleteProject:hover {
	text-decoration: none;
}

#contentLeft {
}

#contentLeft ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/*#contentLeft ul li{
	background-color: #000;
	color: #fff;
	padding: 10px;
	margin-bottom: 2px;
	cursor: pointer;
}*/
/*edited by smrita on 08/20/14*/
/*footer css start*/
footer,
.push {
	height: 50px;
	clear: both;
}

footer {
	background: #222;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 12px; 
	width: 100%;
}

footer p {
	margin: 0;
	padding: 0;
}

.projectlist ul {
	padding: 0px;
	margin: 0px;
}

.projectlist ul li {
	float: left;
	list-style: none;
	width: 100%;
}

.projectlist ul.heading li:first-child {
	background: #605c5d !important;
	color: #fff;
	font-size: 19px;
	line-height: 45px !important;
}

.projectlist ul li:nth-child(even) {
	background-color:#E4E4E4 !important; 
	padding: 10px 0px 5px 0px;
	line-height: 70px;
}

.projectlist ul li:nth-child(odd) {
	background-color:#EFEFEF;
	padding: 10px 0px 5px 0px;
	line-height: 70px;
}

header .col-xs-5 {
	padding-left: 0px;
}

header .col-xs-2 .col-xs-offset-5 a {
	line-height: 48px;
}

.dropdown {
	margin-top: 0px;
	text-align: right;
    background-color: #5E5E5E;
	padding-right: 15px;
	padding-left: 15px;
}

.imagedimension {
	width: 250px;
	height: 230px;
}

.resp {
	min-width:650px;
	margin:0 auto; 
	max-width: 100%;
}

.ui-sortable {
	overflow-x:hidden;
}

.ui-sortable li a img {
	vertical-align: middle !important;
	padding-right: 5px;
}

.project-detail ul {
	padding: 0px;
	margin: 0px;
}

.project-detail ul li {
	float: left;
	list-style: none;
	width: 100%;
	border-bottom:1px dashed #ccc;
	background-color: #fafafa;
	font-size: 16px;
	line-height: 50px;
}

.project-detail ul li:first-child {
	background: #E1DFDF !important;
	color: #333232;
	font-size: 22px;
	line-height: 50px !important;
}

.project-detail ul li:nth-child(2) {
 	background: #F3EED9 !important;
	color: #333232;
	font-size: 18px;
}

.resp1 {
	min-width:830px; width:100%; margin:0 auto;
}

.ui-sortable1 {
	overflow-x:none;
}

@media (max-width:850px) {
.ui-sortable1 {
	overflow-x:scroll;
	}
}

@media (min-width: 300px) and (max-width: 360px) {

	header a {
		font-size: 13px;
	}

	header .col-xs-3 {
    	padding-right: 0;
	}

}

/*edited on 21-08*/


.imageContainer {
	width:225px;
	height: 225px;
	overflow:hidden;
	text-align:center;
    line-height: 212px;
    border:2px solid #ccc;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.increaseHeight img {
    height: 100%;
}

.ext img {
   margin-right: 5px;
}

 .ext input[type=radio].css-checkbox {
	display:none;
}

.ext input[type=radio].css-checkbox + label.css-label {
	height:32px; 
	width: 100%;
	display:inline-block;
	line-height:32px;
	background-repeat: repeat-x;
	background-position: 0 0;
	font-size:19px;
	vertical-align:middle;
	cursor:pointer;
	font-size: 13px;
	text-align: center;
}

.ext input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -32px;
	color: #fff;
}

.ext label.css-label {
	background-image:url(../img/radio-bg1.jpg);
	background-repeat: repeat-x !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ThumBtn {
	display: block;
	width: 85px;
	height: 75px;
	float: left;
}

.ThumBtn img {
	width: 100%;
	max-height: 75px;
}

#authMessage {
 	color: #c3c3c3;
 	text-align: center;
 	padding-top: 280px;
}

#searchFilter {
	width: 80%;
	padding: 4px 10px;
	font-size: 25px;
	margin-top: 7px;
}

/*added by smrita on 18 march*/

.projectlist .lbl {
	font-size: 12px;
	text-transform: capitalize;
	color: #000;
	padding-right: 12px;
}

.projectlist .lbl:hover {
	text-decoration: none;
	color: #000;
}

.pull-left.mobile {
    margin-left: 5px;
    margin-top: -3px;
}

@media screen and (max-width: 767px) {

	.pull-left.mobile {
		margin-top: 2px !important;
	}

	.projectlist .lbl {
		font-size: 0px ;
	}

	.addproject .btn {
		margin-top: 7px;
    	padding: 9px 10px 14px 11px;
    	margin-bottom: 0px;
    	font-size: 14px;
	}

	.addproject .pull-left {
		margin-top: 5px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.addproject .btn {
		font-size: 16px;
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 679px) { 

	.pull-left.mobile {
		display: none; 
	}

	.addproject .btn { 
		padding: 11px 15px 16px 17px;
	}
}

.editProject span,
.jquery_action_status span {
	font-size: 12px;
	color: #000;
	
}

.editProjectFiles a {
	font-size: 12px !important;
	text-decoration: none;
}

.nodecor {
	margin-left:138px; 
	font-size:12px; 
	text-align: middle;
}

.nodecor:hover {
	color: #000 !important;
}

.nodecor span {
	padding-left: 4px;
}

.project-detail table td {
	position: relative;
}

.project-detail table td .pop {
	position: absolute;
	z-index: 99;
	background-color: #d4d1d0;
	left: 160px;
	border-radius: 5px;
	top: -47px;
	padding: 6px;
	font-size: 14px;
	box-shadow: 2px 3px 3px #888888;
}

.project-detail table td .pop a {
	text-decoration: none;
	display: block;
    padding: 7px;
}

.pop {
	display: none;
}

.pop::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d4d1d0 transparent transparent;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right: 10px solid #d4d1d0;
    border-style: solid;
    border-width: 12px;
    content: "";
    height: 0;
    left: -18%;
    position: absolute;
    top: 49%;
    width: 0;
}

@media (min-width: 300px) and (max-width: 360px) {
	.project-detail table td .pop a {
		margin: 0 3px;
	}
}

.project-detail table td p {
	font-size: 13px;
	margin: 0;
}

.project-detail .table > thead > tr > th, 
.project-detail .table > tbody > tr > th, 
.project-detail .table > tfoot > tr > th, 
.project-detail .table > thead > tr > td,
.project-detail .table > tbody > tr > td,  
.project-detail .table > tfoot > tr > td {
	height: 84px;
	vertical-align: top;
}

.error-message {
	color: #F00;
	padding: 10px 0px;
	margin: 10px 0px;
}

.drop-area .error-message {
	margin: 70px 0px 10px;
}

.ui-widget {
	z-index: 9999999 !important;
}

#accordion.panel-group .panel {
	overflow: inherit !important;
}

#accordion table tr td {
	vertical-align: top !important;
}

#accordion .panel-title > a {
	display: block;
	padding: 10px 15px;
}

#accordion .panel-title > a:hover,
#accordion .panel-title > a:focus {
	text-decoration: none !important;
}

#accordion .panel-heading {
	padding: 0px;
	background-color: #DADADA;
}

#accordion .panel-heading a {
	color: #498655;
}

#accordion .form-group.date-container {
	width: 190px !important;
}

#accordion .form-group.date-container .date input {
	height: auto !important;
}

#assignModal .form-group {
	margin-bottom: 0px;
}

#assignModal .form-control {
	margin: 0px;
	width: 300px;
	height: 34px;
}

.assigned-projects .btn {
	color: #fff !important;
	margin-right: 5px;
}

.assigned-projects .deleteTicket {
	float: right;
	padding: 10px 20px;
}

.assigned-projects span {
	margin: 0px;
	padding: 0px;
}

.tickets-container {
	padding: 10px 0px;
	overflow-x: auto;
}

.tickets-container .tickets-head div {
	background-color: #605c5d;
	padding: 15px;
	font-size: 19px;
	color: #fff;
	margin-bottom: 15px;
}

.tickets-container .tickets {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: solid 1px #E2E2E2;
}

.tickets-container .tickets .table-responsive {
	clear: both;
	padding-top: 15px;
}

.tickets-container .tickets .table-bordered {
	background-color: #CECECE;
}

.tickets-container .tickets .table-bordered td {
	border: solid 1px #E2E2E2 !important;
	font-size: 13px !important;
}

.tickets-container .tickets .table-responsive .form-inline .form-group {
	padding-right: 10px;
}

.tickets-container .tickets .table-responsive .form-inline label {
	font-size: 13px;
	font-weight: normal !important;
	margin: 0px;
	padding: 0 5px 0 0px;
}

.tickets-container .tickets .table-responsive .form-inline input {
	padding: 5px;
	margin: 0px;
	height: auto;
}

.tickets-container a:hover,
.tickets-container a:focus {
	text-decoration: none;
}

.tickets-container .glyphicon {
	font-size: 11px;
	padding-left: 3px;
}

.hours-container {
	display: none;
}

.actions select.users,
.ticket-actions select.users {
	height: 34px;
	width: 130px;
	margin-bottom: 0px;
	margin-right: 10px;
}

.actions .btn {
	margin-right: 5px;
	margin-top: 5px;
}

#searchTicket {
	width: 100%;
	padding: 8px;
	margin-bottom: 12px;
}

#ProjectFileAdminChangeTitle,
#ProjectFileAdminSearchTags {
	display: none; 
}

#ProjectFileAdminChangeTitle .form-group,
#ProjectFileAdminSearchTags .form-group {
	width: 100%;
}

#ProjectFileAdminChangeTitle .form-group input,
#ProjectFileAdminSearchTags .form-group input {
	width: 100%;
	margin: 0px;
	padding: 7px 10px;
	height: auto;
	font-size: 4em !important;
	border: 0px;
	border-bottom: solid 1px #ccc !important;
	background-color: transparent;
}

#ProjectFileAdminSearchTags .form-group input {
	font-size: 2em !important;
}

#ProjectFileAdminChangeTitle .form-group input:focus,
#ProjectFileAdminSearchTags .form-group input:focus {
	box-shadow: none !important;
}

.assigned-projects {
	min-width: 1000px;
}

.assigned-projects .clearfix {
	margin-bottom: 15px;
}

.assigned-projects .hours {
	cursor: pointer;
	color: #428bca;
}

.assigned-projects .hours:hover {
	/*text-decoration: underline;*/
}

.assigned-projects a {
	cursor: pointer;
	color: #428bca;
}

.assigned-projects a:hover {
	/*text-decoration: underline;*/
}

.assigned-projects span {
	font-size: 12px;
}

.assigned-projects-head {
	background-color: #ccc;
	padding: 14px 0px;
	margin-bottom: 15px;
	margin-top: 10px;
	min-width: 1000px;
}

@media (max-width: 767px) {
	.tickets .table-responsive {
		overflow: hidden;
		border: 0px;
	}

	.tickets-container .tickets .table-responsive .form-inline .form-group {
		display: inline-block;
	}
}

#loader {
	opacity: .7;
	z-index: 999999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url('../img/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
}

.mailMessage {
	width: 100%;
	min-height: 100px;
}

.mail-container {
	background-color: #CECECE;
	margin-top: 15px;
	display: none;
	padding: 15px;
}

.mail-container h2 {
	padding-top: 0px;
	margin-top: 0px;
	font-weight: bold;
	font-size: 16px;
}

.check-email {
	cursor: pointer;
    color: #428bca;
}

.projectNameContainer {
	line-height: 19px;
    padding-left: 21px;
    padding-top: 20px;
    width: 80%;
}

.projectNameContainer a {
	font-size: 15px;
	float: left;
}

.projectNameContainer p {
	float: right;
	margin: 5px 0px 5px;
}

.projectNameContainer p a.addThumBtn {
	font-size: 12px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	color: #146BB5;
}

.ui-sortable li:hover p a.addThumBtn {
	opacity: 1;
	filter: alpha(opacity=100);
}