	
	a:hover,.entry p a,.archive-tit a:hover,.text_block a,.post_meta > li a:hover, #sidebar a:hover, #comments .comment-author a:hover,#comments .reply a:hover,.fourofour-wrap a,.archive-meta-unit a:hover,.post-meta-unit a:hover,
	.blog_meta a:hover,.breadcrumbs a:hover,.link-wrap a:hover,.item_title a:hover,.item_des a:hover,.archive-wrap h3 a:hover,.post-color-default,.latest-posts-tags a:hover,
	.carousel-wrap a:hover,.iocnbox:hover i,.blog-item-main h2 a:hover,div.bbp-template-notice,h1.main_title .bbp-breadcrumb a:hover,.related-post-wrap h3:hover a,.latest-posts-tit-a:hover,
	.woocommerce .price,.text_block .add_to_cart_button:hover,.woocommerce ul.product_list_widget li a:hover,.woocommerce ul.product_list_widget a>.amount,.woocommerce ul.product_list_widget ins .amount, 
	.woocommerce .sidebar_widget .widget_shopping_cart a.button:hover,.woocommerce-page .sidebar_widget .widget_shopping_cart a.button:hover

	{ 
		color:#00CF75; 
	}
	.pagenums a:hover,.pagenums .current,.page-numbers.current,.sidebar_widget .tagcloud a:hover,.related-post-wrap h3:before,.header-slider-item-more:hover,
	.process-bar,.nav-tabs > li > a:hover,.testimenials:hover,.testimenials:hover .arrow-bg,
	.sidebar_widget .widget_uxconatactform input#idi_send:hover,input.idi_send:hover,.page-numbers:hover,#bbp-user-navigation li a:hover,
	.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, 
	.woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt,
	.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, 
	.woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover,.woocommerce #commentform input[type="submit"]#submit,
	.chosen-container .chosen-results li.highlighted,.woocommerce .widget_layered_nav_filters ul li a, .woocommerce-page .widget_layered_nav_filters ul li a,.woocommerce-page #content input.button,.woocommerce-page #content input.button:hover
	{ 
		background-color:#00CF75;
	}
	textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus,
	.sidebar_widget .widget_uxconatactform textarea:focus,.sidebar_widget .widget_uxconatactform input[type="text"]:focus,#respondwrap textarea:focus,#respondwrap input:focus
	{ 
		border-color:#00CF75; 
	}

	
	
	.slider-panel,.quote-wrap,#main_title_wrap,.nav-tabs > li,.item_des,.audio_player_list,.promote-wrap,.process-bar-wrap,.post_meta,.pagenumber a,.countdown_section,.progress-wrap .progress-bar,.interlock-item,
	.pagenumber span,.testimenials,.testimenials .arrow-bg,.carousel-wrap a,.pagenums a,.pagenums span,.accordion-heading,.page-numbers,.testimonial-thum-bg,.latest-posts-tit,.single-feild,.gallery-wrap-sidebar .related-post-wrap,.gallery-wrap-sidebar .comment-wrap,
	.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,.woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error,.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info,.cart-summary,.woocommerce-info,.returning-customer,table.shop_table th,
	.woocommerce-checkout form.checkout input[type="text"],.chosen-container-active.chosen-with-drop .chosen-single,.woocommerce-page form .form-row textarea,.woocommerce-checkout .form-row .chosen-container-single .chosen-single,
	.woocommerce form.login, .woocommerce form.checkout_coupon, .woocommerce form.register, .woocommerce-page form.login, .woocommerce-page form.checkout_coupon, .woocommerce-page form.register,.order_details,.order-address-box
	{ 
		background-color: #FAFAFA; 
	}
	.progress_bars_with_image_content .bar .bar_noactive.grey 
	{
	  color: #FAFAFA; 
	}
	.border-style2,.border-style3,.nav-tabs > li > a,.tab-content,.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,.tabs-v,.single-feild
	{ 
		border-color: #FAFAFA; 
	}
	.nav.nav-tabs, .tabs-v .nav-tabs > li:last-child.active>a{
		border-bottom-color: #FAFAFA; 
	}
	.tab-content.tab-content-v {
		border-left-color: #FAFAFA; 
	}
	.tabs-v .nav-tabs > .active > a {
		border-top-color: #FAFAFA; 
	}
	
	
	#logo a, #logo-page a, #logo-mobile a,
	#logo a:hover, #logo-page a:hover, #logo-mobile a:hover,.site-loading-logo  { 
		color:#EEEEEE 
	}
	

	#sidebar,.site-loading,.page-loading,
	#navi ul li ul.sub-menu li, 
	#navi ul li:hover,
	.brick-grey
	{
		background-color: #333333;
	}


	#navi a,#mobile-advanced a,.menu-icon i,#navi ul li ul.sub-menu:before,
	input[type="text"].textboxsearch,.submit-wrap i,.icons-sidebar-unit,#woocomerce-cart-side a
	{ 
		color: #A3A3A3; 
	}
	.site-loading .loading-dot1, .site-loading .loading-dot2,
	.page-loading .loading-dot1, .page-loading .loading-dot2
	{ 
	  background-color: #A3A3A3; 
	}


	#navi ul li:hover>a,
	#navi ul li.current-menu-item>a,
	#navi ul li.current-menu-ancestor>a,
	#mobile-advanced li>a:hover,
	#mobile-advanced li.current-menu-item>a,
	#mobile-advanced li.current-menu-ancestor>a,
	.icons-sidebar-unit:hover i
	{ 
		color:#FFFFFF; 
	}
	#navi ul li a:before
	{ 
		background-color: #FFFFFF; 
	}


	#navi ul.sub-menu a { color:#A3A3A3; }


	.copyright,.copyright a { color:#666666; }

	
	#comments .comment-author a,h1,h2,h3,h4,h5,h6,.archive-tit a,.blog-item-main h2 a,.item_title a,#sidebar .social_active i:hover,.countdown_amount,.latest-posts-tit a,
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,.accordion-heading .accordion-toggle,.item_des .item_title a,
	.infrographic.bar .bar-percent,.jqbar.vertical span,.item_title a,.team-item-con-back a,.team-item-con-back i,.team-item-con-h p,.slider-panel-item h2.slider-title a,
	#respondwrap textarea, #respondwrap input, .contactform input[type="text"], .contactform textarea,#respondwrap input#submit:hover,.contactform input[type="submit"]:hover,input.wpcf7-form-control.wpcf7-submit:hover,
	.woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info
	{ 
		color:#333333; 
	}
	
	li.commlist-unit,
	.gallery-wrap-fullwidth .gallery-info-property,
	.accordion-heading,
	#respondwrap textarea, #respondwrap input, .contactform input[type="text"], .contactform textarea,
	#respondwrap input#submit,.contactform input[type="submit"]
	{ 
		border-color: #333333; 
	}
	h1.main-title:before,.team-item-con,.archive-wrap li:before,.ux-btn:hover,.related-post-wrap h2:before,#respondwrap input#submit,.contactform input[type="submit"],
	.galleria-info,#float-bar-triggler,.float-bar-inn,.galleria-image-nav-left:after, .galleria-image-nav-right:after,.comm-reply-title:after,.tw_style a,
	.promote-button:hover,.filter-floating li, .filter-floating-triggle,.item_title:before,.accordion-style-b .accordion-heading a:before,.accordion-style-b .accordion-heading a:after,
	.separator_inn.bg-,.carousel-indicators li,.woocommerce select.orderby,.woocommerce-page select.orderby,.woocommerce .widget_price_filter .price_slider_amount .button, 
	.woocommerce-page .widget_price_filter .price_slider_amount .button
	 {
	  background-color: #333333;
	}
	
	
	body,a,.entry p a:hover,.text_block a:hover,#content_wrap,#comments .reply a,#comments,.blog-item-excerpt,.item_des,.item_des a,
	h3#reply-title small, #comments .nav-tabs li.active h3#reply-title .logged,#comments .nav-tabs li a:hover h3 .logged,
	.header-info-mobile,.carousel-wrap a.disabled:hover,.filters li a:hover,
	.woocommerce #content .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce .quantity .plus, .woocommerce-page #content .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page .quantity .plus,
	.woocommerce a.button, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button,.woocommerce-page #content input.button.update-cart-button,
	.woocommerce-page button.button, .woocommerce-page #respond input#submit, .woocommerce-message .ux-btn,.woocommerce p.stars span a:hover,.woocommerce input#coupon_code, .woocommerce input[type="text"].qty, 
	.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,.woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-error:before,.woocommerce-message .ux-btn:hover,.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before,
	.chosen-container-single .chosen-single,.text_block .add_to_cart_button,.woocommerce .price .star-rating span, .woocommerce-page .price .star-rating span
	{ 
	  color: #444444; 
	}
	.filters li a:before,.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range
	{
		background-color: #444444; 
	}
	.woocommerce .order_details li, .woocommerce-page .order_details li
	{
		border-color: #444444; 
	}
	
	.post_meta>li,.post_meta>li a,.blog_meta,.blog_meta a,.post-meta, .post-meta a,.archive-meta-unit,.archive-meta-unit a,.latest-posts-tags a,
	#mobile-header-meta p,.bbp-meta,.bbp-meta a,.bbp-author-role,.bbp-pagination-count,span.bbp-author-ip,.bbp-forum-content,.infrographic-subtit,
	.woocommerce .price del,.woocommerce .star-rating:before, .woocommerce-page .star-rating:before
	{ 
	  color:#999999; 
	}
	.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty,
	.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, 
	.woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus 
	{
		border-color: #999999; 
	}
	

    ::selection { background: #00CF75; }
	::-moz-selection { background: #00CF75; }
	::-webkit-selection { background: #00CF75; }

	
	#main,.separator h4,.float-bar-triggler-inn:before, .float-bar-triggler-inn:after, .float-bar-triggler-inn,
	.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,.tab-content,.filters.filter-floating li a:before,
	.chosen-container .chosen-drop,.modal-dialog .modal-content
	{ 
	  background-color: #FFFFFF;
	}
	.testimenials span.arrow,.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus { 
		border-bottom-color: #FFFFFF; 
	}
	.tabs-v .nav-tabs > .active > a
	{ 
	  border-right-color: #FFFFFF; 
	}
	#post-navi ,#post-navi a,.float-bar-social-share button,#respondwrap input#submit,.contactform input[type="submit"],.tw_style a,
	.filter-floating a,.filter-floating a:hover,.filter-floating i,.galleria-info-title, .galleria-image-nav, .galleria-counter,
	.woocommerce select.orderby,.woocommerce-page select.orderby,.woocommerce .widget_price_filter .price_slider_amount .button, 
	.woocommerce-page .widget_price_filter .price_slider_amount .button
	{
	  color: #FFFFFF; 
	}
	
	
	#sidebar-widget { 
	  background-color: #FAFAFA;
	}
	
	
	.sidebar_widget h3.widget-title,
	.sidebar_widget h3.widget-title a { 
	  color: #666666;
	}
	
	
	.sidebar_widget,
	.sidebar_widget a,
	.woocommerce .sidebar_widget a.button,
	.woocommerce .sidebar_widget a.button:hover { 
	  color: #999999; 
	}

	.woocommerce .sidebar_widget a.button,
	.woocommerce .sidebar_widget a.button:hover {
	  border-color: #999999; 
	}

	.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, 
	.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	  background-color: #999999; 
	}

	
	.galleria-container {
	  background-color: #424242;
	}
	
	body,input[type="text"],textarea,div.bbp-template-notice p,legend { font-family: "Open Sans",sans-serif ;}
    body,input[type="text"],textarea,div.bbp-template-notice p,legend { font-weight: 300; font-style: normal;}
	h1,h2,h3,h4,h5,h6 { font-family:  "Open Sans",sans-serif; }
    h1,h2,h3,h4,h5,h6 { font-weight: 300; 
    	font-style: normal;}
	#logo a, #logo-page a, #logo-mobile a,.site-loading-logo { font-family: "Open Sans",sans-serif;}
    #logo a, #logo-page a, #logo-mobile a,.site-loading-logo{ font-size: 38px;}
    #logo a, #logo-page a, #logo-mobile a,.site-loading-logo{ font-weight: 700; 
    	font-style: normal;}
    #navi a { font-size: 14px;}
    #navi a { font-weight: normal; 
    	font-style: normal;}
    	#navi .menu a.active
    	{
    		color:#FFFFFF; 
    	}
    .copyright { font-size: 13px;}
    h1.main-title { font-size: 46px;}
    #content_wrap { font-size: 13px;}
    ul.sidebar_widget h3.widget-title { font-size: 16px; }
    ul.sidebar_widget .widget-container { font-size: 12px;}
	.galleria-info-title { font-size: 12px;}
 #logo-mobile a { font-size:32px; }

.logo
{
	width: 240px; height: 240px; background: #d4d4d4;
}
.logo h1
{
	text-align:center;
}
 .all_cat
 {
 	position: absolute; left: 0px; top: 0px;  width: 240px; height: 240px;
 }
 .all_cat1
 {
 	position: absolute; left: 0px; top: 0px;  width: 240px; height: 480px;
 }
 .all_cat2
 {
 	position: absolute; left: 0px; top: 0px; width: 480px; height: 240px;
 }
 .all_cat3
 {
 	position: absolute; left: 0px; top: 0px; width: 480px; height: 480px;
 }
 .me
 {
 	margin: -1px 0px 0px -1px; position: relative; overflow: hidden; height: 1200px;
 }
 .sm
 {
 	margin:1px 0 0 1px;
 }
 