#versionNum_VersionNumDiv{margin-top:20px;}

.divNotificationMsg{margin-top:-340px; color:Red; margin-left:30px; font-weight:bold; max-width:450px;}

.marketAdsImg {
	width:100%;
	max-width: 281px;
}

.LoginLinks td:hover {
		/*background-image: url(images/SelectedLink_light.jpg);
		background-repeat: no-repeat;
		background-position: 5px 0px;*/
		background:#d6d6d6;
		border-radius:5px 5px 0 0;
}

.navIcon {
    background: url(images/nav-icon.jpg) no-repeat;
    width: 42px;
    height: 42px;
    float: right;
    margin: 10px;
    cursor: pointer;
	display:none;
}

.mobileNav{
	display:none;
}

.clearFix{
	clear:both;
}

/*.calendarWidth{
	max-width:150px;
	width: 98% !important;
}*/

.selectBox{
	/*max-width: 306px;*/
	width: 100%;
}

/*.bgNone table input[type="text"]{
    width: auto !important;
}*/

.bgNone div{ 
	padding-top: 20px;
	padding-right: 3px;
}

/*.resTable input{
	width:auto !important;
}*/

/*.wid104{
	width: 104px;
}*/

.homeLink{
	width: 250px; 
	height: 80px; 
	display: block; 
	margin-left: -20px;
}

.innerHomeLink{
	width: 198px;
	height: 80px; 
	display: block; 
	margin-left: -200px; 
	float: left;
}