.clearbox{
	clear:both;
}
.ui-header .ui-btn, .ui-footer .ui-btn{
	background:none !important;
	border:none !important;
	margin:0px;
	padding:5px;
	box-shadow:none !important;
}
.ui-header{
	background-image:url(../images/header-bg.jpg);
	background-repeat:repeat-x;
	border:none;
}
#activity-page .ui-header, #activity-search .ui-header, #activity-detail .ui-header{
	background-image:url(../images/activity-bg.jpg);
}
#contact-us .ui-header{
	background-image:url(../images/contact-bg.jpg);
}
#direction .ui-header{
	background-image:url(../images/direction-bg.jpg);
}
#events-page .ui-header, #events-search .ui-header, #events-detail .ui-header{
	background-image:url(../images/events-bg.jpg);
}
#facility-page .ui-header, #facility-search .ui-header, #facility-detail .ui-header{
	background-image:url(../images/facility-bg.jpg);
}
.ui-nodisc-icon{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	margin-top:5px !important;
}
.ui-icon-bars:after{
	background-size:75% !important;
}
.ui-header h1.ui-title{
	font-size:1.1em !important;
	text-shadow:0px 0px 0px !important;
	font-family: 'Roboto', 'sans-serif';
	font-weight:normal !important;
	margin:0 auto !important;
	width:auto !important;
}
.ui-content{
	padding:0px;
}
.ui-listview > .ui-li-static{
	padding:0px !important;
}
.ui-listview > .ui-li-static h3{
	margin:0px !important;
}
.ui-icon-carat-r:after{
	background:none !important;
	background-image:none !important;
}
.ui-listview li a{
	font-size:16px;
	font-weight:normal;
}
.nav-home{
	background-image:url(../images/nav-home.png);
	background-repeat:no-repeat;
	background-position:left -10px;
	background-size:17%;
	padding-left:45px;
}
.nav-events{
	background-image:url(../images/nav-event.png);
	background-repeat:no-repeat;
	background-position:left -6px;
	background-size:17%;
	padding-left:45px;
}
.nav-activities{
	background-image:url(../images/nav-activities.png);
	background-repeat:no-repeat;
	background-position:left -8px;
	background-size:19%;
	padding-left:45px;
}
.nav-facilities{
	background-image:url(../images/nav-facilities.png);
	background-repeat:no-repeat;
	background-position:left -4px;
	background-size:15%;
	padding-left:45px;
}
.nav-directions{
	background-image:url(../images/nav-direction.png);
	background-repeat:no-repeat;
	background-position:left -7px;
	background-size:17%;
	padding-left:45px;
}
.nav-privacy{
	background-image:url(../images/nav-privacy.png);
	background-repeat:no-repeat;
	background-position:left -5px;
	background-size:17%;
	padding-left:45px;
}
.nav-contact{
	background-image:url(../images/nav-contact.png);
	background-repeat:no-repeat;
	background-position:left -6px;
	background-size:17%;
	padding-left:45px;
}
.nav-promotion{
	background-image:url(../images/nav-restaurant.png);
	background-repeat:no-repeat;
	background-position:left -6px;
	background-size:17%;
	padding-left:29px;
	background-color:#333333;
}
.nav-promotion:hover, .nav-promotion:hover a{
	background-color:#373737;
}
.nav-promotion a{
	border:none;
	padding-left:0px !important;
	margin-left:15px !important;
	box-shadow:none !important;
}
.banner-container{
	/*background-color:#000000;
	padding:20px;*/
}
.fluidHeight {
	position: relative;
	width: 100%;
	height: 300px;
	background-color:#000000;
	max-width:768px;
	margin:0 auto;
}
@media screen and (max-width: 900px) {
	.fluidHeight {
		min-height: 25px;
		height:0px;
		padding: 0 0 33.333% 0;
	}
}
.sliderContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}
.iosSlider {
	width: 900px;
	height: 100%;
	background: #aaa;
	min-height:120px !important;
}
.iosSlider .slider {
	width: 100%;
	height: 100%;
}
.iosSlider .slider img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 0 0 0;
}
.iosSliderButtons {
	position: absolute;
	bottom: 10px;
	left: 45%;
	height: 10px;
}

.iosSliderButtons .button {
	float: left;
	width: 13px;
	height: 13px;
	background: #999;
	margin: 0 10px 0 0;
	opacity: 0.25;
	filter: alpha(opacity:25);
	border: 1px solid #000;
	border-radius:10px;
}

.iosSliderButtons .selected {
	background: #a5131e;
	opacity: 1;
	filter: alpha(opacity:100);
}
#activity-page .iosSliderButtons .selected {
	background:#92278f;
}
#events-page .iosSliderButtons .selected, #events-detail .iosSliderButtons .selected {
	background:#85b425;
}
#facility-page .iosSliderButtons .selected, #facility-detail .iosSliderButtons .selected {
	background:#efc702;
}
.fluidHeight i{
	display:none;
}
.news-container{
	max-width:768px;
	width:100%;
	margin:0 auto;
	font-family: 'Roboto', 'sans-serif';
}
.news-container h2{
	font-size:20px;
	text-transform:uppercase;
	color:#a5131e;
	text-align:center;
}
.news-container h3{
	font-size:15px;
	text-align:left;
	margin:0px;
	padding:0px;
}
.news-container h3 a, .news-container h3 a:hover{
	color:#a5131e;
	text-decoration:none;
}
#activity-page .news-container h3 a, #activity-page .news-container h3 a:hover{
	color:#92278f;
}
#facility-page .news-container h3 a, #facility-page .news-container h3 a:hover{
	color:#ffd402;
}
.news-container p{
	font-size:12px;
	color:#212121;
	text-align:left;
	margin:0px;
	padding:0px;
}
.media-box{
	max-width:360px;
	width:45.5%;
	float:left;
	margin-left:3.8%;
	margin-bottom:20px;
}
.media-box img{
	width:95%;
	border:solid 2px #313131;
}
.ui-bar, .ui-body{
	background-color:#f7f7f7;
	font-family: 'Roboto', 'sans-serif';
	padding-top:10px !important;
	height:50px;
	border:none;
}
.ui-bar a, .ui-body a{
	margin:0px !important;
	padding:0px !important;
	border:none !important;
	box-shadow:none !important;
}
.ui-bar a:hover, .ui-body a:hover{
	background:none !important;
}
.ui-bar a p, .ui-body a p{
	margin:0px;
	padding:0px;
	font-size:13px;
}
.ui-grid-d{
	border-top:solid 1px #eaeaea; !important;
	border-bottom:solid 1px #eaeaea; !important;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e{
	border-right:solid 1px #eaeaea;
	margin-top:10px;
	margin-bottom:10px;
}
.ui-footer{
	background:none !important;
}
.ui-icon-arrow-l{
	width:80px !important;
	margin-top:8px !important;
	text-shadow:none !important;
}
.ui-icon-arrow-l:after{
	background-image:url(../images/back-Arrow.png) !important;
	background-color:transparent !important;
	border:none !important;
}
.form-container{
	max-width:768px;
	width:93%;
	margin:0 auto;
}
.ui-alt-icon.ui-icon-search:after, .ui-alt-icon .ui-icon-search:after, .ui-input-search:after{
	right:12px !important;
	left:auto !important;
}
.ui-btn-icon-notext:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after{
	display:none;
}
.search-container{
	max-width:768px;
	width:92%;
	margin:0 auto;
}
.search-media-box{
	padding-bottom:40px;
	margin-top:0px;
}
.search-media-box img{
	float:left;
	width:25%;
	max-width:187px;
	margin-right:20px;
}
.search-media-body{
	float:left;
	width:40%;
}
.search-media-body h3{
	font-size:20px;
	margin:0px;
	padding:0px;
	font-family: 'Roboto', 'sans-serif';
}
.search-media-body h3 a, .search-media-body h3 a:hover{
	color:#92278f;
	text-decoration:none;
}
#facility-search .search-media-body h3 a, #facility-search .search-media-body h3 a:hover{
	color:#efc702;
	text-decoration:none;
}
.search-media-body p{
	margin:0px;
	padding:0px;
	font-family: 'Roboto', 'sans-serif';
	font-size:13px;
}
.media-buttons-container{
	float:right;
	width:25%;
}
button.ui-btn, .ui-controlgroup-controls button.ui-btn-icon-notext{
	background:#92278f !important;
	border:none;
	color:#fff !important;
	text-shadow:none !important;
	box-shadow:none !important;
}
#facility-search button.ui-btn, #facility-search .ui-controlgroup-controls button.ui-btn-icon-notext{
	background:#f2c902 !important;
}
#facility-detail button.ui-btn, #facility-detail .ui-controlgroup-controls button.ui-btn-icon-notext{
	background:#f2c902 !important;
}
.detail-container{
	max-width:768px;
	width:92%;
	margin:0 auto;
	padding-bottom:50px;
}
.detail-body{
	padding-bottom:20px;
}
.detail-body h2{
	text-align:center;
	color:#92278f;
	font-family: 'Roboto', 'sans-serif';
	margin:0px;
	padding:20px 0 10px 0px;
	border-bottom:solid 1px #92278f;
}
#facility-detail .detail-body h2{
	color:#f2c902;
	border-color:#f2c902;
}
#promotion-detail .detail-body h2{
	color:#bf1e2e;
	border-color:#bf1e2e;
}
.detail-body p{
	font-family: 'Roboto', 'sans-serif';
	font-size:14px;
	text-align:justify;
	line-height:20px;
	margin:0px;
	padding:20px 0 0px 0px;
}
.detail-body ul.activity-detail{
	margin:0px;
	padding:20px 0 0 0px;
	list-style-type:none;
}
.detail-body ul.activity-detail li{
	float:left;
	width:46%;
	min-height:35px;
	font-size:13px;
	border-bottom:solid 2px #eeeeee;
	margin-right:17px;
	margin-bottom:20px;
}
.detail-body ul.activity-detail li img{
	float:left;
	margin-right:7px;
}
.detail-body ul.activity-detail li span{
	float:left;
	padding-top:7px;
}
.activity-button{
	width:261px;
	margin:0 auto;
}
#promotion-detail .activity-button{
	width:275px;
}
.activity-button button.ui-btn, .ui-controlgroup-controls button.ui-btn-icon-notext{
	min-width:110px;
	min-height:43px;
}
button.facebook{
	background:#4a6ea9 !important;
	background-image:url(../images/facebook.jpg) !important;
	background-position:10px center !important;
	background-repeat:no-repeat !important;
	padding-left:30px;
}
#facility-detail button.facebook{
	background-color:#4a6ea9 !important;
	background-image:url(../images/facebook.jpg) !important;
	background-position:10px center !important;
	background-repeat:no-repeat !important;
}
button.foursquare{
	background:#2097ce !important;
	background-image:url(../images/foursquare.jpg) !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
	padding:0 20px 0 20px !important;
	min-width:140px !important;
}
.contact-container{
	max-width:768px;
	width:92%;
	margin:0 auto;
	padding:20px 0 20px 0;
}
.contact-container p{
	font-family: 'Roboto', 'sans-serif';
	font-size:14px;
	line-height:20px;
	margin:0px;
	padding:0px;
}
hr{
	clear:both;
	color:#d9d9d9;
}
.enquires img.mail-icon, .enquiry img.phone-icon{
	width:20% !important;
	max-width:29px;
}
.enquires h2{
	font-family: 'Roboto', 'sans-serif';
	font-size:20px;
	color:#0065a0;
	text-transform:uppercase;
}
.enquiry-inner{
	padding-bottom:10px;
}
.enquiry-inner img{
	float:left;
	margin-right:10px;
}
.enquiry-inner p{
	float:left;
}
.enquiry-inner p.phone{
	padding-top:5px;
}
.information-container{
	padding-top:30px;
}
.information-container img.contact-bar{
	width:100%;
}
.information{
	float:left;
	width:47%;
	margin-right:15px;
	margin-bottom:10px;
	padding-top:20px;
}
.information p{
	margin:0px;
	padding:0px;
}
.information h2{
	padding: 0 0 10px 0;
	margin:0px;
}
.information p.category{
	text-transform:uppercase;
}
.information-inner{
	padding-bottom:10px;
}
.information-inner img{
	float:left;
	margin-right:10px;
}
.information-inner p{
	float:left;
}
.information-inner p.phone{
	padding-top:5px;
}
#direction .form-container{
	padding-bottom:80px;
	text-align:center;
}
#direction .ui-field-contain label{
	border:none !important;
	background:none !important;
}
#direction button.ui-btn, .ui-controlgroup-controls button.ui-btn-icon-notext{
	background:#ef5728 !important;
}
#direction #tabs ul li a{
	background:#f3f2f2 !important;
	box-shadow:none !important;
	border:none !important;
	color:#7d7d7d !important;
	text-shadow:none !important;
}
#direction #tabs ul li a.ui-btn-active{
	background-image:url(../images/direction-bg.jpg) !important;
	background-position:left bottom -47px !important;
	background-repeat:repeat-x !important;
}
#direction #tabs ul li a img{
	height:43px;
}
#direction .ui-controlgroup-controls {
	width:218px !important;
	float:none !important;
	margin:0 auto;
}
#direction .ui-checkbox label.location:after{
	background:none !important;
}
#events-search .search-media-box{
	border-bottom:solid 1px #e0e0e0;
	padding-bottom:20px;
	margin-bottom:20px;
}
#events-search .search-media-body{
	width:70%;
	min-height:150px;
}
#events-search .search-media-body h3 {
	padding-bottom:3px;
}
#events-search .search-media-body h3 a{
	color:#85b425;
}
#events-search .search-media-body ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	padding-top:30px;
}
#events-search .search-media-body ul li{
	font-family: 'Roboto', 'sans-serif';
	font-size:13px;
	float:left;
	padding:0 5px 0 5px;
	line-height:35px;
}
#events-search .search-media-body ul li a{ 
	padding:3px 0 3px 0px;
	color:#212121;
	text-decoration:none;
}
#events-search .search-media-body ul li a.search{
	background-image:url(../images/search-icon.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:35px;
}
#events-search .search-media-body ul li a.book-now{
	background-image:url(../images/book-icon.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:35px;
}
#events-detail .detail-body h2{
	color:#81b129;
	border-color:#81b129;
}
#events-detail button.promocode{
	background-color:#ff8a00 !important;
	text-transform:uppercase !important;
	min-width:207px;
}
#events-detail button.tickets{
	background-color:#81b129 !important;
	text-transform:uppercase !important;
	min-width:207px;
}
#events-detail .activity-button{
	width:440px;
}
#events-detail p.terms-conditions{
	font-size:19px;
	padding-bottom:20px;
}
#events-detail p.terms-conditions a{
	color:#81b129;
}
.events-table{
	text-align:left;
}
.events-table th, td{
	padding:8px;
}
.events-table tbody tr:nth-child(odd) td, .events-table tbody tr:nth-child(odd) th {
    background-color: #eeeeee;
    background-color: rgba(0,0,0,.04);
}
#events-detail .detail-container .ui-collapsible-content{
	background:none !important;
}
#events-detail .detail-container .ui-collapsible-heading-toggle{
	background:none !important;
	border-top:none !important;
	border-color:#81b129 !important;
	color:#81b129 !important;
	font-size:23px;
	box-shadow:none !important;
}
#events-detail .detail-container .ui-collapsible-content p{
	padding:10px 0 0 0px;
}
.promotion-container{
	max-width:768px;
	width:92%;
	margin:0 auto;
}
.promotion-container .ui-btn-active{
	background-color:#bf1e2e !important;
	box-shadow:none !important;
	text-shadow:none !important;
	border-color:#bf1e2e !important;
}
.promotion-container .ui-grid-b li{
	width:31.5%;
	margin-right:5px;
	text-transform:uppercase;
}
.promotion-container .breadcrumb{
	float:right;
	font-family: 'Roboto', 'sans-serif';
}
.promotion-container .breadcrumb p{
	font-size:14px;
	float:left;
	margin-right:10px;
}
.promotion-container .breadcrumb ul{
	float:right;
	margin:0 5px 0 0px;
	padding:10px 0 0 0px;
	list-style-type:none;
}
.promotion-container .breadcrumb ul li{
	font-size:14px;
	float:left;
	padding:4px;
}
.promotion-container .breadcrumb ul li a{
	color:#212121;
	text-decoration:none;
}
.promotion-container .breadcrumb ul li a.active{
	color:#bf1e2e;
}
.promotion-container h2{
	font-family: 'Roboto', 'sans-serif';
	color:#bf1e2e;
	border-bottom:solid 2px #bf1e2e;
	padding-bottom:5px;
	margin:0 0 40px 0px;
	padding:0px;
}
.promotion-container .media-box{
	float:none;
	width:100% !important;
	margin:0 0 30px 0px;
	padding:0px;
	max-width:768px;
}
.promotion-container .media-box img{
	float:left;
	width:30%;
	margin-right:15px;
	border:none !important;
}
.promotion-container .media-box h3{
	float:left;
	margin:0px;
	padding:0px;
	width:64%;
	color:#bf1e2e;
	font-family: 'Roboto', 'sans-serif';
	font-size:22px;
}
.promotion-container .media-box p{
	float:left;
	margin:0px;
	padding:0px;
	width:64%;
	font-family: 'Roboto', 'sans-serif';
}
div.ui-btn, .ui-input-search{
	box-shadow: none;
	border-radius:0px !important;
}