@media screen and (min-width: 481px) and (max-width:768px){
	#events-search .search-media-box img{
		width:39% !important;
	}
	#events-search .search-media-body{
		width:56% !important;
	}
	#events-search .search-media-body{
		min-height:0px !important;
	}
}
