@media screen and (max-width: 480px) {
	.ui-header h1.ui-title{
		margin-left:27px !important;
	}
	#activity-page .ui-header h1.ui-title{
		margin-left:0px !important;
	}
	#activity-detail .ui-header h1.ui-title{
		margin-left:-40px !important;
	}
	#contact-us .ui-header h1.ui-title{
		margin-left:-22px !important;
	}
	#direction .ui-header h1.ui-title{
		margin-left:-25px !important;
	}
	#events-page .ui-header h1.ui-title, #events-search .ui-header h1.ui-title, #events-detail .ui-header h1.ui-title{
		margin-left:-25px !important;
	}
	#facility-page .ui-header h1.ui-title, #facility-search .ui-header h1.ui-title, #facility-detail .ui-header h1.ui-title{
		margin-left:-25px !important;
	}
	#promotion-detail .ui-header h1.ui-title{
		margin-left:-35px !important;
	}
	.ui-nodisc-icon{
		margin-top:0px !important;
	}
	.news-container h3{
		font-size:13px;
	}
	.ui-bar, .ui-body {
		padding:2px;
		font-size:10px;
		color:#424242;
		text-align:center;
	}
	.ui-bar a p, .ui-body a p{
		margin:0px;
		padding:0px;
		font-size:10px;
	}
	.search-media-box img{
		margin-right:10px;
	}
	.search-media-body h3{
		font-size:14px;
		padding-bottom:5px;
	}
	.search-media-body p{
		font-size:10px;
	}
	.media-buttons-container{
		width:27%;
	}
	button.ui-btn, .ui-controlgroup-controls button.ui-btn-icon-notext{
		padding:5px;
		font-size:11px;
	}
	.detail-body ul.activity-detail li{
		width:100%;
	}
	.activity-button{
		width:238px;
	}
	#events-search .search-media-box img{
		width:39%;
	}
	#events-search .search-media-body{
		width:57%;
	}
	#events-search .search-media-body ul{
		padding-top:9px !important;
	}
	#events-search .search-media-body ul li{
		font-size:11px;
		padding:2px;
	}
	#events-search .search-media-body ul li a{
		background-size:20% !important;
		padding-left:20px !important;
	}
	#events-search .search-media-body{
		min-height:0px !important;
	}
	#events-detail button.promocode{
		min-width:135px !important;
	}
	#events-detail button.tickets{
		min-width:135px !important;
	}
	#events-detail button.facebook{
		background:#4a6ea9 !important;
		background-image:url(../images/facebook.jpg) !important;
		background-position:10px center !important;
		background-repeat:no-repeat !important;
		padding-left:30px;
		padding-top:10px;
		padding-bottom:10px;
	}
}
@media screen and (max-width: 580px) {
	.information{
		width:100%;
	}
}

