#versionNum_VersionNumDiv{margin-top:20px;}

.divNotificationMsg{margin-top:-340px; color:Red; margin-left:30px; font-weight:bold; max-width:450px;}

.marketAdsImg {
	width:100%;
	max-width: 281px;
}

.LoginLinks td:hover {
		/*background-image: url(images/SelectedLink_light.jpg);
		background-repeat: no-repeat;
		background-position: 5px 0px;*/
		background:#d6d6d6;
		border-radius:5px 5px 0 0;
}

.navIcon {
    background: url(images/nav-icon.jpg) no-repeat;
    width: 42px;
    height: 42px;
    float: right;
    margin: 10px;
    cursor: pointer;
	display:none;
}

.mobileNav{
	display:none;
}

.fLeft{float:left;}

.fRight{float:right;}

.clearFix{
	clear:both;
}

/*.calendarWidth{
	max-width:150px;
	width: 98% !important;
}*/

.selectBox{
	/*max-width: 306px;
	width: 100%;*/
}

/*.bgNone table input[type="text"]{
    width: auto !important;
}*/

.bgNone div{ 
	padding-top: 20px;
	padding-right: 3px;
}

/*.resTable input{
	width:auto !important;
}*/

/*.wid104{
	width: 104px;
}*/

.homeLink{
	width: 250px; 
	height: 80px; 
	display: block; 
	margin-left: -20px;
}

.innerHomeLink{
	width: 198px;
	height: 80px; 
	display: block; 
	margin-left: -200px; 
	float: left;
}

.payImgCon{
	width:15%;
}

.payImgCon img{
	text-align: center;
}

.payTextCon{
	width:85%;
}

.pTextLink{font-size:10px; padding-left: 5px;}

.annualBillingTable td {
    padding: 2%;
    width: 46%;
}

.bsbValue .wid48P{
	max-width:30px;
	width: 48% !important;
}

.padBL{
	padding-bottom:15px; padding-left:10px
}

.ChangePersonalDetails td{
    padding: 5px 0;
}

table.dobTable{
	margin-top:10px;
}

.dobTable td{
    padding: 5px 0;
    width: 50%;
}

.topText{
	font-weight:bold; 
	font-style:italic; 
	padding-left:30px;
	line-height:50px;
}

.tblHighlight select{
	width:96%;
}

.tblHighlight input[type="password"]{
	width:93%;
}

table.monthlyDueDate td{
        padding: 5px 0;
}

.nonCorMethod td{
    width:100% !important;
}

.nonCorMethod td .fLeft{
    float: right;
}

span.radioB {
    display: inline-block;
    min-height: 20px;
}

.logoutCon{
	float:left;
	width:100%;
	padding-top:5px;
	margin-bottom: 20px;
}

.loginButton{
	float: left !important;
    width: 220px !important;
}

#termCondContain{
	/*width:93%;*/
	overflow-y:auto;
	min-height:210px;
}

.billingPrintCon
{	overflow-y:scroll;
 	height:170px; 
 	width:100%; 
 	padding-bottom:2px;
}


.printPopup td:first-child	
{
	vertical-align:top;
}

.progressIcon{float: left; margin-left: 250px; margin-top: 5px}

.bgNone{background-image: none !important;}

.responsiveCon
{
    margin: 0 auto;
    width: 80%;
}

.conditionTextCon{
    overflow-y:scroll; 
    height:120px; 
    width:100%; 
    padding-bottom:2px;
}
  

.responsiveCon #termsConditionsPopup2{
    width:720px;
}

