.page-container.horizontal-menu header.navbar .navbar-brand{
	padding: 0px !important;
}
.page-container.horizontal-menu header.navbar .navbar-brand img{
	padding-top: 10px !important;
}
.error input{
	border-color: #CC2424;
}
.form-group .error-message{
	color: #CC2424;
	margin-top: 8px;
}