<div class="efforts index">
	<h2><?php echo __('Efforts'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('ticket_id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('hours'); ?></th>
			<th><?php echo $this->Paginator->sort('description'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($efforts as $effort): ?>
	<tr>
		<td><?php echo h($effort['Effort']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($effort['Ticket']['project'], array('controller' => 'tickets', 'action' => 'view', $effort['Ticket']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($effort['User']['username'], array('controller' => 'users', 'action' => 'view', $effort['User']['id'])); ?>
		</td>
		<td><?php echo h($effort['Effort']['hours']); ?>&nbsp;</td>
		<td><?php echo h($effort['Effort']['description']); ?>&nbsp;</td>
		<td><?php echo h($effort['Effort']['created']); ?>&nbsp;</td>
		<td><?php echo h($effort['Effort']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $effort['Effort']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $effort['Effort']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $effort['Effort']['id']), null, __('Are you sure you want to delete # %s?', $effort['Effort']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Effort'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Tickets'), array('controller' => 'tickets', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Ticket'), array('controller' => 'tickets', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
